@model MyERP.Models.UserPrivilege
@{
    if (System.Web.Configuration.WebConfigurationManager.AppSettings["ECommerce"] == "true")
    {
        Layout = "~/Views/Shared/_EcommerceLayout.cshtml";
    }
    else if (System.Web.Configuration.WebConfigurationManager.AppSettings["JobApp"] == "true")
    {
        Layout = "~/Views/Shared/JobApp.cshtml";
    }

    UICulture = Session["lang"] != null?Session["lang"].ToString():"ar";

    ViewBag.Title = MyERP.Properties.Resources.UserPrivilege;
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <h4 class="page-title">@MyERP.Properties.Resources.UserPrivilege</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card-box">
            <div class="row">
                <div class="col-12">
                    <div class="form-horizontal needs-validation" role="form">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @if (Model != null)
                        {
                            @Html.HiddenFor(model => model.Id)
                        }
                        <div class="card">
                            <div class="card-body">
                                <div class="form-group row">
                                    <label class=" col-sm-1 control-label" for="UserId">@MyERP.Properties.Resources.User</label>
                                    <div class="col-sm-4">
                                        @Html.DropDownList("UserId", null, @MyERP.Properties.Resources.Select, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-1 control-label" for="ModuleId">@MyERP.Properties.Resources.Management</label>
                                    <div class="col-sm-4">
                                        @Html.DropDownList("ModuleId", null, @MyERP.Properties.Resources.Select, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.PageId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-1 control-label">@MyERP.Properties.Resources.Screen</label>
                                    <div class="col-sm-4">
                                        <select id="PageId"></select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <button class="btn btn-success" onclick="allPagesPrivilleges()">@MyERP.Properties.Resources.DisplayAllScreensInTheUnit</button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <table class="table table-hover table-condensed">
                                        <thead>
                                            <tr>
                                                <th class="col-sm-8">@MyERP.Properties.Resources.Processes</th>
                                                <th class="col-sm-4">@MyERP.Properties.Resources.Privilege</th>
                                            </tr>
                                        </thead>
                                        <tbody id="Privileges"></tbody>
                                    </table>
                                </div>

                                <div class="form-group">
                                    <div class="panel-group panel" id="allPages">

                                    </div>
                                </div>
                                <div class="col-sm-offset-2">
                                    <button class="btn btn-success" onclick="addEdit()" id="pageBtn" style="display: none;">
                                        @MyERP.Properties.Resources.Save
                                    </button>
                                    <button class="btn btn-success" onclick="addEdit('all')" id="allPagesBtn" style="display: none;">
                                        @MyERP.Properties.Resources.Save
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    $(document).on('change', '#ModuleId', function () {
        if ($('#ModuleId').val()) {
            $.get('/UserPrivilege/PagesByModule/' + $('#ModuleId').val()).done(function (r) {
                console.log(r,"Modules")
                $('#PageId').empty();
                $('#PageId').append($('<option>', {
                    value: 0,
                    text: "@MyERP.Properties.Resources.Select"
                }));
                for (var i = 0; i < r.length; i++) {
                    $('#PageId').append($('<option>', {
                        value: r[i].Id,
                        text: r[i].ArName
                    }));
                }
            })
        }
    })

    $(document).on('change', '#PageId, #UserId', function () {
        if ($('#UserId').val() && $('#PageId').val() > 0) {
            $('#preloader, #status').fadeIn();
            $.get('/UserPrivilege/ActionsByPageId?userId=' + $('#UserId').val() + '&pageId=' + $('#PageId').val()).done(function (r) {
                console.log(r,"UserPriv")
                $('#Privileges').empty();
                $('#Privileges').closest('.form-group').show();
                $('#allPages').closest('.form-group').hide();
                $('#pageBtn').show();
                $('#allPagesBtn').hide();
                $('#Privileges').append('<tr><td class="col-sm-8">الكل</td><td class="col-sm-4"><input type="checkbox" id="checkAll" onclick="checkAll()" /></td></tr>' + r);
                $('#preloader, #status').fadeOut();
            }).fail(function () {
                $('#preloader, #status').fadeOut();
            });
        }
    });

    $(document).on('change', 'input[type="checkbox"]:not("#checkAll")', function () {
        $(this).prop('checked') ? null : $('#checkAll').removeAttr('checked');
    });

    function allPagesPrivilleges() {
        if ($('#UserId').val()) {
            $('#preloader, #status').fadeIn();
            $.get('/UserPrivilege/AllPages?id=' + $('#UserId').val() + '&moduleId=' + $('#ModuleId').val()).done(function (r) {
                console.log(r, "AllPages")
                $('#allPages').empty();
                $('#allPages').closest('.form-group').show();
                $('#Privileges').closest('.form-group').hide();
                $('#pageBtn').hide();
                $('#allPagesBtn').show();
                for (var i = 0; i < r.length; i++) {

                    if (!$('#page' + r[i].PageId).length) {
                        var panel = '<div class="panel-default panel" id="page' + r[i].PageId + '"><div class="panel-heading">' + r[i].Page + '</div><div class="panel-body"><table class="table table-hover table-condensed"><thead><tr><th class="col-sm-8">' + '@MyERP.Properties.Resources.Processes' + '</th><th class="col-sm-4">' + '@MyERP.Properties.Resources.Privilege' + '</th></tr></thead><tbody></tbody></table></div></div>';
                        $('#allPages').append(panel);
                        $('#page' + r[i].PageId).find('tbody').append('<tr><td class="col-sm-8">' + '@MyERP.Properties.Resources.All' + '</td><td class="col-sm-4"><input type="checkbox" class="checkAll"/></td></tr>')
                    }

                    var tr = '<tr><td class="col-sm-8"><input class="ActionId" type="hidden" value="' + r[i].ActionId + '" /><input class="PageId" type="hidden" value="' + r[i].PageId + '" />' + r[i].Action + '</td><td class="col-sm-4"><input type="checkbox" class="Privileged") /></td></tr>';
                    $('#page' + r[i].PageId).find('tbody').append(tr);
                    r[i].Privileged ? $('#page' + r[i].PageId + ' .Privileged:last').attr('checked', 'checked') : null;
                }
                $('#preloader, #status').fadeOut();
            }).fail(function () {
                $('#preloader, #status').fadeOut();
            });
        }
    }
    function checkAll() {
        if ($('#checkAll').prop('checked')) {
            $('input[type="checkbox"]').prop('checked', 'checked');
        } else {
            $('input[type="checkbox"]').removeAttr('checked');
        }
    }

    $(document).on('click', '.checkAll', function () {
        if ($(this).prop('checked')) {
            $(this).closest('tbody').find('.Privileged').prop('checked', 'checked');
        } else {
            $(this).closest('tbody').find('.Privileged').removeAttr('checked');
        }
    });

    $(document).on('click', '#allPages .Privileged', function () {
        $(this).prop('checked') ? null : $(this).closest('tbody').find('.checkAll').removeAttr('checked');
    });

    function addEdit(n) {
        var Privileges = [];
        var selector = n == 'all' ? '#allPages tr' : '#Privileges tr:not(:first)';
        $(selector).each(function () {
            var td = $(this);
            if (td.find('.ActionId').val()) {
                var userPrivilege = {
                    ActionId: td.find('.ActionId').val(),
                    PageId: n == 'all' ? td.find('.PageId').val() : $('#PageId').val(),
                    UserId: $('#UserId').val(),
                    Privileged: td.find('.Privileged').prop('checked'),
                };
                Privileges.push(userPrivilege);
            }
        });
        if ($('#UserId').val() == 1)
            alert('@MyERP.Properties.Resources.PrivilegesOfThisUserCannotBeModified'+'!');
        else {
            $('#preloader, #status').fadeIn();
            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: '/UserPrivilege/Index/',
                data: JSON.stringify({
                    userPrivileges: Privileges
                }),
                success: function (r) {
                    if (r == 'true') {
                        alert('@MyERP.Properties.Resources.Saved'+'!');
                    } else {
                        alert('@MyERP.Properties.Resources.NotSaved'+'!');
                    }
                    $('#preloader, #status').fadeOut();
                },
                error: function (r) {
                    alert('@MyERP.Properties.Resources.NotSaved'+'!');
                    console.log(r);
                    $('#preloader, #status').fadeOut();
                }
            });
        }
    }
</script>