@model MyERP.Models.Lesson

@{
    UICulture = Session["lang"] != null ? Session["lang"].ToString() : "ar";
    ViewBag.Title = @MyERP.Properties.Resources.Lectures;
}
<script src="~/Scripts/SaveAndNew.js"></script>
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                @if (Model != null)
                {
                    if (Model.IsDeleted == false)
                    {
                        if (ViewBag.Previous > 0)
                        {
                            <a href="@Url.Action("AddEdit", new { id = ViewBag.First })" class="btn btn-info">@MyERP.Properties.Resources.First</a>
                            <a href="@Url.Action("AddEdit", new { id = ViewBag.Previous })" class=" btn btn-info">&#8250;</a>
                        }
                        if (ViewBag.Next > 0)
                        {
                            <a href="@Url.Action("AddEdit", new { id = ViewBag.Next })" class="btn btn-info">&#8249;</a>
                            <a href="@Url.Action("AddEdit", new { id = ViewBag.Last })" class="btn btn-info">@MyERP.Properties.Resources.Last</a>
                        }
                        <a class="btn btn-info" href="@Url.Action("Index")" role="button">@MyERP.Properties.Resources.Back</a>
                    }
                }
                else
                {
                    <a class="btn btn-info" href="@Url.Action("Index")" role="button">@MyERP.Properties.Resources.Back</a>
                }
            </div>
            <h4 class="page-title"> @MyERP.Properties.Resources.Lectures </h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card-box">
            <div class="row">
                <div class="col-12">
                    <div class="form-horizontal needs-validation" role="form">
                        <div class="card">
                            <div class="card-body">
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @if (Model != null)
                                {
                                    @Html.HiddenFor(model => model.Id)
                                    @Html.HiddenFor(model => model.UserId)
                                    @Html.HiddenFor(model => model.IsDeleted)
                                    @Html.HiddenFor(model => model.IsActive)
                                    @Html.HiddenFor(model => model.Image)
                                }


                                <!-- Panel 1 -->
                                <div class="card">
                                    <div class="card-body">
                                        <div id="accordion">
                                            <h5 class=" pb-3 header-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                                    @MyERP.Properties.Resources.MainData
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapse1">
                                            <div class="form-group row">
                                                <label class=" col-sm-2 control-label" for="Id">@MyERP.Properties.Resources.Code</label>
                                                <div class="col-sm-4">
                                                    @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", placeholder = @MyERP.Properties.Resources.Code, required = "required" } })
                                                    <div class="invalid-feedback">
                                                        @MyERP.Properties.Resources.Required
                                                    </div>
                                                </div>
                                                <label class="control-label col-sm-2">@MyERP.Properties.Resources.Course</label>
                                                <div class="col-sm-4">
                                                    @Html.DropDownListFor(model => model.EducationalSubjectId, null, null, htmlAttributes: new { @class = "form-control", required = "required" })
                                                    <div class="invalid-feedback">
                                                        @MyERP.Properties.Resources.Required
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class=" col-sm-2 control-label" for="Id">@MyERP.Properties.Resources.ArName</label>
                                                <div class="col-sm-4">
                                                    @Html.EditorFor(model => model.ArName, new { htmlAttributes = new { @class = "form-control", placeholder = @MyERP.Properties.Resources.ArName, required = "required", type = "text" } })
                                                    <div class="invalid-feedback">
                                                        @MyERP.Properties.Resources.Required
                                                    </div>
                                                </div>
                                                <label class="col-sm-2 control-label" for="EnName"> @MyERP.Properties.Resources.EnName </label>
                                                <div class="col-sm-4">
                                                    @Html.EditorFor(model => model.EnName, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                                                    <div class="invalid-feedback">
                                                        @MyERP.Properties.Resources.Required
                                                    </div>
                                                </div>
                                            </div>
                                            @*<div class="form-group row">
            <label class="control-label col-sm-2" for="CognitiveGoal">@MyERP.Properties.Resources.CognitiveGoal</label>
            <div class="col-sm-4">
                <textarea id="CognitiveGoal" name="CognitiveGoal" class="form-control" rows="5" cols="5">@if (Model != null) { @Model.CognitiveGoal; }</textarea>
            </div>

            <label class="control-label col-sm-2" for="EmotionalGoal">@MyERP.Properties.Resources.EmotionalGoal</label>
            <div class="col-sm-4">
                <textarea id="EmotionalGoal" name="EmotionalGoal" class="form-control" rows="5" cols="5">@if (Model != null) { @Model.EmotionalGoal; }</textarea>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-2" for="Verse">@MyERP.Properties.Resources.Verse</label>
            <div class="col-sm-4">
                <textarea id="Verse" name="Verse" class="form-control" rows="5" cols="5">@if (Model != null) { @Model.Verse; }</textarea>
            </div>

            <label class="control-label col-sm-2" for="LessonContent">@MyERP.Properties.Resources.LessonContent</label>
            <div class="col-sm-4">
                <textarea id="LessonContent" name="LessonContent" class="form-control" rows="5" cols="5">@if (Model != null) { @Model.LessonContent; }</textarea>
            </div>
        </div>*@

                                            <div class="form-group row">
                                                <label class=" col-sm-2 control-label">@MyERP.Properties.Resources.LecturerName</label>
                                                <div class="col-sm-4">
                                                    @Html.EditorFor(model => model.LecturerName, new { htmlAttributes = new { @class = "form-control", placeholder = @MyERP.Properties.Resources.LecturerName, type = "text" } })
                                                    <div class="invalid-feedback">
                                                        @MyERP.Properties.Resources.Required
                                                    </div>
                                                </div>
                                                <label class="col-sm-2 control-label"> @MyERP.Properties.Resources.VideoLink </label>
                                                <div class="col-sm-4">
                                                    @Html.EditorFor(model => model.VideoLink, new { htmlAttributes = new { @class = "form-control", type = "text", placeholder = @MyERP.Properties.Resources.VideoLink } })
                                                    <div class="invalid-feedback">
                                                        @MyERP.Properties.Resources.Required
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class=" col-sm-2 control-label">@MyERP.Properties.Resources.PDFLink</label>
                                                <div class="col-sm-4">
                                                    @Html.EditorFor(model => model.PDFLink, new { htmlAttributes = new { @class = "form-control", placeholder = @MyERP.Properties.Resources.PDFLink, type = "text" } })
                                                    <div class="invalid-feedback">
                                                        @MyERP.Properties.Resources.Required
                                                    </div>
                                                </div>
                                                <label class="col-sm-2 control-label"> @MyERP.Properties.Resources.PowerPointLink </label>
                                                <div class="col-sm-4">
                                                    @Html.EditorFor(model => model.PowerPointLink, new { htmlAttributes = new { @class = "form-control", type = "text", placeholder = @MyERP.Properties.Resources.PowerPointLink } })
                                                    <div class="invalid-feedback">
                                                        @MyERP.Properties.Resources.Required
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="form-group row">

                                                <label class="control-label col-sm-2" for="Notes">@MyERP.Properties.Resources.Notes</label>
                                                <div class="col-sm-4">
                                                    <textarea id="Notes" name="Notes" class="form-control" rows="5" cols="5">@if (Model != null) { @Model.Notes; }</textarea>
                                                </div>
                                            </div>

                                            @* مكان صور *@
                                            <div class="form-group row">
                                                <div id="Lessonsgallery" style="width: 100%;margin: 20px;">
                                                    @{ if (Model != null && Model.LessonImages != null)
                                                        {
                                                            foreach (MyERP.Models.LessonImage img in Model.LessonImages)
                                                            {
                                                                <img onclick="LessonsShowModal(this)" data-toggle="modal" data-target="#ImageModal" src="@img.Image" alt="" class="img_@img.Id" style="max-width: 200px;max-height: 200px;" />
                                                                <i class="fas fa-trash-alt img_@img.Id" style="cursor:pointer;" onclick="DeleteLessons('@img.Id');$(this).prev().remove();$(this).remove();"></i>
                                                            }
                                                        }
                                                    }
                                                </div>
                                                <input type="file" id="LessonsBrowseImage" onchange="LessonspreviewFile()" value="Browse" multiple />
                                                <div style="display:none;">
                                                    @Html.ListBoxFor(i => i.LessonImages, new SelectList(Model == null ? new List<MyERP.Models.LessonImage>() : Model.LessonImages, "Id", "Image", Model == null ? null : Model.LessonImages), new { @class = "form-control1", placeholder = "Lesson Images" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Of Panel 1 -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-------------------------------------------------------------------------------------------------------->
            <div class="row">
                <div class="col-sm-offset-2">
                    @if (Model == null)
                    {
                        <button onclick="addEdit('new');" class="btn btn-success" id="newbtn">
                            @MyERP.Properties.Resources.SaveAndNew
                        </button>
                        <button onclick="addEdit();" class="btn btn-success" id="save">
                            @MyERP.Properties.Resources.Save
                        </button>
                        <a class="btn btn-danger" href="@Url.Action("Index")" role="button">@MyERP.Properties.Resources.Back</a>
                    }
                    else if (Model.IsDeleted == false)
                    {
                        <button onclick="addEdit();" class="btn btn-success" id="save">
                            @MyERP.Properties.Resources.Save
                        </button>
                        <a class="btn btn-danger" href="@Url.Action("Index")" role="button">@MyERP.Properties.Resources.Back</a>
                        <a href="javascript:void(0);" class="btn btn-danger" onclick="Delete(@Model.Id)" role="button">@MyERP.Properties.Resources.Delete</a>
                    }
                </div>
            </div>
            <!-------------------------------------------------------------------------------------------------------->
        </div>
    </div>
</div>

<!------------------------------------------------------------------------------------------------------->
<!---------- Modal Section ----------------->
<!--------------------------- End Of  Modal Section -------------------------------------------------------->

<script>

    //--------------- Variables Declarations -------------------//

    //*********************************************************//

    //--------------- Ready Function -------------------//
    $(document).ready(function () {

        if ($('#Id').val()) {
        }
        else {
            setCodeNum();

        }
    });
    //*********************************************************//

    //---------------------------------------------------------------- Lessons images gallery  --------------------------------------------------------------//
    function DeleteLessons(url) {
        $("#LessonImages option[value='" + url + "']").remove();
    }
    function LessonspreviewFile() {
        var reader = new FileReader();
        reader.addEventListener("load", function () {

            $("#Lessonsgallery").append('<img style="max-width: 200px;max-height: 200px;margin-left: 2%;margin-bottom: 2%;" src="' + reader.result + '" alt="" /></a><i class="fas fa-trash-alt" style="cursor:pointer;" onclick="DeleteLessons(\'' + reader.result + '\');$(this).prev().remove();$(this).remove();"></i>');
            $("#LessonImages").append("<option style='float: left;' selected=selected>" + reader.result + "</option>");
        }, false);

        for (var i = 0; i < $("#LessonsBrowseImage")[0].files.length; i++) {
            if ($("#LessonsBrowseImage")[0].files[i]) {
                reader.readAsDataURL($("#LessonsBrowseImage")[0].files[i]);
            }
        }
    }
    $("#LessonImages option").attr('selected', 'selected');
    $("#LessonImages").hide();
    $("#LessonsGetImage").click(function () {
        $("#LessonsGetImage").fadeOut();
        $('#LessonsUploadImage').photobooth().on("image", function (event, dataUrl) {
            $("#Lessonsgallery").append('<img style="max-width: 200px;max-height: 200px;margin-left: 2%;margin-bottom: 2%;" src="' + dataUrl + '" alt="" /><i class="fa fa-trash-o" style="cursor:pointer;position: absolute;" onclick="DeleteLessons("' + dataUrl + '");;$(this).prev().remove();$(this).remove();"></i>');
            $("#LessonImages").append("<option style='float: left;' selected=selected>" + dataUrl + "</option>");
        });
    });
    function LessonsShowModal(img) {
        let ImageSelected = $(img);
        let ImageSrc = ImageSelected[0].currentSrc;
        $('#Lessonsimagepreview').attr('src', ImageSrc);
    }


   //--------------- Event Functions -------------------//


    //--------------------------------------------------------------------------------------------------------------------------------------------------------------------//

    //*********************************************************//
    //--------------- Other Functions -------------------//

    function convertToTime(time) {
        if (time === null)
            return null;
        var hours = time.Hours;
        var minutes = time.Minutes;
        var seconds = time.Seconds;
        var ampm = hours >= 12 ? 'PM' : 'AM';
        hours = hours % 12;
        hours = hours ? hours : 12; // the hour '0' should be '12'
        hours = hours < 10 ? '0' + hours : hours;
        minutes = minutes < 10 ? '0' + minutes : minutes;
        seconds = seconds < 10 ? '0' + seconds : seconds;
        var strTime = hours + ':' + minutes /*+ ":" + seconds */+ ' ' + ampm;
        return strTime

        //2022 - 01 - 18T20: 23
    }

    function setCodeNum() {
        var doc = $.get('/Lesson/SetCodeNum').done(function (r) {
            $('#Code').val(r);
        });

    }
    function zeroPadded(val) {
        if (val >= 10)
            return val;
        else
            return '0' + val;
    }
    function convertToJavaScriptDate(value) {
        if (value === null)
            return null;
        var pattern = /Date\(([^)]+)\)/;
        var results = pattern.exec(value);
        var dt = new Date(parseFloat(results[1]));
        var month = (dt.getMonth() + 1) < 10 ? '0' + (dt.getMonth() + 1) : (dt.getMonth() + 1);
        var day = dt.getDate() < 10 ? '0' + dt.getDate() : dt.getDate();
        var hours = dt.getHours();
        var minutes = dt.getMinutes();
        var seconds = dt.getSeconds();
        var ampm = hours >= 12 ? 'PM' : 'AM';
        hours = hours % 12;
        hours = hours ? hours : 12; // the hour '0' should be '12'
        hours = hours < 10 ? '0' + hours : hours;
        minutes = minutes < 10 ? '0' + minutes : minutes;
        seconds = seconds < 10 ? '0' + seconds : seconds;
        var strTime = hours + ':' + minutes /*+ ":" + seconds + ' ' + ampm*/;
        return ((dt.getFullYear() + "-" + month + "-" + day) + "T" + strTime);

        //2022 - 01 - 18T20: 23
    }
    function convertToJavaScriptDate2(value) {
        if (value === null)
            return null;
        var pattern = /Date\(([^)]+)\)/;
        var results = pattern.exec(value);
        var dt = new Date(parseFloat(results[1]));
        var month = (dt.getMonth() + 1) < 10 ? '0' + (dt.getMonth() + 1) : (dt.getMonth() + 1);
        var day = dt.getDate() < 10 ? '0' + dt.getDate() : dt.getDate();
        var hours = dt.getHours();
        var minutes = dt.getMinutes();
        var seconds = dt.getSeconds();
        var ampm = hours >= 12 ? 'PM' : 'AM';
        hours = hours % 12;
        hours = hours ? hours : 12; // the hour '0' should be '12'
        hours = hours < 10 ? '0' + hours : hours;
        minutes = minutes < 10 ? '0' + minutes : minutes;
        seconds = seconds < 10 ? '0' + seconds : seconds;
        var strTime = hours + ':' + minutes /*+ ":" + seconds + ' ' + ampm*/;
        return ((dt.getFullYear() + "-" + month + "-" + day) );

        //2022 - 01 - 18T20: 23
    }

    function deleteElement(e) {
        let tr = $(e).closest('tr');
        if ($(tr).index() == 0 && $(tr).closest('tbody').children('tr').length == 1) {
            $(tr).find("input").val('');
            $(tr).find("label").text('');
            $(tr).find('input, select').removeAttr('required');
            // $(tr).find('select').empty();
            $(tr).find('select').prop('selectedIndex', 0);
            $(tr).find('select').select2();
            e.parentNode.parentNode.parentNode.removeChild(e.parentNode.parentNode);
        }
        else if ($(tr).index() < $(tr).closest('tbody').children('tr').length - 1) {
            e.parentNode.parentNode.parentNode.removeChild(e.parentNode.parentNode);
        }
        else if ($(tr).index() == $(tr).closest('tbody').children('tr').length - 1) {
            $(tr).find("input").val('');
            $(tr).find('input, select').removeAttr('required');
           // $(tr).find('select').empty();
            $(tr).find('select').prop('selectedIndex', 0);
            $(tr).find('select').select2();
            $(tr).find("label").text('');
            e.parentNode.parentNode.parentNode.removeChild(e.parentNode.parentNode);
        }
    }
    //*********************************************************//
    function addEdit(n) {
        let valid = true;
        if ($('.form-horizontal').first().find('.form-control:invalid').length > 0) {
            $('.form-horizontal').first().addClass('was-validated');
            $('html, body').animate({
                scrollTop: $('.form-horizontal').first().find(".form-control:invalid").eq(0).offset().top - 100
            }, 500);
            valid = false;
            console.log($(".form-control:invalid"));
        }
        var LessonImages = [];
        if (valid) {
            $('#LessonImages option').each(function () {
                var option = $(this);
                var LessonImage =
                {
                    LessonId: $('#Id').val(),
                    Image: option.text()
                };
                LessonImages.push(LessonImage);
            });
        }
        var Lesson = {
            Id: $('#Id').val(),
            Code: $('#Code').val(),
            ArName: $('#ArName').val(),
            EnName: $('#EnName').val(),
            EducationalSubjectId: $('#EducationalSubjectId').val(),
            EmotionalGoal: $('#EmotionalGoal').val(),
            CognitiveGoal: $('#CognitiveGoal').val(),
            Verse: $('#Verse').val(),
            LessonContent: $('#LessonContent').val(),
            UserId: $('#UserId').val(),
            IsDeleted: $('#IsDeleted').val(),
            IsActive: $('#IsActive').val(),
            Notes: $('#Notes').val(),
            Image: $('#Image').val(),
            LessonImages: LessonImages,
            LecturerName: $('#LecturerName').val(),
            VideoLink: $('#VideoLink').val(),
            PDFLink: $('#PDFLink').val(),
            PowerPointLink: $('#PowerPointLink').val(),
        }
        if (valid) {
            Swal.fire({
                title: '@MyERP.Properties.Resources.AreYouSureYouWantToSave',
                text: " ",
                icon: 'info',
                showCancelButton: true,
                confirmButtonText: '@MyERP.Properties.Resources.Ok',
                cancelButtonText: '@MyERP.Properties.Resources.Cancel',
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {

                    $('#preloader, #status').fadeIn();
                    $('#newbtn').prop('disabled', true);
                    $('#save').prop('disabled', true);
                    $.ajax({
                        type: "POST", contentType: "application/json",
                        url: "/Lesson/AddEdit",
                        data: JSON.stringify(Lesson),
                        success: function (r) {
                            if (r.success == true) {
                                Swal.fire({
                                    title: '@MyERP.Properties.Resources.Saved',
                                    text: " ",
                                    icon: 'success',
                                    showCancelButton: false,
                                    confirmButtonText: '@MyERP.Properties.Resources.Ok',
                                    confirmButtonColor: '#3085d6'
                                }); if (n == "new") {
                                    window.location.replace("/Lesson/AddEdit");
                                } else {
                                    window.location.replace("/Lesson");
                                }
                            }
                            else {
                                Swal.fire({
                                    title: '@MyERP.Properties.Resources.NotSaved !',
                                    text: " ",
                                    icon: 'error',
                                    showCancelButton: false,
                                    confirmButtonText: '@MyERP.Properties.Resources.Ok',
                                    confirmButtonColor: '#3085d6'
                                });
                            }
                            $('#preloader, #status').fadeOut();
                            $('#newbtn').prop('disabled', false);
                            $('#save').prop('disabled', false);
                        },
                        error: function (r) {
                            Swal.fire({
                                title: '@MyERP.Properties.Resources.NotSaved !',
                                text: " ",
                                icon: 'error',
                                showCancelButton: false,
                                confirmButtonText: '@MyERP.Properties.Resources.Ok',
                                confirmButtonColor: '#3085d6'
                            }); $('#preloader, #status').fadeOut();
                            $('#newbtn').prop('disabled', false);
                            $('#save').prop('disabled', false);
                        }
                    });
                }
                else { result.dismiss; }
            });
        }
    }

    function Delete(id) {
        Swal.fire({
            title: '@MyERP.Properties.Resources.AreYouSureYouWantToDelete',
            text: " ",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: '@MyERP.Properties.Resources.Ok',
            cancelButtonText: '@MyERP.Properties.Resources.Cancel',
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                $('#preloader, #status').fadeIn();
                $.ajax(
                    {
                        url: '/Lesson/Delete',
                        type: 'POST',
                        data: {
                            "Id": id,
                        },
                        error: function (e) {
                            $('#preloader, #status').fadeOut();
                            Swal.fire({
                                title: '@MyERP.Properties.Resources.DeleteDoesNotSucceeded',
                                text: " ",
                                icon: 'error',
                                showCancelButton: false,
                                confirmButtonText: '@MyERP.Properties.Resources.Ok',
                                confirmButtonColor: '#3085d6'
                            });
                        },
                        success: function (r) {
                            if (r == 'true') {
                                window.location.replace('/Lesson');
                            } else
                                Swal.fire({
                                    title: '@MyERP.Properties.Resources.DeleteDoesNotSucceeded',
                                    text: " ",
                                    icon: 'error',
                                    showCancelButton: false,
                                    confirmButtonText: '@MyERP.Properties.Resources.Ok',
                                    confirmButtonColor: '#3085d6'
                                });
                        }
                    });
            }
            else { result.dismiss; }
        });
    }

</script>