@model MyERP.Models.PropertyComponent
@{
    UICulture = Session["lang"] != null ? Session["lang"].ToString() : "ar";
    ViewBag.Title = @MyERP.Properties.Resources.PropertyComponents;
}

<script src="~/js/DeleteFunctionForAddEditView.js"></script>
<script src="~/Scripts/SaveAndNew.js"></script>

@Html.AntiForgeryToken()
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <a class="btn btn-info" href="@Url.Action("Index")" role="button" style="float:left;">@MyERP.Properties.Resources.Back</a>
            </div>
            <div class="hed page-title">@MyERP.Properties.Resources.PropertyComponents :</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card-box">
            <div class="form-horizontal needs-validation" role="form">
                @if (Model != null)
                {
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.IsActive)
                    @Html.HiddenFor(model => model.IsDeleted)
                    @Html.HiddenFor(model => model.UserId)
                    @Html.HiddenFor(model => model.Image)

                }
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                @* Panel 1 *@
                                <div class="card">
                                    <div class="card-body">
                                        <div id="accordion">
                                            <h5 class=" pb-3 header-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                                    @MyERP.Properties.Resources.MainData
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapse1">
                                            <div class="form-group row">
                                                <label for="Code" class="col-sm-2 control-label">@MyERP.Properties.Resources.Code</label>
                                                <div class="col-sm-4">
                                                    @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", placeholder = @MyERP.Properties.Resources.Code, @readonly = "readonly", required = "required" } })
                                                    <div class="invalid-feedback">
                                                        @MyERP.Properties.Resources.Required
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class=" col-sm-2 control-label" for="ArName">  @MyERP.Properties.Resources.ArName</label>
                                                <div class="col-sm-4">
                                                    @Html.EditorFor(model => model.ArName, new { htmlAttributes = new { @class = "form-control", placeholder = @MyERP.Properties.Resources.ArName, required = "required" } })
                                                    <div class="invalid-feedback">
                                                        @MyERP.Properties.Resources.Required
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class=" col-sm-2 control-label" for="EnName">  @MyERP.Properties.Resources.EnName</label>
                                                <div class="col-sm-4">
                                                    @Html.EditorFor(model => model.EnName, new { htmlAttributes = new { @class = "form-control", placeholder = @MyERP.Properties.Resources.EnName } })
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="control-label col-sm-2">@MyERP.Properties.Resources.Account</label>
                                                <div class="col-sm-4">
                                                    @Html.DropDownListFor(model => model.ExpenseAccountId, null, null, htmlAttributes: new { @class = "form-control", required = "required" })
                                                    <div class="invalid-feedback">
                                                        @MyERP.Properties.Resources.Required
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @* Panel 2 *@
                        <div class="card">
                            <div class="card-body">
                                <div id="accordion">
                                    <h5 class=" pb-3 header-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                            @MyERP.Properties.Resources.Details
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapse2">
                                    <div class="table-responsive">
                                        <table class="table table-centered mb-0">
                                            <thead>
                                                <tr>
                                                    <td>
                                                        @MyERP.Properties.Resources.Sequence
                                                    </td>
                                                    <td>
                                                        @MyERP.Properties.Resources.ArName
                                                    </td>
                                                    <td>
                                                        @MyERP.Properties.Resources.EnName
                                                    </td>
                                                    <td>
                                                        @MyERP.Properties.Resources.Price
                                                    </td>
                                                </tr>
                                            </thead>
                                            <tbody id="PropertyComponentDetails">
                                                @if (Model != null)
                                                {
                                                    foreach (var item in Model.PropertyComponentDetails)
                                                    {
                                                        <tr>
                                                            <td class="tabledit-edit-mode">
                                                                <input type="text" class="SequenceNo form-control tabledit-input form-control-sm" value="@item.SequenceNo" disabled readonly />
                                                            </td>

                                                            <td class="tabledit-edit-mode">
                                                                <input type="text" class="DetailArName form-control tabledit-input form-control-sm" value="@item.ArName" />
                                                            </td>
                                                            <td class="tabledit-edit-mode">
                                                                <input type="text" class="DetailEnName form-control tabledit-input form-control-sm" value="@item.EnName" />
                                                            </td>
                                                            <td class="tabledit-edit-mode">
                                                                <input type="number" step="any" class="Price money form-control tabledit-input form-control-sm" value="@item.Price" />
                                                            </td>
                                                        </tr>
                                                    }
                                                    <tr>
                                                        <td class="tabledit-edit-mode">
                                                            <input type="text" class="SequenceNo form-control tabledit-input form-control-sm" value="@(Model.PropertyComponentDetails.Count()+1)" disabled readonly />
                                                        </td>
                                                        <td class="tabledit-edit-mode">
                                                            <input type="text" class="DetailArName form-control tabledit-input form-control-sm" value="" />
                                                        </td>
                                                        <td class="tabledit-edit-mode">
                                                            <input type="text" class="DetailEnName form-control tabledit-input form-control-sm" value="" />
                                                        </td>
                                                        <td class="tabledit-edit-mode">
                                                            <input type="number" step="any" class="Price money form-control tabledit-input form-control-sm" value="" />
                                                        </td>
                                                    </tr>
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td class="tabledit-edit-mode">
                                                            <input type="text" class="SequenceNo form-control tabledit-input form-control-sm" value="1" disabled readonly />
                                                        </td>
                                                        <td class="tabledit-edit-mode">
                                                            <input type="text" class="DetailArName form-control tabledit-input form-control-sm" value="" />
                                                        </td>
                                                        <td class="tabledit-edit-mode">
                                                            <input type="text" class="DetailEnName form-control tabledit-input form-control-sm" value="" />
                                                        </td>
                                                        <td class="tabledit-edit-mode">
                                                            <input type="number" step="any" class="Price money form-control tabledit-input form-control-sm" value="" />
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!---------------------------------------------- Saves Buttons ----------------------------------------------------------->
                        <div class="row">
                            <div class="col-sm-offset-2">
                                @if (Model == null)
                                {
                                    <button onclick="addEdit('new');" class="btn btn-success" id="newbtn">
                                        @MyERP.Properties.Resources.SaveAndNew
                                    </button>
                                    <button onclick="addEdit();" class="btn btn-success" id="save">
                                        @MyERP.Properties.Resources.Save
                                    </button>
                                    <a class="btn btn-danger" href="@Url.Action("Index")" role="button">@MyERP.Properties.Resources.Back</a>
                                }
                                else if (Model.IsDeleted == false)
                                {
                                    <button onclick="addEdit();" class="btn btn-success" id="save">
                                        @MyERP.Properties.Resources.Save
                                    </button>
                                    <a class="btn btn-danger" href="@Url.Action("Index")" role="button">@MyERP.Properties.Resources.Back</a>
                                    <a href="javascript:void(0);" class="btn btn-danger" onclick="Delete(@Model.Id)" role="button">@MyERP.Properties.Resources.Delete</a>
                                }
                            </div>
                        </div>
                        <!----------------------------------------------------------------------------------------------------------------------------------------->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //--------------- Variables Declarations -------------------//
    var taxPercentage = 0.15;
    //*********************************************************//
    //--------------- Ready Function -------------------//
    $(document).ready(function () {
        if ($('#Id').val() > 0) {

        }
        else {
            setCodeNum();
            GetCurrentTaxPercentage();
        }
    });
    //*********************************************************//
    //--------------- Event Functions -------------------//

    $(document).on('change', '.Price', function () {
        AddToPropertyComponentDetails();
    });
    $(document).on('change', '.DetailArName', function () {
        AddToPropertyComponentDetails();
    });
    //*********************************************************//
     //--------------- Other Functions -------------------//
    function setCodeNum() {
        var doc = $.get('/PropertyComponent/SetCodeNum').done(function (r) {
            $('#Code').val(r);
        });
    }
    function zeroPadded(val) {
        if (val >= 10)
            return val;
        else
            return '0' + val;
    }
    //function GetCurrentTaxPercentage() {
    //    $.get('/TaxesPercentages/GetCurrentTaxPercentage?date=' + $('#ContractDate').val()).done(function (r) {
    //        taxPercentage = r / 100;
    //    });
    //}
    function AddToPropertyComponentDetails() {
        var SequenceNo = parseInt($('#PropertyComponentDetails tr').length) + 1;
        if ($('.DetailArName').last().val() != "") {
            $('#PropertyComponentDetails').find('.DetailArName, .Price').prop('required', 'required');
        }
        if ($('#PropertyComponentDetails .form-control:invalid').length > 0) {
            $('#PropertyComponentDetails').closest('.form-horizontal').addClass('was-validated');
            $('html, body').animate({
                scrollTop: $("#PropertyComponentDetails").find(".form-control:invalid").eq(0).offset().top - 80
            }, 500);
        }
        else if ($('#PropertyComponentDetails .Price:last').val() && $('#PropertyComponentDetails .DetailArName:last').val()) {
            let tr = ' <tr><td class="tabledit-edit-mode" ><input type="text" class="SequenceNo form-control tabledit-input form-control-sm" value="' + SequenceNo + '" disabled readonly /></td ><td class="tabledit-edit-mode"><input type="text" class="DetailArName form-control tabledit-input form-control-sm" value="" /></td><td class="tabledit-edit-mode"><input type="text" class="DetailEnName form-control tabledit-input form-control-sm" value="" /></td><td class="tabledit-edit-mode"><input type="number" step="any" class="Price money form-control tabledit-input form-control-sm" value="" /></td></tr>';
            $('#PropertyComponentDetails').append(tr);
        }
    }
    //*********************************************************//
        function addEdit(n) {
        let valid = true;
        if ($('.form-horizontal').first().find('.form-control:invalid').length > 0) {
            $('.form-horizontal').first().addClass('was-validated');
            $('html, body').animate({
                scrollTop: $('.form-horizontal').first().find(".form-control:invalid").eq(0).offset().top - 100
            }, 500);
            valid = false;
            console.log($(".form-control:invalid"));
        }
            var PropertyComponentDetails = [];
            if (valid) {
                $('#PropertyComponentDetails tr').each(function () {
                    var td = $(this);
                    var PropertyComponentDetail = {
                        PropertyComponentId: $('#Id').val(),
                        ArName: td.find('.DetailArName').val(),
                        EnName: td.find('.DetailEnName').val(),
                        SequenceNo: td.find('.SequenceNo').val(),
                        Price: td.find('.Price').inputmask('unmaskedvalue'),
                        IsDeleted: false,
                        UserId: $('#UserId').val(),
                        Notes: td.find('.Notes').val(),
                        Image: td.find('.Image').val(),

                    };
                    if (td.find('.DetailArName').val() != null && td.find('.Price').inputmask('unmaskedvalue') > 0) {
                        PropertyComponentDetails.push(PropertyComponentDetail);
                    }
                });
            }
            if (PropertyComponentDetails.length == 0) {
                Swal.fire({
                    title: '@MyERP.Properties.Resources.AllDetailsRequired',
                    text: " ",
                    icon: 'info',
                    showCancelButton: false,
                    confirmButtonText: '@MyERP.Properties.Resources.Ok',
                    confirmButtonColor: '#3085d6'
                });
                valid = false;
            }
            var PropertyComponent = {
                Id: $('#Id').val(),
                Code: $('#Code').val(),
                ArName: $('#ArName').val(),
                EnName: $('#EnName').val(),
                ExpenseAccountId: $('#ExpenseAccountId').val(),
                IsActive: $('#IsActive').val(),
                IsDeleted: $('#IsDeleted').val(),
                UserId: $('#UserId').val(),
                Notes: $('#Notes').val(),
                Image: $('#Image').val(),
                PropertyComponentDetails: PropertyComponentDetails
            }
        if (valid) {
            Swal.fire({
                title: '@MyERP.Properties.Resources.AreYouSureYouWantToSave',
                text: " ",
                icon: 'info',
                showCancelButton: true,
                confirmButtonText: '@MyERP.Properties.Resources.Ok',
                cancelButtonText: '@MyERP.Properties.Resources.Cancel',
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    $('#preloader, #status').fadeIn();
                    $('#newbtn').prop('disabled', true);
                    $('#save').prop('disabled', true);
                    $.ajax({
                        type: "POST", contentType: "application/json",
                        url: "/PropertyComponent/AddEdit",
                        data: JSON.stringify(PropertyComponent),
                        success: function (r) {
                            if (r.success == true) {
                                Swal.fire({
                                    title: '@MyERP.Properties.Resources.Saved',
                                    text: " ",
                                    icon: 'success',
                                    showCancelButton: false,
                                    confirmButtonText: '@MyERP.Properties.Resources.Ok',
                                    confirmButtonColor: '#3085d6'
                                });
                                if (n == "new") {
                                    window.location.replace("/PropertyComponent/AddEdit");
                                } else {
                                    window.location.replace("/PropertyComponent");
                                }
                            }
                            else {
                                Swal.fire({
                                    title: '@MyERP.Properties.Resources.NotSaved !',
                                    text: " ",
                                    icon: 'error',
                                    showCancelButton: false,
                                    confirmButtonText: '@MyERP.Properties.Resources.Ok',
                                    confirmButtonColor: '#3085d6'
                                });
                            }
                            $('#preloader, #status').fadeOut();
                            $('#newbtn').prop('disabled', false);
                            $('#save').prop('disabled', false);
                        },
                        error: function (r) {
                            Swal.fire({
                                title: '@MyERP.Properties.Resources.NotSaved !',
                                text: " ",
                                icon: 'error',
                                showCancelButton: false,
                                confirmButtonText: '@MyERP.Properties.Resources.Ok',
                                confirmButtonColor: '#3085d6'
                            });
                            $('#preloader, #status').fadeOut();
                            $('#newbtn').prop('disabled', false);
                            $('#save').prop('disabled', false);
                        }
                    });
                }
                else { result.dismiss; }
            });
        }
    }
        function Delete(id) {
        Swal.fire({
            title: '@MyERP.Properties.Resources.AreYouSureYouWantToDelete',
            text: " ",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: '@MyERP.Properties.Resources.Ok',
            cancelButtonText: '@MyERP.Properties.Resources.Cancel',
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                $('#preloader, #status').fadeIn();
                $.ajax(
                    {
                        url: '/PropertyComponent/Delete',
                        type: 'POST',
                        data: {
                            "Id": id,
                        },
                        error: function (e) {
                            $('#preloader, #status').fadeOut();
                        },
                        success: function (r) {
                            if (r == 'true') {
                                window.location.replace('/PropertyComponent');
                            }
                        }
                    });
            }
            else { result.dismiss; }
        })
    }



</script>
