@{
    if (Session["lang"] == null || Session["lang"].ToString() == "ar")
    {
        Session["lang"] = "ar";
        Culture = UICulture = "ar";
    }
    else
    {
        Culture = UICulture = "ar";
    }
    UICulture = Session["lang"] != null ? Session["lang"].ToString() : "ar";

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/assets/images/favicon.ico">

    <!-- App css -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/app.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/switchery/switchery.min.css" rel="stylesheet" type="text/css" />
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" />
    <link href="~/assets/libs/select2/select2.min.css" rel="stylesheet" />
    <link href="~/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" />


    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js"></script>

    <style>
        .was-validated select.form-control:invalid + .select2 .selection .select2-selection {
            border: 1px solid #f1556c;
        }

        .was-validated select.form-control:valid + .select2 .selection .select2-selection {
            border: 1px solid #1abc9c;
        }

        .header-title, .page-title {
            font-family: Tahoma !important;
        }

        #preloader {
            opacity: 0.5;
            background-color: black !important;
        }

        .enlarged .side-menu-search {
            display: none;
        }
    </style>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script>
        var requestCache = {};

function requestData(apiUrl) {
            if (!requestCache[apiUrl]) {
                requestCache[apiUrl] = $.get(apiUrl);
            }
            return requestCache[apiUrl];
        }
    </script>
    <!-- Vendor js -->
    <script src="~/assets/js/vendor.min.js"></script>
</head>

<body class="enlarged" data-keep-enlarged="true">
    <div id="preloader">
        <div id="status">
            <div class="bouncingLoader">

            </div>
        </div>
    </div>
    <!-- Begin page -->
    <div id="wrapper">

        <!-- Topbar Start -->
        <div class="navbar-custom">

        </div>
        <!-- end Topbar -->
        <!-- ========== Left Sidebar Start ========== -->
        <!--<div class="left-side-menu">

            <div class="slimscroll-menu">-->

                <!--- Sidemenu -->
                <!--<div id="sidebar-menu">

            <!-- End Sidebar -->

                <!--<div class="clearfix"></div>

            </div>-->
            <!-- Sidebar -left -->

        <!--</div>-->
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->
        @*<div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">*@
        <div class="col-12" style="text-align: -webkit-center;margin-top:15%;">
            <div class="col-sm-6">
                <img id="SystemLogo" src="~/assets/images/logo/MySoft.jpg" style="width:20vw;height:30vh;" />
            </div>

        </div>
        @*</div>
                    </div>
                </div>
            </div>
        </div>*@

        <div class="content-page">
            <div class="content">
                <!-- Start Content-->
                <div class="container-fluid">
                    @RenderBody()
                </div>
                <!-- container -->

            </div> <!-- content -->
        </div>

        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->


    </div>
    <!-- END wrapper -->
    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>

    <script src="~/assets/libs/jquery-knob/jquery.knob.min.js"></script>
    <script src="~/assets/libs/peity/jquery.peity.min.js"></script>

    <!-- Plugins js -->
    <script src="~/assets/libs/moment/moment.min.js"></script>
    <script src="~/assets/libs/x-editable/bootstrap-editable.min.js"></script>
    <script src="~/assets/libs/twitter-bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
    <script src="~/assets/js/inputmask.min.js"></script>
    <script src="~/assets/js/jquery.inputmask.min.js"></script>
    <script src="~/assets/js/inputmask.numeric.extensions.min.js"></script>
    <script src="~/assets/libs/switchery/switchery.min.js"></script>
    <script src="~/assets/libs/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/assets/js/select2.min.js"></script>
    <!-- Validation js (Parsleyjs) -->
    <script src="~/assets/libs/parsleyjs/parsley.min.js"></script>

    <!-- validation init -->
    <script src="~/assets/js/pages/form-validation.init.js"></script>

    <!-- Summernote js -->
    <script src="~/assets/libs/summernote/summernote-bs4.min.js"></script>
    @*<script src="~/assets/libs/jquery-ui/jquery-ui.min.js"></script>*@
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.0.1/jquery-migrate.min.js"></script>*@

    <!-- Sparkline charts -->
    <script src="~/assets/libs/jquery-sparkline/jquery.sparkline.min.js"></script>
    <!-- Responsive Table js -->
    <script src="~/assets/libs/rwd-table/rwd-table.min.js"></script>
    <!-- init js -->
    <script src="~/assets/js/pages/dashboard-1.init.js"></script>
    <script src="~/assets/js/pages/form-summernote.init.js"></script>
    <script src="~/assets/js/pages/responsive-table.init.js"></script>
    <script>
         GetLogo();
         function GetLogo()
        {
            $.get('/Helper/GetLogo').done(function (r) {
                $('#SystemLogo').attr('src', r);
            });
        }

        function searchSideMenu() {
            var name = $('#side-menu-search').val();

            $('#side-menu > li > a').each(function () {
                if ($(this).text().indexOf(name.trim()) > -1) {
                    $(this).show();

                } else {
                    $(this).hide();
                }
            });
            $('#side-menu > li > ul > li >  a').each(function () {
                if ($(this).text().indexOf(name.trim()) > -1) {
                    $(this).show();
                    $(this).closest('#find > li').find('a:first').show();
                } else {
                    $(this).hide();
                }

            });
            $('#side-menu > li > ul > li > ul > li > a').each(function () {
                if ($(this).text().indexOf(name.trim()) > -1) {
                    $(this).show();
                    $(this).closest('#side-menu > li > ul > li').find('a:first').show();
                    $(this).closest('#side-menu > li').find('a:first').show();
                } else {
                    $(this).hide();
                }
            });
        }

        function matchCustom(params, data) {
            if ($.trim(params.term) === '') {
                return data;
            }

            if (typeof data.text === 'undefined') {
                return null;
            }

            var termCount = params.term.trim().split(' ').length;
            var matchCount = 0;
            for (var i = 0; i < termCount; i++) {
                var term = params.term.trim().split(' ')[i];
                for (var j = 0; j < data.text.trim().split(' ').length; j++) {
                    if (data.text.trim().split(' ')[j].toUpperCase().indexOf(term.toUpperCase()) > -1) {
                        matchCount++;
                        if (matchCount == termCount)
                            return data;
                    }
                }
            }
            return null;
        }
        $('[data-plugin="switchery"]').each(function (t, e) { new Switchery($(this)[0], $(this).data()) });
        $("select:not(#ShowByPage):not(#pagination)").select2({
            matcher: matchCustom
        });


        $('.money').inputmask({
            alias: 'numeric', groupSeparator: ',', autoGroup: true, digits: 2, 'allowMinus': false, digitsOptional: false, 'placeholder': '0'
        });

        $("form button[type|='submit']:not(.search)").on('click', function () {
            let form = $(this).closest('form');
            if (form.find('input:invalid, select:invalid').length == 0)
        {
                if (confirm('@MyERP.Properties.Resources.AreYouSureYouWantToSave')) {
                    return true;
                    $('#preloader, #status').fadeIn();
                } else {
                    return false;
                }
         @*Swal.fire({
            title: '@MyERP.Properties.Resources.AreYouSureYouWantToSave',
            text: " ",
            icon: 'info',
            showCancelButton: true,
            confirmButtonText: '@MyERP.Properties.Resources.Ok',
            cancelButtonText: '@MyERP.Properties.Resources.Cancel',
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                return true;
                $('#preloader, #status').fadeIn();
        form.preventDefault();
            }
            else { 
         return false;
        result.dismiss;
        }
        });*@
        }
            else
                $('html, body').animate({
                    scrollTop: form.find(".form-control:invalid").eq(0).offset().top - 100
                }, 500);
        });
        $("form").submit(function () {
            $('.money').each(function () {
                var val = $(this).inputmask('unmaskedvalue');
                $(this).inputmask('remove');
                $(this).val(val);
            });

        });

        $(document).on('focus', 'input[type=number]', function (e) {
            $(this).on('mousewheel.disableScroll', function (e) {
                e.preventDefault()
            })
        });
        $(document).on('blur', 'input[type=number]', function (e) {
            $(this).off('mousewheel.disableScroll')
        });

        //mask for input type number
        $('input[type=number]').not('#IdentityNumber').not('#InstallmentPaymentCount').not('#txtPoints').not('#servicesPrice').removeProp('oninput').prop('type', 'text').inputmask({
            alias: 'numeric', autoGroup: true, digits: 2, digitsOptional: false, 'allowMinus': false, 'placeholder': '0'
        });
        $('input.small-number').not('#InstallmentPaymentCount').not('#txtPoints').not('#servicesPrice').removeProp('oninput').prop('type', 'text').inputmask({
            alias: 'numeric', autoGroup: true, digits: 4, digitsOptional: false, 'allowMinus': false, 'placeholder': '0'
        });


        setInterval(function () {
            getNotifications();
        }, 5000);

        function getNotifications() {
            $.get('/OccuredNotifications/Notifications').done(function (r) {
                $('#user-notifications').empty().append(r.notifications);
                if (r.count * 1 > 0)
                    $('#user-notifications').closest('li').find('.noti-icon-badge').text(r.count).show();
                $('#user-notifications').height(68 * r.count);
            });
        }
        getNotifications();

        function notificationRead(id) {
            $.post('/OccuredNotifications/NotificationRead/' + id);
            getNotifications();
        }

        function changeLaguage() {
            requestData('/Helper/ChangeLanguage').done(function (r) {
                window.location.reload();
            });
        }


        $('.pagination').css("display", "flex");
        $('.pagination').css("flex-wrap", "wrap");
    </script>
    <!-- App js -->
    <script src="~/assets/js/app.min.js"></script>
</body>
</html>