@model MyERP.Models.TechanicianService

<script src="~/Scripts/SaveAndNew.js"></script>
<script src="~/js/DeleteFunctionForAddEditView.js"></script>

@{
    ViewBag.title = "تخصص الفنيين";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="panel panel-widget forms-panel">
        <div class="forms">
            <div class=" form-grids form-grids-right">
                <div class="widget-shadow " data-example-id="basic-forms">
                    <div class="form-title">
                        @if (Model.Id > 0)
                        {
                            if (Model.IsDeleted == false)
                            {
                                <a class="btn btn-info" href="@Url.Action("Index")" role="button" style="float:left;">رجوع</a>
                                if (ViewBag.Previous > 0)
                                {
                                    <a href="@Url.Action("AddEdit",new {id= ViewBag.First })" class="btn btn-info" >الأول</a>
                                    <a href="@Url.Action("AddEdit",new { id=ViewBag.Previous })" class=" btn btn-info" >&#8250;</a>
                                }
                                if (ViewBag.Next > 0)
                                {
                                    <a href="@Url.Action("AddEdit",new { id=ViewBag.Next })" class="btn btn-info" >&#8249;</a>
                                    <a href="@Url.Action("AddEdit",new {id=ViewBag.Last })" class="btn btn-info" >الأخير</a>
                                }
                            }
                        }
                        else
                        {<a class="btn btn-info" href="@Url.Action("Index")" role="button" style="float:left;">رجوع</a>}
                        <h4>بيانات خدمات الفنيين :</h4>
                    </div>

                    <div class="form-body">
                        <input type="hidden" id="hdnobjID" value="@Model.Id" />
                        @Html.HiddenFor(model => model.IsActive)
                        <form class="form-horizontal">


                            <div class="form-group">
                                <label class="col-sm-3 control-label">الفنيين </label>
                                <div class="col-md-9">
                                    @Html.DropDownList("TechanicianId", null, "-- اختر الفنى --", htmlAttributes: new { @class = "form-control" ,required="required"})
                                    @Html.ValidationMessageFor(model => model.TechanicianId, "", new { @class = "text-danger" })
                                    <span class="Asterisks">*</span>  </div>
                            </div>


                            <br />
                            <br />
                            <div class="form-group">
                                <label class="col-sm-3 control-label"> الخدمات </label>
                                <div class="col-md-9">
                                    @Html.DropDownList("ServiceId", null, "-- اختر الخدمة --", htmlAttributes: new { @class = "form-control", required = "required" })
                                    @Html.ValidationMessageFor(model => model.ServiceId, "", new { @class = "text-danger" })
                                    <span class="Asterisks">*</span>  </div>
                            </div>
                            <br />
                            <br />


                            <div class="form-group">
                                <label class="col-sm-3 control-label">ملاحظات </label>
                                <div class="col-md-9">
                                    <textarea id="Notes" name="Notes" class="form-control" rows="5" cols="3">@if (Model != null){@Model.Notes; }</textarea>                                    @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <input id="new" name="newBtn" hidden />
                            <div class="col-sm-offset-2">
                                @if (Model.Id == 0)
                                {
                                    <button type="submit" id="newbtn" class="btn btn-success">
                                        حفظ و جديد
                                    </button>
                                    <button type="submit" class="btn btn-success">
                                        حفظ
                                    </button>
                                    <a class="btn btn-danger" href="@Url.Action("Index")" role="button">رجوع</a>
                                }
                                else
                                {
                                    if (Model.IsDeleted == false)
                                    {
                                        <button type="submit" class="btn btn-success">
                                            حفظ
                                        </button>
                                        <a class="btn btn-danger" href="@Url.Action("Index")" role="button">رجوع</a>
                                        <a class="btn btn-danger" onclick="Delete(@Model.Id,'ServiceCategories')" role="button">حذف</a>

                                    }
                                }

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<script>
    function zeroPadded(val) {
        if (val >= 10)
            return val;
        else
            return '0' + val;
    }
   
    </script>