@model CashBoxBalanceSheet_Report

@{
    if (ViewBag.ShowReport == true)
    {
        Layout = null;
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    UICulture = Session["lang"] != null ? Session["lang"].ToString() : "ar";
    ViewBag.Title = MyERP.Properties.Resources.CashBoxBalanceSheet;
}


<!DOCTYPE html>

@*<html>
    <head>*@
<meta name="viewport" content="width=device-width" />
<title> @MyERP.Properties.Resources.CashBoxBalanceSheet </title>
@if (ViewBag.ShowReport == true)
{
    @Html.DevExpress().GetStyleSheets(
            new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
            new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
            new StyleSheet { ExtensionSuite = ExtensionSuite.Report }
        )
    @Html.DevExpress().GetScripts(
            new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
            new Script { ExtensionSuite = ExtensionSuite.Editors },
            new Script { ExtensionSuite = ExtensionSuite.Report }
        )
    @*</head>
        <body>*@
    <div>
        @Html.DevExpress().WebDocumentViewer(settings =>
   {
       settings.Name = "WebDocumentViewer";
   }).Bind(new DevExpress.XtraReports.Web.CachedReportSourceWeb(new CashBoxBalanceSheet_Report(ViewBag.CashBox, ViewBag.dateFrom, ViewBag.dateTo))).GetHtml()
    </div>

}
else
{

    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <div class="row">
                    <div class="col-12">
                        <div class="form-horizontal needs-validation" role="form">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="header-title">
                                        @MyERP.Properties.Resources.CashBoxBalanceSheet
                                    </h5>
                                    <div class="form-group row">
                                        <label class=" col-sm-1 control-label" for="Code">@MyERP.Properties.Resources.CashBox</label>
                                        <div class="col-sm-5">
                                            @Html.DropDownList("CashBoxId", null, @MyERP.Properties.Resources.Select, htmlAttributes: new
                                            {
                                                @class = "form-control",
                                                required = "required"
                                            })
                                            <div class="invalid-feedback">
                                                @MyERP.Properties.Resources.Required
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="DateFrom" class="control-label col-sm-1">@MyERP.Properties.Resources.FromDate</label>
                                        <div class="col-sm-5">
                                            <input id="DateFrom" name="DateFrom" class="form-control" type="date" required />
                                        </div>
                                        <label for="DateTo" class="control-label col-sm-1">@MyERP.Properties.Resources.ToDate</label>
                                        <div class="col-sm-5">
                                            <input id="DateTo" name="DateTo" class="form-control" type="date" required />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-offset-2">
                        <button class="btn btn-success" onclick="DownloadReport()">
                            @MyERP.Properties.Resources.ShowReport
                        </button>
                        <button class="btn btn-success" onclick="ShowData()">
                            @MyERP.Properties.Resources.ShowData
                        </button>
                        <button class="btn btn-success" onclick="ShowReport()">
                            @MyERP.Properties.Resources.ShowDesign
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!--------------------------------ShowData Table --------------------------------------->
    <div class="row" id="AllTable" style="display:none">
        <div class="col-12">
            <div class="card-box">
                <div class="row">
                    <div class="col-12">
                        <div class="form-horizontal needs-validation" role="form">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="header-title">
                                        @MyERP.Properties.Resources.ReportData
                                    </h5>

                                    <div class="table-responsive">
                                        <table class="table table-striped table-centered mb-0">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        @MyERP.Properties.Resources.Debit
                                                    </th>
                                                    <th>
                                                        @MyERP.Properties.Resources.Credit
                                                    </th>
                                                    <th>
                                                        @MyERP.Properties.Resources.DebitBalance
                                                    </th>
                                                    <th>
                                                        @MyERP.Properties.Resources.CreditBalance
                                                    </th>
                                                    <th>
                                                        @MyERP.Properties.Resources.TransactionType
                                                    </th>
                                                    <th>
                                                        @MyERP.Properties.Resources.TransactionNo
                                                    </th>
                                                    <th>
                                                        @MyERP.Properties.Resources.Source
                                                    </th>
                                                    <th>
                                                        @MyERP.Properties.Resources.Notes
                                                    </th>
                                                    <th>
                                                        @MyERP.Properties.Resources.Date
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody id="ShowDataTable">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group row">
                            <label for="TotalDebit" class="control-label col-sm-1">@MyERP.Properties.Resources.TotalDebit</label>
                            <div class="col-sm-5">
                                <input id="TotalDebit" name="TotalDebit" class="form-control" disabled />
                            </div>
                            <label for="TotalCredit" class="control-label col-sm-1">@MyERP.Properties.Resources.TotalCredit</label>
                            <div class="col-sm-5">
                                <input id="TotalCredit" name="TotalCredit" class="form-control" disabled />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="TotalDebitBalance" class="control-label col-sm-1">@MyERP.Properties.Resources.TotalDebitBalance</label>
                            <div class="col-sm-5">
                                <input id="TotalDebitBalance" name="TotalDebitBalance" class="form-control" disabled />
                            </div>
                            <label for="TotalCreditBalance" class="control-label col-sm-1">@MyERP.Properties.Resources.TotalCreditBalance</label>
                            <div class="col-sm-5">
                                <input id="TotalCreditBalance" name="TotalCreditBalance" class="form-control" disabled />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div style="text-align:center;margin-bottom: 50px;">
                <div class="form-group row">
                    <div class="col-sm-6">
                        <select id="ShowByPage" class="form-control" style="width:70px;float:left;" onchange="ShowData()">
                            <option value="100">100</option>
                            <option value="200">200</option>
                            <option value="300">300</option>
                            <option value="@ViewBag.Count">@MyERP.Properties.Resources.All</option>
                        </select>
                        <span style="font-size:12px;float:right;"> @MyERP.Properties.Resources.NoOfResults: <span id="RowsCount">@ViewBag.Count</span></span>
                    </div>
                    <div class="col-sm-6">
                        <select id="pagination" class="pagination form-control col-sm-4" style="width:70px;float:left;">
                        </select>
                        <lablel class="col-sm-2"> @MyERP.Properties.Resources.PageNo: </lablel>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--***********************************************************************************************-->
}
<script>
    function JsDate(val) {
        var date = new Date(val);
        var dd = date.getDate();
        var mm = date.getMonth() + 1; //January is 0!
        var yyyy = date.getFullYear();

        if (dd < 10) {
            dd = '0' + dd;
        }

        if (mm < 10) {
            mm = '0' + mm;
        }

       return date = yyyy + '-' + mm + '-' + dd;
    }
    $(document).ready(function () {
        $.get('/Helper/GetOpenPeriodBeginningEnding').done(function (r) {
            var from = JsDate(r.PeriodStart);
            var to = JsDate(r.PeriodEnd);
            $('#DateFrom').prop('min', from);
            $('#DateFrom').prop('max', to);
            $('#DateFrom').val(from);
            $('#DateTo').prop('min', from);
            $('#DateTo').prop('max', to);
            $('#DateTo').val(to);
        });
    });

    var pageNo = 1;
        $('#ShowByPage').val('@ViewBag.wantedRowsNo');

    function ShowReport() {
        if (!$('#CashBoxId').val())
            Swal.fire({
                title: '@MyERP.Properties.Resources.CashBox' + ' ' + '@MyERP.Properties.Resources.Required',
                text: " ",
                icon: 'info',
                showCancelButton: false,
                confirmButtonText: '@MyERP.Properties.Resources.Ok',
                confirmButtonColor: '#3085d6'
            });
        else {
            window.open('/Report/CashBoxBalanceSheet?cashBoxId=' + $('#CashBoxId').val() + '&showReport=' + true+ '&print=' + false+ '&dateFrom=' + $('#DateFrom').val()+ '&dateTo=' + $('#DateTo').val(), "blank");
        }
    }
    function DownloadReport() {
        if (!$('#CashBoxId').val())
            Swal.fire({
                title: '@MyERP.Properties.Resources.CashBox' + ' ' + '@MyERP.Properties.Resources.Required',
                text: " ",
                icon: 'info',
                showCancelButton: false,
                confirmButtonText: '@MyERP.Properties.Resources.Ok',
                confirmButtonColor: '#3085d6'
            });
        else {
            window.open('/Report/CashBoxBalanceSheet?cashBoxId=' + $('#CashBoxId').val() + '&showReport=' + false + '&print=' + true + '&dateFrom=' + $('#DateFrom').val() + '&dateTo=' + $('#DateTo').val(), "blank");
        }
    }

    function ShowData() {
        var sumDebit = 0;
        var sumCredit = 0;
        var sumDebitBalance = 0;
        var sumCreditBalance = 0;
        if (!$('#CashBoxId').val())
            Swal.fire({
                title: '@MyERP.Properties.Resources.CashBox' + ' ' + '@MyERP.Properties.Resources.Required',
                text: " ",
                icon: 'info',
                showCancelButton: false,
                confirmButtonText: '@MyERP.Properties.Resources.Ok',
                confirmButtonColor: '#3085d6'
            });
        else {
            $('#ShowDataTable').empty();
            $('#preloader, #status').fadeIn();

        $.get('/Helper/GetCashBoxBalanceSheet?cashBoxId=' + $('#CashBoxId').val() + '&dateFrom=' + $('#DateFrom').val() + '&dateTo=' + $('#DateTo').val() + '&pageIndex=' + pageNo + '&wantedRowsNo=' + $('#ShowByPage').val()).done(function (r) {
            $('#AllTable').show();
            for (var i = 0; i < r.length; i++) {
               r[i].Date= r[i].Date == null ? "" : convertToJavaScriptDate(r[i].Date);
                r[i].Debit = r[i].Debit == null ? "" : r[i].Debit;
                r[i].Credit = r[i].Credit == null ? "" : r[i].Credit;
                r[i].DebitBalance = r[i].DebitBalance == null ? "" : r[i].DebitBalance;
                r[i].CreditBalance = r[i].CreditBalance == null ? "" : r[i].CreditBalance;
                r[i].ArName = r[i].ArName == null ? "" : r[i].ArName;
                r[i].DocumentNumber = r[i].DocumentNumber == null ? "" : r[i].DocumentNumber;
                r[i].SourceName = r[i].SourceName == null ? "" : r[i].SourceName;
                r[i].Notes = r[i].Notes == null ? "" : r[i].Notes;

                    let tr = '<tr><td><label class="control-label Debit">' +
                        r[i].Debit + '</label></td><td><label class="control-label Credit">' +
                        r[i].Credit + '</label></td><td><label class="control-label DebitBalance">' +
                        r[i].DebitBalance + '</label></td><td><label class="control-label CreditBalance">' +
                        r[i].CreditBalance + '</label></td><td><label class="control-label ArName">' +
                        r[i].ArName + '</label></td><td><label class="control-label DocumentNumber">' +
                        r[i].DocumentNumber + '</label></td><td><label class="control-label SourceName">' +
                        r[i].SourceName + '</label></td><td><label class="control-label Notes">' +
                        r[i].Notes + '</label></td><td><label class="control-label Warehouse">' +
                    r[i].Date + '</label></td></tr>';

                $('#ShowDataTable').append(tr);
                sumDebit += r[i].Debit;
                sumCredit += r[i].Credit;
            }
            sumDebitBalance = (sumDebit - sumCredit) > 0 ? (sumDebit - sumCredit) : 0;
            sumCreditBalance = (sumCredit - sumDebit) > 0 ? (sumCredit - sumDebit) : 0;
            $('#TotalDebit').val(sumDebit);
            $('#TotalCredit').val(sumCredit);
            $('#TotalDebitBalance').val(sumDebitBalance);
            $('#TotalCreditBalance').val(sumCreditBalance);
            $('#preloader, #status').fadeOut();
            });
        }
    }

    function setPages() {
        var count ='@ViewBag.Count';
        for (var i = 0; i < Math.ceil(count / $('#ShowByPage').val()); i++)
   $('#pagination').append('<option onchange="pageNo=' + (i + 1) + '; paging();" id="pg' + (i + 1) + '">' + (i + 1) + '</option>');
    }

    setPages();

    $('#pg' +'@ViewBag.PageIndex').attr('selected', 'selected');

    $('#pagination').on('change', function () {
        pageNo = $('#pagination').val();
        ShowData();
    });

    function convertToJavaScriptDate(value) {
        if (value === null)
            return null;
        var pattern = /Date\(([^)]+)\)/;
        var results = pattern.exec(value);
        var dt = new Date(parseFloat(results[1]));
        return ((dt.getMonth() + 1 + "/" + dt.getDate() + "/" + dt.getFullYear()));
    }

</script>
