@model IEnumerable<MyERP.Models.Singer>

@{
    UICulture = Session["lang"] != null ? Session["lang"].ToString() : "ar";
    ViewBag.Title = MyERP.Properties.Resources.PartyBooking;
    Layout = "~/Views/Shared/_PartyManagementLayout.cshtml";
    var cTime = ViewBag.Date;
}

<section class="ftco-section ftco-no-pb ftco-room">
    <div class="container-fluid px-0">
        <div class="row no-gutters justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <span class="subheading" style="font-size:20px">@MyERP.Properties.Resources.PartyBooking</span>
            </div>
        </div>
        <div class="row no-gutters">
            @foreach (var item in Model)
            {
                <div class="col-lg-6" style="padding-bottom:1%;">
                    <div class="room-wrap d-md-flex ftco-animate">
                        <a href="#" class="img" style="background-image: url(@(item.Image!=null?item.Image:null));"></a>
                        <div class="half left-arrow d-flex align-items-center">
                            <div class="text p-4 text-center">
                                <h3 class="mb-3"><a href="#">@item.ArName</a></h3>
                                <h2 class="mb-3"><a href="#">@(item.Parties.Where(p => p.Date.Value.Year == cTime.Year &&(p.Date.Value.Month >cTime.Month||(p.Date.Value.Month== cTime.Month && p.Date.Value.Day >= cTime.Day))).FirstOrDefault().Date.Value.ToString("yyyy/MM/dd"))</a></h2>
                                @*<p class="mb-0"><span class="price mr-1">@Html.Raw(item.Parties.Where(p => p.Date.Value.Year == cTime.Year && p.Date.Value.Month >= cTime.Month && p.Date.Value.Day >= cTime.Day).FirstOrDefault().Price.Value.ToString("0.00"))</span> <span class="per">@MyERP.Properties.Resources.Price</span></p>*@
                                <p class="pt-1"><a href="/PartyHome/PartyDetails?PartyId=@(item.Parties.Where(p => p.Date.Value.Year == cTime.Year &&(p.Date.Value.Month >cTime.Month||( p.Date.Value.Month == cTime.Month && p.Date.Value.Day >= cTime.Day))).FirstOrDefault().Id)" class="btn-custom px-3 py-2 rounded">@MyERP.Properties.Resources.ViewDetails <span class="icon-long-arrow-right"></span></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</section>
