@model IEnumerable<MyERP.Models.ServicesCategory>

@{
    UICulture = Session["lang"] != null ? Session["lang"].ToString() : "ar";
    ViewBag.Title = "أقسام الصيانة";
}
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <a class="btn btn-info" href="@Url.Action("AddEdit")" role="button" style="float:left;">إضافة جديد</a>
            </div>
            <div class="hed page-title">أقسام الصيانة</div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card-box">
            <div class="row">
                <div class="col-12">
                    <div class="form-horizontal" role="form">
                        <div class="form-group row">
                            <div class="col-xs-12 col-sm-6 col-lg-3">
                                <input type="text" class="form-control searchtxt" value="@Html.Raw(ViewBag.searchWord)" placeholder="بحث">
                            </div>
                            <div class="col-xs-12 col-sm-3 col-lg-3">
                                <button type="button" class="btn btn-success btnSearch" onclick="searchWord = $('.searchtxt').val(); paging();">
                                    <i class="fa fa-search"></i>
                                </button>
                                <button type="button" class="btn btn-info btnSearch" onclick="pageNo = 1; searchWord=''; paging();">
                                    <i class="fe-refresh-ccw"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-centered mb-0">
                            <thead>
                                <tr>
                                    <th>
                                        الكود
                                    </th>
                                    <th>
                                        الاسم باللغة العربية
                                    </th>

                                    <th>
                                        الاسم باللغة الإنجليزية
                                    </th>
                                    <th>
                                       ملاحظات
                                    </th>
                                    @*<th>
            النوع
        </th>
        <th>
            الفئة الرئيسية
        </th>*@
                                    <th>
                                        نشط
                                    </th>
                                    <th>
                                        تعديل
                                    </th>
                                    <th>
                                        حذف
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Code)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ArName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EnName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Notes)
                                    </td>

                                    @*<td>
            @if (item.Type == 1)
            {

                @Html.Label("رئيسي")

            }
            else if (item.Type == 2)
            {

                @Html.Label("وسيط")

            }
            else if (item.Type == 3)
            {

                @Html.Label("فرعى")

            }
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.ServicesCategory2.ArName)
        </td>*@
                                    <td>
                                        <input type="checkbox" data-plugin="switchery" data-color="#00b19d" data-secondary-color="#ED5565" data-size="small" @Html.Raw(item.IsActive == true ? "checked" : "") onchange="ActivateAndDeactivate(@item.Id)" />
                                    </td>

                                    <td>
                                        <a href="@Url.Action("AddEdit", "ServiceCategories", new {id = item.Id})" onclick="$('#preloader, #status').fadeIn();">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="javascript:void(0);" onclick="Delete(@item.Id)">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>

                                    </td>



                                </tr>
                                }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="text-align:center;margin-bottom: 50px;">

    <div class="form-group row">
        <div class="col-sm-4">
            <select id="ShowByPage" class="form-control" style="width:70px;float:left;" onchange="paging()">
                <option value="10">10</option>
                <option value="30">30</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="200">200</option>
                <option value="@ViewBag.Count">@MyERP.Properties.Resources.All</option>
            </select>
            <span style="font-size:12px;float:right;"> @MyERP.Properties.Resources.NoOfResults : <span id="RowsCount">@ViewBag.Count</span></span>
        </div>
        <div class="col-sm-2">
            <lablel class="col-sm-8"> @MyERP.Properties.Resources.PageNo : </lablel>
        </div>
        <div class="col-sm-2">
            <select id="pagination" class="pagination form-control" style="width:70px;float:left;">
            </select>
        </div>
    </div>
</div>


<script>
    var pageNo = 1;
    var searchWord = '@Html.Raw(ViewBag.searchWord)';
    $('#ShowByPage').val(@ViewBag.wantedRowsNo);

    function paging() {

        var link = '/ServiceCategories/Index?' + 'pageIndex=' + pageNo + '&wantedRowsNo=' + $('#ShowByPage').val() + '&searchWord=' + searchWord;
        window.location.replace(link);
    }

    function setPages() {
        var count =@ViewBag.Count;
        for (var i = 0; i < Math.ceil(count / $('#ShowByPage').val()); i++)
            $('.pagination').append('<li class="pageNo" id="pg' + (i + 1) + '"><a href="javascript:void(0);" onclick="pageNo=' + (i + 1) + '; paging();">' + (i + 1) + '</a></li>');
    }

    setPages();

    $('#pg' +@ViewBag.PageIndex).addClass('disabled');

    function Delete(id) {
        if (confirm('هل تريد الحذف؟')) {

            $('#preloader, #status').fadeIn();
            $.ajax(
                {

                    url: '/ServiceCategories/Delete',
                    type: 'POST',
                    data: {
                        "Id": id,
                    },
                    error: function (e) {

                    },
                    success: function (r) {
                        if (r == 'true') {
                            window.location.reload();
                        }
                    }
                });
        }
    }

    function ActivateAndDeactivate(id) {
        $.ajax({
            url: '/ServiceCategories/ActivateDeactivate',
            type: 'POST',
            data: {
                "Id": id,
            },
            error: function (e) {

            },
            success: function (r) {
                if (r == 'true') {
                    alert('تم تغير حالة التنشيط!')
                }
            }
        });
    }
</script>