
@{
    if (ViewBag.ShowReport == true)
    {
        Layout = null;
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    UICulture = Session["lang"] != null ? Session["lang"].ToString() : "ar";
    ViewBag.Title = MyERP.Properties.Resources.EmployeesDues;
}

<meta name="viewport" content="width=device-width" />
<title> @MyERP.Properties.Resources.EmployeesDues </title>
@if (ViewBag.ShowReport == true)
{
    @Html.DevExpress().GetStyleSheets(
            new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
            new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
            new StyleSheet { ExtensionSuite = ExtensionSuite.Report }
        )
    @Html.DevExpress().GetScripts(
            new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
            new Script { ExtensionSuite = ExtensionSuite.Editors },
            new Script { ExtensionSuite = ExtensionSuite.Report }
        )

    <div>

        @Html.DevExpress().WebDocumentViewer(settings =>
   {
       settings.Name = "WebDocumentViewer1";
   }).Bind(new DevExpress.XtraReports.Web.CachedReportSourceWeb(new EmployeeDues_Report(ViewBag.DepartmentId, ViewBag.Year, ViewBag.Month, ViewBag.ActivityId, ViewBag.CompanyId))).GetHtml()

    </div>
}
else
{
    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <div class="row">
                    <div class="col-12">
                        <div class="form-horizontal needs-validation" role="form">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="header-title">
                                        @MyERP.Properties.Resources.EmployeesDues
                                    </h5>
                                    <div class="form-group row">
                                        <label class=" col-sm-1 control-label" for="ArName">@MyERP.Properties.Resources.Department</label>
                                        <div class="col-sm-5">
                                            @Html.DropDownList("DepartmentId", null, @MyERP.Properties.Resources.Select, htmlAttributes: new { @class = "form-control", required = "required" })
                                        </div>

                                        <label class=" col-sm-1 control-label" for="Code">@MyERP.Properties.Resources.Year</label>
                                        <div class="col-sm-5">
                                            @Html.DropDownList("Year", null, @MyERP.Properties.Resources.Select, htmlAttributes: new { @class = "form-control", required = "required" })
                                            <div class="invalid-feedback">
                                                @MyERP.Properties.Resources.Required
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class=" col-sm-1 control-label" for="Code">@MyERP.Properties.Resources.Month</label>
                                        <div class="col-sm-5">
                                            @Html.DropDownList("Month", null, @MyERP.Properties.Resources.Select, htmlAttributes: new { @class = "form-control", required = "required" })
                                            <div class="invalid-feedback">
                                                @MyERP.Properties.Resources.Required
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class=" col-sm-1 control-label">@MyERP.Properties.Resources.Activity</label>
                                        <div class="col-sm-5">
                                            @Html.DropDownList("ActivityId", null, @MyERP.Properties.Resources.Select, htmlAttributes: new
                                       {
                                           @class = "form-control"
                                       })
                                        </div>
                                        <label class=" col-sm-1 control-label">@MyERP.Properties.Resources.Company</label>
                                        <div class="col-sm-5">
                                            @Html.DropDownList("CompanyId", null, @MyERP.Properties.Resources.Select, htmlAttributes: new
                                       {
                                           @class = "form-control"
                                       })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-offset-2">
                        <button class="btn btn-success" onclick="DownloadReport()">
                            @MyERP.Properties.Resources.ShowReport
                        </button>
                        <button class="btn btn-success" onclick="ShowData()">
                            @MyERP.Properties.Resources.ShowData
                        </button>
                        <button class="btn btn-success" onclick="ShowReport()">
                            @MyERP.Properties.Resources.ShowDesign
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!--------------------------------ShowData Table --------------------------------------->
    <div class="row" id="AllTable" style="display:none">
        <div class="col-12">
            <div class="card-box">
                <div class="row">
                    <div class="col-12">
                        <div class="form-horizontal needs-validation" role="form">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="header-title">
                                        @MyERP.Properties.Resources.ReportData
                                    </h5>

                                    <div class="table-responsive">
                                        <table class="table table-striped table-centered mb-0">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        @MyERP.Properties.Resources.Employee
                                                    </th>

                                                    <th class="SalaryItemId" style="display:none" SalaryItemId="1">
                                                        @MyERP.Properties.Resources.BasicSalary
                                                    </th>
                                                    <th class="SalaryItemId" style="display:none" SalaryItemId="2">
                                                        @MyERP.Properties.Resources.AccommodationAllowance
                                                    </th>
                                                    <th class="SalaryItemId" style="display:none" SalaryItemId="3">
                                                        @MyERP.Properties.Resources.TaxIncome
                                                    </th>
                                                    <th class="SalaryItemId" style="display:none" SalaryItemId="4">
                                                        @MyERP.Properties.Resources.Item1 1
                                                    </th>
                                                    <th class="SalaryItemId" style="display:none" SalaryItemId="5">
                                                        @MyERP.Properties.Resources.Item1 2
                                                    </th>
                                                    <th class="SalaryItemId" style="display:none" SalaryItemId="6">
                                                        @MyERP.Properties.Resources.Item1 3
                                                    </th>
                                                    <th class="SalaryItemId" style="display:none" SalaryItemId="7">
                                                        @MyERP.Properties.Resources.Item1 4
                                                    </th>
                                                    <th class="SalaryItemId" style="display:none" SalaryItemId="8">
                                                        @MyERP.Properties.Resources.Item1 5
                                                    </th>
                                                    <th class="SalaryItemId" style="display:none" SalaryItemId="9">
                                                        @MyERP.Properties.Resources.Item1 6
                                                    </th>
                                                    <th class="SalaryItemId" style="display:none" SalaryItemId="10">
                                                        @MyERP.Properties.Resources.Item1 7
                                                    </th>
                                                    <th class="SalaryItemId" style="display:none" SalaryItemId="11">
                                                        @MyERP.Properties.Resources.Item1 8
                                                    </th>
                                                    <th class="SalaryItemId" style="display:none" SalaryItemId="12">
                                                        @MyERP.Properties.Resources.Item1 9
                                                    </th>
                                                    <th class="SalaryItemId" style="display:none" SalaryItemId="13">
                                                        @MyERP.Properties.Resources.Item1 10
                                                    </th>
                                                    <th class="SalaryItemId" style="display:none" SalaryItemId="14">
                                                        @MyERP.Properties.Resources.Item1 11
                                                    </th>
                                                    <th class="SalaryItemId" style="display:none" SalaryItemId="15">
                                                        @MyERP.Properties.Resources.Item1 12
                                                    </th>
                                                    <th class="SalaryItemId" style="display:none" SalaryItemId="16">
                                                        @MyERP.Properties.Resources.Item1 13
                                                    </th>
                                                    <th class="SalaryItemId" style="display:none" SalaryItemId="17">
                                                        @MyERP.Properties.Resources.Item1 14
                                                    </th>
                                                    <th class="SalaryItemId" style="display:none" SalaryItemId="18">
                                                        @MyERP.Properties.Resources.Item1 15
                                                    </th>
                                                    <th class="SalaryItemId" style="display:none" SalaryItemId="19">
                                                        @MyERP.Properties.Resources.Item1 16
                                                    </th>
                                                    <th class="SalaryItemId" style="display:none" SalaryItemId="20">
                                                        @MyERP.Properties.Resources.Item1 17
                                                    </th>
                                                    <th class="SalaryItemId" style="display:none" SalaryItemId="21">
                                                        @MyERP.Properties.Resources.Item1 18
                                                    </th>
                                                    <th class="SalaryItemId" style="display:none" SalaryItemId="22">
                                                        @MyERP.Properties.Resources.Item1 19
                                                    </th>
                                                    <th class="SalaryItemId" style="display:none" SalaryItemId="23">
                                                        @MyERP.Properties.Resources.Item1 20
                                                    </th>
                                                    <th class="SalaryItemId" style="display:none" SalaryItemId="24">
                                                        @MyERP.Properties.Resources.Item1 21
                                                    </th>
                                                    <th class="SalaryItemId" style="display:none" SalaryItemId="25">
                                                        @MyERP.Properties.Resources.Item1 22
                                                    </th>
                                                    <th class="SalaryItemId" style="display:none" SalaryItemId="26">
                                                        @MyERP.Properties.Resources.Item1 23
                                                    </th>
                                                    <th class="SalaryItemId" style="display:none" SalaryItemId="27">
                                                        @MyERP.Properties.Resources.Item1 24
                                                    </th>
                                                    <th class="SalaryItemId" style="display:none" SalaryItemId="28">
                                                        @MyERP.Properties.Resources.Item1 25
                                                    </th>
                                                    <th class="SalaryItemId" style="display:none" SalaryItemId="29">
                                                        @MyERP.Properties.Resources.Item1 26
                                                    </th>
                                                    <th class="SalaryItemId" style="display:none" SalaryItemId="30">
                                                        @MyERP.Properties.Resources.Item1 27
                                                    </th>
                                                    <th class="SalaryItemId" style="display:none" SalaryItemId="31">
                                                        @MyERP.Properties.Resources.Item1 28
                                                    </th>
                                                    <th class="SalaryItemId" style="display:none" SalaryItemId="32">
                                                        @MyERP.Properties.Resources.Item1 29
                                                    </th>
                                                    <th class="SalaryItemId" style="display:none" SalaryItemId="33">
                                                        @MyERP.Properties.Resources.Item1 30
                                                    </th>

                                                    <th>
                                                        @MyERP.Properties.Resources.AdvancedExpenses
                                                    </th>
                                                    <th>
                                                        @MyERP.Properties.Resources.OverTime
                                                    </th>
                                                    <th>
                                                        @MyERP.Properties.Resources.Rewards
                                                    </th>
                                                    <th>
                                                        @MyERP.Properties.Resources.Penalties
                                                    </th>
                                                    <th>
                                                        @MyERP.Properties.Resources.TotalDues
                                                    </th>
                                                    <th>
                                                        @MyERP.Properties.Resources.TotalDeduction
                                                    </th>
                                                    <th>
                                                        @MyERP.Properties.Resources.Net
                                                    </th>

                                                </tr>
                                            </thead>
                                            <tbody id="ShowDataTable"></tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    @*<div style="text-align:center;margin-bottom: 50px;">
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <select id="ShowByPage" class="form-control" style="width:70px;float:left;" onchange="ShowData()">
                                        <option value="100">100</option>
                                        <option value="200">200</option>
                                        <option value="300">300</option>
                                        <option value="@ViewBag.Count">@MyERP.Properties.Resources.All</option>
                                    </select>
                                    <span style="font-size:12px;float:right;"> @MyERP.Properties.Resources.NoOfResults: <span id="RowsCount">@ViewBag.Count</span></span>
                                </div>
                                <div class="col-sm-6">
                                    <select id="pagination" class="pagination form-control col-sm-4" style="width:70px;float:left;"></select>
                                    <lablel class="col-sm-2"> @MyERP.Properties.Resources.PageNo: </lablel>
                                </div>

                            </div>
                        </div>*@
                </div>

            </div>
        </div>
    </div>

    <!--***********************************************************************************************-->
}

<script>
    var pageNo = 1;
    $('#ShowByPage').val('@ViewBag.wantedRowsNo');

    function ShowReport() {
        window.open("/Report/EmployeeDues?DepartmentId=" + $('#DepartmentId').val() + '&Year=' + $('#Year').val() + '&Month=' + $('#Month').val()+ '&ActivityId=' + $('#ActivityId').val() + '&CompanyId=' + $('#CompanyId').val() + '&showReport=' + true + '&print=' + false, "blank");
    }
    function DownloadReport() {
        window.open("/Report/EmployeeDues?DepartmentId=" + $('#DepartmentId').val() + '&Year=' + $('#Year').val() + '&Month=' + $('#Month').val()+ '&ActivityId=' + $('#ActivityId').val() + '&CompanyId=' + $('#CompanyId').val() + '&showReport=' + false + '&print=' + true, "blank");
    }

    function ShowData() {

        $('#ShowDataTable').empty();
        $('#preloader, #status').fadeIn();

        $.get('/Helper/GetEmployeeDues?DepartmentId=' + $('#DepartmentId').val() + '&Year=' + $('#Year').val() + '&Month=' + $('#Month').val()+ '&ActivityId=' + $('#ActivityId').val() + '&CompanyId=' + $('#CompanyId').val()).done(function (r) {
            $('#AllTable').show();
            for (var i = 0; i < r.length; i++) {
                r[i].EmployeeName = r[i].EmployeeName == null ? "" : r[i].EmployeeName;
                r[i].AdvancedExpenses = r[i].AdvancedExpenses == null ? 0 : r[i].AdvancedExpenses;
                r[i].TotalOvertime = r[i].TotalOvertime == null ? 0 : r[i].TotalOvertime;
                r[i].TotalReward = r[i].TotalReward == null ? 0 : r[i].TotalReward;
                r[i].TotalPenalty = r[i].TotalPenalty == null ? 0 : r[i].TotalPenalty;
                r[i].TotalDueItems = r[i].TotalDueItems == null ? 0 : r[i].TotalDueItems;
                r[i].TotalDeductionItems = r[i].TotalDeductionItems == null ? 0 : r[i].TotalDeductionItems;
                r[i].NetSalary = r[i].NetSalary == null ? 0 : r[i].NetSalary;

                let tr = '<tr><td ><label class="control-label">' +
                    r[i].EmployeeName + '</label></td><td class="SalaryItemId" style="display:none" SalaryItemId="1"><label class="SalaryItem1 control-label SalaryItemId" style="display:none" SalaryItemId="1">' +
                    r[i].SalaryItem1 + ' </label></td><td class="SalaryItemId" style="display:none" SalaryItemId="2"><label class="SalaryItem2 control-label SalaryItemId" style="display:none"SalaryItemId="2"> ' +
                    r[i].SalaryItem2 + '</label></td><td class="SalaryItemId" style="display:none" SalaryItemId="3"><label class="SalaryItem3 control-label SalaryItemId" style="display:none"SalaryItemId="3">' +
                    r[i].SalaryItem3 + ' </label></td><td class="SalaryItemId" style="display:none" SalaryItemId="4"><label class="SalaryItem4 control-label SalaryItemId" style="display:none" SalaryItemId="4">' +
                    r[i].SalaryItem4 + ' </label></td><td class="SalaryItemId" style="display:none" SalaryItemId="5"><label class="SalaryItem5 control-label SalaryItemId" style="display:none" SalaryItemId="5">' +
                    r[i].SalaryItem5 + '</label> </td> <td class="SalaryItemId" style="display:none" SalaryItemId="6"> <label class="SalaryItem6 control-label SalaryItemId" style="display:none" SalaryItemId="6">' +
                    r[i].SalaryItem6 + '</label></td><td class="SalaryItemId" style="display:none" SalaryItemId="7"><label class="SalaryItem7 control-label SalaryItemId" style="display:none" SalaryItemId="7"> ' +
                    r[i].SalaryItem7 + ' </label></td><td class="SalaryItemId" style="display:none" SalaryItemId="8"><label class="SalaryItem8 control-label SalaryItemId" style="display:none" SalaryItemId="8"> ' +
                    r[i].SalaryItem8 + ' </label></td><td class="SalaryItemId" style="display:none" SalaryItemId="9"><label class="SalaryItem9 control-label SalaryItemId" style="display:none"SalaryItemId="9"> ' +
                    r[i].SalaryItem9 + ' </label></td><td class="SalaryItemId" style="display:none" SalaryItemId="10"><label class="SalaryItem10 control-label SalaryItemId"style="display:none"SalaryItemId="10"> ' +
                    r[i].SalaryItem10 + ' </label> </td><td class="SalaryItemId" style="display:none" SalaryItemId="11"><label class="SalaryItem11 control-label SalaryItemId" style="display:none"SalaryItemId="11"> ' +
                    r[i].SalaryItem11 + ' </label></td><td class="SalaryItemId" style="display:none" SalaryItemId="12"><label class="SalaryItem12 control-label SalaryItemId" style="display:none" SalaryItemId="12"> ' +
                    r[i].SalaryItem12 + ' </label></td><td class="SalaryItemId" style="display:none" SalaryItemId="13"><label class="SalaryItem13 control-label SalaryItemId" style="display:none"SalaryItemId="13"> ' +
                    r[i].SalaryItem13 + ' </label></td><td class="SalaryItemId" style="display:none" SalaryItemId="14"><label class="SalaryItem14 control-label SalaryItemId" style="display:none" SalaryItemId="14"> ' +
                    r[i].SalaryItem14 + ' </label></td> <td class="SalaryItemId" style="display:none" SalaryItemId="15"><label class="SalaryItem15 control-label SalaryItemId" style="display:none" SalaryItemId="15"> ' +
                    r[i].SalaryItem15 + ' </label></td><td class="SalaryItemId" style="display:none" SalaryItemId="16"><label class="SalaryItem16 control-label SalaryItemId" style="display:none" SalaryItemId="16">' +
                    r[i].SalaryItem16 + ' </label></td><td class="SalaryItemId" style="display:none" SalaryItemId="17"><label class="SalaryItem17 control-label SalaryItemId" style="display:none" SalaryItemId="17"> ' +
                    r[i].SalaryItem17 + ' </label></td><td class="SalaryItemId" style="display:none" SalaryItemId="18"><label class="SalaryItem18 control-label SalaryItemId" style = "display:none" SalaryItemId = "18" > ' +
                    r[i].SalaryItem18 + ' </label></td> <td class="SalaryItemId" style="display:none" SalaryItemId="19"><label class="SalaryItem19 control-label SalaryItemId" style="display:none" SalaryItemId="19">  ' +
                    r[i].SalaryItem19 + ' </label></td><td class="SalaryItemId" style="display:none" SalaryItemId="20"><label class="SalaryItem20 control-label SalaryItemId" style="display:none" SalaryItemId="20">  ' +
                    r[i].SalaryItem20 + ' </label></td><td class="SalaryItemId" style="display:none" SalaryItemId="21"><label class="SalaryItem21 control-label SalaryItemId" style="display:none" SalaryItemId="21">  ' +
                    r[i].SalaryItem21 + ' </label></td><td class="SalaryItemId" style="display:none" SalaryItemId="22"><label class="SalaryItem22 control-label SalaryItemId" style="display:none" SalaryItemId="22">  ' +
                    r[i].SalaryItem22 + ' </label></td><td class="SalaryItemId" style="display:none" SalaryItemId="23"><label class="SalaryItem23 control-label SalaryItemId" style="display:none" SalaryItemId="23">  ' +
                    r[i].SalaryItem23 + ' </label></td><td class="SalaryItemId" style="display:none" SalaryItemId="24"><label class="SalaryItem24 control-label SalaryItemId" style="display:none" SalaryItemId="24">  ' +
                    r[i].SalaryItem24 + ' </label></td><td class="SalaryItemId" style="display:none" SalaryItemId="25"><label class="SalaryItem25 control-label SalaryItemId" style="display:none" SalaryItemId="25">  ' +
                    r[i].SalaryItem25 + ' </label></td><td class="SalaryItemId" style="display:none" SalaryItemId="26"><label class="SalaryItem26 control-label SalaryItemId" style="display:none" SalaryItemId="26">  ' +
                    r[i].SalaryItem26 + ' </label></td><td class="SalaryItemId" style="display:none" SalaryItemId="27"><label class="SalaryItem27 control-label SalaryItemId" style="display:none" SalaryItemId="27">  ' +
                    r[i].SalaryItem27 + ' </label></td><td class="SalaryItemId" style="display:none" SalaryItemId="28"><label class="SalaryItem28 control-label SalaryItemId" style="display:none" SalaryItemId="28">  ' +
                    r[i].SalaryItem28 + ' </label></td><td class="SalaryItemId" style="display:none" SalaryItemId="29"><label class="SalaryItem29 control-label SalaryItemId" style="display:none" SalaryItemId="29">  ' +
                    r[i].SalaryItem29 + ' </label></td><td class="SalaryItemId" style="display:none" SalaryItemId="30"><label class="SalaryItem30 control-label SalaryItemId" style="display:none" SalaryItemId="30">  ' +
                    r[i].SalaryItem30 + ' </label></td><td class="SalaryItemId" style="display:none" SalaryItemId="31"><label class="SalaryItem31 control-label SalaryItemId" style="display:none" SalaryItemId="31">  ' +
                    r[i].SalaryItem31 + ' </label></td><td class="SalaryItemId" style="display:none" SalaryItemId="32"><label class="SalaryItem32 control-label SalaryItemId" style="display:none" SalaryItemId="32">  ' +
                    r[i].SalaryItem32 + ' </label></td><td class="SalaryItemId" style="display:none" SalaryItemId="33"><label class="SalaryItem33 control-label SalaryItemId" style="display:none" SalaryItemId="33">  ' +
                    r[i].SalaryItem33 + ' </label></td><td><label class="control-label">' +
                    r[i].AdvancedExpenses + '</label></td><td><label class="control-label">' +
                    r[i].TotalOvertime + '</label></td><td><label class="control-label">' +
                    r[i].TotalReward + '</label></td><td><label class="control-label">' +
                    r[i].TotalPenalty + '</label></td><td><label class="control-label">' +
                    r[i].TotalDueItems + '</label></td><td><label class="control-label">' +
                    r[i].TotalDeductionItems + '</label></td><td><label class="control-label">' +
                    r[i].NetSalary + '</label></td></tr>';
                $('#ShowDataTable').append(tr);
                 $('.SalaryItemId').show()
            }
            $('#preloader, #status').fadeOut();
        });
    }
    

    function setPages() {
        var count ='@ViewBag.Count';
        for (var i = 0; i < Math.ceil(count / $('#ShowByPage').val()); i++)
   $('#pagination').append('<option onchange="pageNo=' + (i + 1) + '; paging();" id="pg' + (i + 1) + '">' + (i + 1) + '</option>');
    }

    setPages();

    $('#pg' +'@ViewBag.PageIndex').attr('selected', 'selected');

    $('#pagination').on('change', function () {
        pageNo = $('#pagination').val();
        ShowData();
    })

    function convertToJavaScriptDate(value) {
        if (value === null)
            return null;
        var pattern = /Date\(([^)]+)\)/;
        var results = pattern.exec(value);
        var dt = new Date(parseFloat(results[1]));
        return ((dt.getMonth() + 1 + "/" + dt.getDate() + "/" + dt.getFullYear()));
    }

</script>