<div class="panel panel-widget forms-panel">
    <div class="forms">
        <div class=" form-grids form-grids-right">
            <div class="widget-shadow " data-example-id="basic-forms">
                <div class="form-title">
                    <input type="button" class="btn btn-info btnAdd" name="AddEdit" value="رجوع" onclick="back('@ViewContext.RouteData.Values["controller"].ToString()')" style="float:left;">
                    <h4>بيانات المقاول :</h4>
                </div>

                <div class="form-body">
                    <form class="form-horizontal">

                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                            البيانات الاساسية
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse">
                                    <div>
                                        <div class="form-group">
                                            <label for="inputtext3" class="col-sm-3 control-label">الكود</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="txtCode" id="txtCode" placeholder="الكود" required>
                                                <span class="Asterisks">*</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputtext3" class="col-sm-3 control-label">الاسم العربى</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="txtArName" id="txtArName" placeholder="الاسم العربى" required>
                                                <span class="Asterisks">*</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputtext3" class="col-sm-3 control-label">الاسم الانجليزى</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="txtEnName" id="txtEnName" placeholder="الاسم الانجليزى">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputtext3" class="col-sm-3 control-label">المسمى الوظيفى</label>
                                            <div class="col-sm-9">
                                                <select id="ddlJobTitleId" name="ddlJobTitleId" class="form-control"></select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputtext3" class="col-sm-3 control-label">الشركة</label>
                                            <div class="col-sm-9">
                                                <select id="ddlCompanyId" name="ddlCompanyId" class="form-control"></select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputtext3" class="col-sm-3 control-label">الفروع</label>
                                            <div class="col-sm-9">
                                                <select id="ddlBranchId" name="ddlBranchId" class="form-control"></select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputtext3" class="col-sm-3 control-label">المجموعة</label>
                                            <div class="col-sm-9">
                                                <select id="ddlContractorsGroupId" name="ddlContractorsGroupId" class="form-control"></select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputtext3" class="col-sm-3 control-label">الشخص المسؤل</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="txtPerson" id="txtPerson" placeholder="الشخص المسؤل" disabled>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputtext3" class="col-sm-3 control-label">الجنسية</label>
                                            <div class="col-sm-9">
                                                <select id="ddlNationalityId" name="ddlNationalityId" class="form-control"></select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputtext3" class="col-sm-3 control-label" style="margin-top: 20px;">تاريخ التعامل</label>
                                            <div class="col-sm-9">
                                                <input type="date" class="form-control" name="dtDealingDate" id="dtDealingDate" placeholder="تاريخ التعامل" style="width: 50%;" onchange="$(this).next().val(ToHijriDate($(this)));">
                                                <input type="text" class="form-control hjdate" name="dtDealingDateHijri" id="dtDealingDateHijri" placeholder="التاريخ الهجري" disabled style="width: 42%;">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputtext3" class="col-sm-3 control-label">الحساب</label>
                                            <div class="col-sm-9">
                                                <select id="ddlAccountId" name="ddlAccountId" class="form-control"></select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputtext3" class="col-sm-3 control-label">نشط</label>
                                            <div class="col-sm-9">
                                                <input type="checkbox" class="form-control" id="chkIsActive" name="chkIsActive" style="width:15px;">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputtext3" class="col-sm-3 control-label">ملاحظات</label>
                                            <div class="col-sm-9">
                                                <textarea type="text" class="form-control" id="txtNotes" name="txtNotes" placeholder="ملاحظات"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                            بيانات الاتصال
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse2" class="panel-collapse collapse">
                                    <div>
                                        <div class="form-group">
                                            <label for="inputtext3" class="col-sm-3 control-label">جوال</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="txtMobile" id="txtMobile" placeholder="جوال">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputtext3" class="col-sm-3 control-label">تليفون1</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="txtTel1" id="txtTel1" placeholder="تليفون1">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputtext3" class="col-sm-3 control-label">تليفون2</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="txtTel2" id="txtTel2" placeholder="تليفون2">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputtext3" class="col-sm-3 control-label">فاكس</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="txtFax" id="txtFax" placeholder="فاكس">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputtext3" class="col-sm-3 control-label">البريد الاليكترونى</label>
                                            <div class="col-sm-9">
                                                <input type="email" class="form-control" name="txtEmail" id="txtEmail" placeholder="البريد الاليكترونى">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputtext3" class="col-sm-3 control-label">موقع الانترنت</label>
                                            <div class="col-sm-9">
                                                <input type="email" class="form-control" name="txtSite" id="txtSite" placeholder="موقع الانترنت">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputtext3" class="col-sm-3 control-label">العنوان</label>
                                            <div class="col-sm-9">
                                                <textarea type="text" class="form-control" name="txtAddress" id="txtAddress" placeholder="العنوان"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                            البيانات الرسمية
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse3" class="panel-collapse collapse">
                                    <div>
                                        <div>
                                            <div class="form-group">
                                                <label for="inputtext3" class="col-sm-3 control-label">نوع الهوية</label>
                                                <div class="col-sm-9">
                                                    <select id="ddlIdentityTypeId" name="ddlIdentityTypeId" class="form-control"></select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputtext3" class="col-sm-3 control-label">رقم الهوية</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" name="txtIdentityNumber" id="txtIdentityNumber" placeholder="رقم الهوية">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputtext3" class="col-sm-3 control-label">المصدر</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" name="txtIdentitySource" id="txtIdentitySource" placeholder="المصدر">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputtext3" class="col-sm-3 control-label" style="margin-top: 20px;">تاريخ الاصدار</label>
                                                <div class="col-sm-9">
                                                    <input type="date" class="form-control" name="dtIdentityIssueDate" id="dtIdentityIssueDate" placeholder="تاريخ الاصدار" style="width: 50%;" onchange="$(this).next().val(ToHijriDate($(this)));">
                                                    <input type="text" class="form-control hjdate" name="dtIdentityIssueDateHijri" id="dtIdentityIssueDateHijri" placeholder="التاريخ الهجري" disabled style="width: 42%;">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputtext3" class="col-sm-3 control-label" style="margin-top: 20px;">تاريخ الانتهاء</label>
                                                <div class="col-sm-9">
                                                    <input type="date" class="form-control" name="dtIdentityExpireDate" id="dtIdentityExpireDate" placeholder="تاريخ الانتهاء" style="width: 50%;" onchange="$(this).next().val(ToHijriDate($(this)));">
                                                    <input type="text" class="form-control hjdate" name="dtIdentityExpireDateHijri" id="dtIdentityExpireDateHijri" placeholder="التاريخ الهجري" disabled style="width: 42%;">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputtext3" class="col-sm-3 control-label">رقم التسجيل الضريبى</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" name="txtTaxNumber" id="txtTaxNumber" placeholder="رقم التسجيل الضريبى">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputtext3" class="col-sm-3 control-label">رقم الملف</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" name="txtFileNumber" id="txtFileNumber" placeholder="رقم الملف">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                                            الحد الاتمانى
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse4" class="panel-collapse collapse">
                                    <div>
                                        <div>
                                            <div class="form-group">
                                                <label for="inputtext3" class="col-sm-3 control-label">السماح بالحد الائتمانى</label>
                                                <div class="col-sm-9">
                                                    <input type="checkbox" class="form-control" name="chkAllowCreditLimit" id="chkAllowCreditLimit" style="width:15px;"                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputtext3" class="col-sm-3 control-label">الحد الائتمانى</label>
                                                <div class="col-sm-9">
                                                    <input type="number" step="any"  class="form-control" name="txtCreditLimitAmount" id="txtCreditLimitAmount" placeholder="الحد الائتمانى">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputtext3" class="col-sm-3 control-label">فترة الحد الائتماني </label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" name="txtCreditLimitPeriod" id="txtCreditLimitPeriod" placeholder="فترة الحد الائتماني ">
                                                </div                                            </div>
                                            <div class="form-group">
                                                <label for="inputtext3" class="col-sm-3 control-label">الرصيد الافتتاحى</label>
                                                <div class="col-sm-9">
                                                    <input type="number" step="any"  class="form-control" name="txtOpeningBalance" id="txtOpeningBalance" placeholder="الرصيد الافتتاحى">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputtext3" class="col-sm-3 control-label">طبيعة العمل حسب العقد</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" name="txtWorkNature" id="txtWorkNature" placeholder="طبيعة العمل حسب العقد">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                                            الأصناف
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse5" class="panel-collapse collapse">
                                    <div>
                                        <div>
                                            @*<div class="form-group">
                                                    <label for="inputtext3" class="col-sm-3 control-label">السماح بالحد الائتمانى</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" class="form-control" id="tt" placeholder="السماح بالحد الائتمانى" >
                                                    </div>
                                                </div>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-offset-2">
                            <button type="button" class="btn btn-success" onclick="save()">
                                حفظ
                            </button>
                            <button type="reset" class="btn btn-danger" onclick="back('@ViewContext.RouteData.Values["controller"].ToString()')">
                                رجوع
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="hdnobjID" value="0" />
<input type="hidden" id="hdnUserId" value="0" />
<input type="hidden" id="hdnIsDeleted" value="0" />
<input type="hidden" id="hdnIsActive" value="0" />
<input type="hidden" id="hdnImage" value="0" />

<script>

    FillBranchDDL()

    FillcompanyDDL();

    FillIdentityTypeDDL();

    FillContractorsGroupDDL();

    FillNationalityDDL();

    FillJobTitleDDL();

function save() {

            CheckSave();


        if ($("form").valid() && $('.error:visible').length == 0) {
        $('#preloader, #status').fadeIn();
        $.ajax(
            {
                url: MainDomain + 'api/Contractor/' + $('#hdnobjID').val(),
                type: ((@ViewBag.ID.ToString() != '') ? 'PUT' : 'POST'),
                data: {
                    "Id": $('#hdnobjID').val(),
                    "Code": $('#txtCode').val(),
                    "ArName": $('#txtArName').val(),
                    "EnName": $('#txtEnName').val(),
                    "CompanyId": $('#ddlCompanyId').val(),
                    "BranchId": $('#ddlBranchId').val(),
                    "ContractorsGroupId": $('#ddlContractorsGroupId').val(),
                    "DealingDate": $('#dtDealingDate').val(),
                    "DealingDateHijri": $('#dtDealingDateHijri').val(),
                    "Mobile": $('#txtMobile').val(),
                    "Tel1": $('#txtTel1').val(),
                    "Tel2": $('#txtTel2').val(),
                    "Fax": $('#txtFax').val(),
                    "Email": $('#txtEmail').val(),
                    "Site": $('#txtSite').val(),
                    "Address": $('#txtAddress').val(),
                    "Notes": $('#txtNotes').val(),
                    "NationalityId": $('#ddlNationalityId').val(),
                    "TaxNumber": $('#txtTaxNumber').val(),
                    "FileNumber": $('#txtFileNumber').val(),
                    "IdentityTypeId": $('#ddlIdentityTypeId').val(),
                    "IdentityNumber": $('#txtIdentityNumber').val(),
                    "IdentitySource": $('#txtIdentitySource').val(),
                    "IdentityIssueDate": $('#dtIdentityIssueDate').val(),
                    "IdentityIssueDateHijri": $('#dtIdentityIssueDateHijri').val(),
                    "IdentityExpireDate": $('#dtIdentityExpireDate').val(),
                    "IdentityExpireDateHijri": $('#dtIdentityExpireDateHijri').val(),
                    "JobTitleId": $('#ddlJobTitleId').val(),
                    "WorkNature": $('#txtWorkNature').val(),
                    "AccountId": $('#ddlAccountId').val(),
                    "AllowCreditLimit": $('#chkAllowCreditLimit').prop("checked"),
                    "CreditLimitAmount": $('#txtCreditLimitAmount').val(),
                    "CreditLimitPeriod": $('#txtCreditLimitPeriod').val(),
                    "OpeningBalance": $('#txtOpeningBalance').val(),
                    "IsActive": (@ViewBag.ID.ToString() != '') ? $('#hdnIsActive').val() : true,
                    "IsDeleted": (@ViewBag.ID.ToString() != '') ? $('#hdnIsDeleted').val() : false,
                    "UserId": $('#hdnUserId').val(),
                    "Image": $('#hdnImage').val()
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Authorization', 'Bearer ' + $("#userToken").val());
                },
                error: function (e) {
                    if (e.responseJSON.Message == 'Duplicate Code Found') {
                        alert("الكود موجود بالفعل");
                        $('#preloader, #status').fadeOut();
                    } else
                        window.location = '/logout/';
                },
                success: function (r) {
                    back('@ViewContext.RouteData.Values["controller"].ToString()');
                }
            });
        } else {
            CheckSave();
            $("label.error").html('يرحى ادخال هذا الحقل');
            $('html').animate({ scrollTop: $('.error:visible').offset().top - 170 }, '500', 'swing');
        }
    }
    

    if (@ViewBag.ID.ToString() != '') {

        $.ajax(
            {
                url: MainDomain + 'api/Contractor/@ViewBag.ID.ToString()',
                type: 'Get',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Authorization', 'Bearer ' + $("#userToken").val());
                },
                error: function () {
                    window.location = '/logout/';
                },
                success: function (r) {
                    console.log(r);
                    console.log(r['ArName']);
                    if (r != null) {
                        $('#txtCode').val(r['Code']);
                        $('#txtArName').val(r['ArName']);
                        $('#txtEnName').val(r['EnName']);
                        $('#ddlJobTitleId').val(r['JobTitleId']);
                        $('#ddlCompanyId').val(r['CompanyId']);
                        $('#ddlBranchId').val(r['BranchId']);
                        $('#ddlContractorsGroupId').val(r['ContractorsGroupId']);
                        $('#ddlNationalityId').val(r['NationalityId']);
                        $('#dtDealingDate').val(r['DealingDate'] == null ? '' : r['DealingDate'].split("T")[0]);
                        $('#dtDealingDateHijri').val(r['DealingDateHijri']);
                        $('#ddlAccountId').val(r['AccountId']);
                        $('#chkIsActive').prop("checked", r['IsActive']);
                        $('#txtNotes').val(r['Notes']);
                        $('#txtMobile').val(r['Mobile']);
                        $('#txtTel1').val(r['Tel1']);
                        $('#txtTel2').val(r['Tel2']);
                        $('#txtFax').val(r['Fax']);
                        $('#txtEmail').val(r['Email']);
                        $('#txtSite').val(r['Site']);
                        $('#txtAddress').val(r['Address']);
                        $('#ddlIdentityTypeId').val(r['IdentityTypeId']);
                        $('#txtIdentityNumber').val(r['IdentityNumber']);
                        $('#txtIdentitySource').val(r['IdentitySource']);
                        $('#dtIdentityIssueDate').val(r['IdentityIssueDate'] == null ? '' : r['IdentityIssueDate'].split("T")[0]);
                        $('#dtIdentityIssueDateHijri').val(r['IdentityIssueDateHijri']);
                        $('#dtIdentityExpireDate').val(r['IdentityExpireDate'] == null ? '' : r['IdentityExpireDate'].split("T")[0]);
                        $('#dtIdentityExpireDateHijri').val(r['IdentityExpireDateHijri']);
                        $('#txtTaxNumber').val(r['TaxNumber']);
                        $('#txtFileNumber').val(r['FileNumber']);
                        $('#chkAllowCreditLimit').prop("checked", r['AllowCreditLimit']);
                        $('#txtCreditLimitAmount').val(r['CreditLimitAmount']);
                        $('#txtCreditLimitPeriod').val(r['CreditLimitPeriod']);
                        $('#txtOpeningBalance').val(r['OpeningBalance']);
                        $('#txtWorkNature').val(r['WorkNature']);

                        $('#hdnImage').val(r['Image']);
                        $('#hdnobjID').val(r['Id']);
                        $('#hdnUserId').val(r['UserId']);
                        $('#hdnIsDeleted').val(r['IsDeleted']);
                        $('#hdnIsActive').val(r['IsActive']);
FillAutoCompelete();
                    }

                    $('#preloader, #status').fadeOut();
                }
            });
    }
</script>
