@model MyERP.Models.PurchaseReturn
@{
    if (System.Web.Configuration.WebConfigurationManager.AppSettings["ECommerce"] == "true")
    {
        Layout = "~/Views/Shared/_EcommerceLayout.cshtml";
    }
    UICulture = Session["lang"] != null ? Session["lang"].ToString() : "ar";
    ViewBag.Title = @MyERP.Properties.Resources.PurchaseReturn;
}


<script src="~/Scripts/BarcodeScan.js"></script>

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                @if (Model != null)
                {
                    if (Model.IsDeleted == false)
                    {
                        if (ViewBag.Previous > 0)
                        {
                <a href="@Url.Action("AddEdit", new { id = ViewBag.First })" class="btn btn-info">@MyERP.Properties.Resources.First</a>
                            <a href="@Url.Action("AddEdit", new { id = ViewBag.Previous })" class=" btn btn-info">&#8250;</a>
                        }
                        if (ViewBag.Next > 0)
                        {
                            <a href="@Url.Action("AddEdit", new { id = ViewBag.Next })" class="btn btn-info">&#8249;</a>
                            <a href="@Url.Action("AddEdit", new { id = ViewBag.Last })" class="btn btn-info">@MyERP.Properties.Resources.Last</a>
                        }
                    }
                }
            <a class="btn btn-info" href="@Url.Action("Index")" role="button">@MyERP.Properties.Resources.Back</a>
            </div>
            <h4 class="page-title"> @MyERP.Properties.Resources.PurchaseReturn </h4>
        </div>
    </div>
</div>
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
@if (Model != null && Model.Id > 0)
{
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.IsActive)
    @Html.HiddenFor(model => model.UserId)
    @Html.HiddenFor(model => model.IsLinked)
    @Html.HiddenFor(model => model.IsPosted)
    @Html.HiddenFor(model => model.IsDeleted)
    @Html.HiddenFor(model => model.IsAccepted)
    @Html.HiddenFor(model => model.IsCompleted)
    @Html.HiddenFor(model => model.Image)
}
<div class="row">
    <div class="col-12">
        <div class="card-box">
            <div class="row">
                <div class="col-12">
                    <div class="form-horizontal needs-validation" role="form">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="header-title">
                                    @MyERP.Properties.Resources.MainData
                                </h5>
                                <div class="form-group row">
                                    <label class=" col-sm-1 control-label" for="DocumentNumber">@MyERP.Properties.Resources.DocNo</label>
                                    <div class="col-sm-5">
                                        @Html.EditorFor(model => model.DocumentNumber, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", placeholder = @MyERP.Properties.Resources.DocNo, hidden = "hidden" } })
                                        <input id="DocumentNumbers" class="form-control" placeholder=@MyERP.Properties.Resources.Code required readonly />
                                        <div class="invalid-feedback">
                                            @MyERP.Properties.Resources.Required
                                        </div>
                                    </div>

                                    <label for="VoucherDate" class="control-label col-sm-1">@MyERP.Properties.Resources.VoucherDate</label>
                                    <div class="col-sm-5">
                                        <input id="VoucherDate" name="VoucherDate" class="form-control" type="datetime-local" value="@ViewBag.VoucherDate" required />
                                        <div class="invalid-feedback">
                                            @MyERP.Properties.Resources.Required
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="DepartmentId" class="col-sm-1 control-label"> @MyERP.Properties.Resources.Department </label>
                                    <div class="col-sm-5">
                                        @Html.DropDownList("DepartmentId", null, null, htmlAttributes: new { @class = "form-control", @required = "required" })
                                        <div class="invalid-feedback">
                                            @MyERP.Properties.Resources.Required
                                        </div>
                                    </div>

                                    <label for="WarehouseId" class="col-sm-1 control-label"> @MyERP.Properties.Resources.WareHouse </label>
                                    <div class="col-sm-5">
                                        @Html.DropDownList("WarehouseId", null, null, htmlAttributes: new { @class = "form-control", @required = "required" })
                                        @Html.ValidationMessageFor(model => model.WarehouseId, "", new { @class = "text-danger" })
                                        <div class="invalid-feedback">
                                            @MyERP.Properties.Resources.Required
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-sm-1" for="Notes">@MyERP.Properties.Resources.Notes</label>
                                    <div class="col-sm-5">
                                        <textarea id="Notes" name="Notes" class="form-control" rows="5" cols="5">@if (Model != null) { @Model.Notes; }</textarea>
                                    </div>

                                    <label for="VendorOrCustomerId" class="control-label col-sm-1">@MyERP.Properties.Resources.Vendor </label>
                                    <div class="col-sm-5">
                                        @Html.DropDownList("VendorOrCustomerId", null, null, htmlAttributes: new { @class = "form-control", @required = "required" })
                                        <div class="invalid-feedback">
                                            @MyERP.Properties.Resources.Required
                                        </div>
                                    </div>
                                </div>
                                <div  class="form-group row">
                                    <div class="col-sm-12">
                                        <button class="btn btn-primary" data-toggle="modal" data-target="#LinkWithOtherDocModal">@MyERP.Properties.Resources.LinkWithOtherDoc</button>
                                        <label id="SalesInvoiceDocNum">
                                            @if (Model != null && Model.SystemPageId.HasValue && Model.SelectedId.HasValue)
                                            {
                                                @Html.Raw(@MyERP.Properties.Resources.DocNo + ViewBag.SalesInoiveDocNum)
                                            }
                                        </label>
                                        <button id="cancelSalesInvoice" onclick="cancelSalesInvoice()" class="btn btn-icon waves-effect waves-light btn-danger btn-xs" style="display:none;"> <i class="fas fa-times"></i> </button>
                                    </div>
                                </div>

                                @if (ViewBag.UseCostCenter == true)
                                {
                                    <div class="form-group row">
                                        <label for="CostCenterId" class="control-label col-sm-1">
                                            @MyERP.Properties.Resources.CostCenter
                                        </label>

                                        <div class="col-sm-5">
                                            @Html.DropDownList("CostCenterId", null, @MyERP.Properties.Resources.Select, htmlAttributes: new { @class = "form-control" })
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @Html.Partial("ItemSearch")

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="header-title"> @MyERP.Properties.Resources.Details </h5>
                            <div class="form-horizontal needs-validation" role="form">
                                <div class="table-responsive">
                                    <table class="table table-centered mb-0">
                                        <thead>
                                            <tr>
                                                <th> @MyERP.Properties.Resources.Barcode </th>
                                                <th> @MyERP.Properties.Resources.Item </th>
                                                <th class="expiry" style="display:none;"> @MyERP.Properties.Resources.ExpiryDate </th>
                                                <th> @MyERP.Properties.Resources.Qty</th>
                                                <th class="UnitClass" style="display:none;">@MyERP.Properties.Resources.Unit</th>
                                                <th class="UnitEquivClass" style="display:none;">@MyERP.Properties.Resources.Equivalent</th>
                                                <th>@MyERP.Properties.Resources.Price</th>
                                                <th>@MyERP.Properties.Resources.Total</th>
                                                <th>@MyERP.Properties.Resources.Details</th>
                                                <th>@MyERP.Properties.Resources.Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody id="PurchaseReturnsDetails">
                                            @if (Model != null)
                                            {
                                                foreach (var item in Model.PurchaseReturnsDetails)
                                                {
                                                    <tr>
                                                        <td class="tabledit-edit-mode"><input class="barcode form-control tabledit-input form-control-sm" value="@Html.Raw(item.ItemPrice!=null?item.ItemPrice.Barcode:"")" /></td>
                                                        <td class="tabledit-edit-mode">
                                                            <input type="hidden" class="item form-control tabledit-input form-control-sm" value="@item.ItemPriceId" required />
                                                            <input type="text" class="item-name form-control tabledit-input form-control-sm" value="@item.Item.ArName - @item.ItemPrice.Barcode" required hidden />
                                                            <label style="width:200px" class="name control-label tabledit-input ">@item.Item.ArName - @item.ItemPrice.Barcode</label>
                                                            <input hidden class="itemUnitArName" value=@item.ItemUnit.ArName />

                                                        </td>
                                                        <td class="tabledit-edit-mode expiry" style="display:none;">
                                                            @if (item.ExpireDate.HasValue)
                                                            {
                                                                <input class="ExpiryDate form-control tabledit-input form-control-sm" value="@item.ExpireDate.Value.ToString("MM/dd/yyyy")" readonly />
                                                            }
                                                            else
                                                            {
                                                                <input class="ExpiryDate form-control tabledit-input form-control-sm" readonly />
                                                            }
                                                            <input class="PatchId form-control tabledit-input form-control-sm" value="@item.PatchId" hidden />
                                                            <input class="itemId form-control tabledit-input form-control-sm" value=@item.ItemId hidden />
                                                        </td>
                                                        <td class="tabledit-edit-mode">
                                                            <input class="quantity form-control tabledit-input form-control-sm" type="number" step="any" value="@item.Qty" required />
                                                        </td>
                                                        <td class="tabledit-edit-mode UnitClass" style="display:none;"><select class="item-unit form-control tabledit-input form-control-sm" required disabled><option value="@item.ItemUnitId">@item.ItemUnit.ArName</option></select></td>
                                                        <td class="tabledit-edit-mode UnitEquivClass" style="display:none;"><input class="unit-equavalent form-control tabledit-input form-control-sm small-number" type="number" step="any" value="@item.UnitEquivalent" required /></td>
                                                        <td class="tabledit-edit-mode"><input type="text" class="money price form-control tabledit-input form-control-sm" value="@item.Price" required /></td>
                                                        <td class="tabledit-edit-mode"><input class="total money form-control tabledit-input form-control-sm" type="text" readonly value="0" />
                                                        <input type="text" class="money cost form-control tabledit-input form-control-sm" disabled="disabled" hidden value="@item.CostPrice" />
                                                        </td>

                                                        <td><button class="btn btn-info" data-toggle="modal" data-target="#itemDetails" onclick="showItemDetials(this)">@MyERP.Properties.Resources.Details</button></td>
                                                        <td>
                                                            <a href="javascript:void(0);" onclick="deleteElement(this)">
                                                                <i class="fas fa-trash-alt"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                            <tr>
                                                <td class="tabledit-edit-mode"><input class="barcode form-control tabledit-input form-control-sm" /></td>
                                                <td onclick="showSearchModal()" class="tabledit-edit-mode popupCell">
                                                    <input type="hidden" class="item form-control tabledit-input form-control-sm" @Html.Raw(Model != null ? "" : "required ") />
                                                    <input type="text" class="item-name form-control tabledit-input form-control-sm" @Html.Raw(Model != null ? "" : "required ") hidden />
                                                    <span class="Add-Button" style="font-size: 25px; color: limegreen;margin-right:50%;" @*data-toggle="modal" data-target=".bs-example-modal-lg"*@><i class="fas fa-plus"></i></span>
                                                    <label style="width:200px" class="name control-label tabledit-input"></label>
                                                </td>
                                                <td class="tabledit-edit-mode expiry" style="display:none;">
                                                    <input class="ExpiryDate form-control tabledit-input form-control-sm" readonly />
                                                    <input class="PatchId form-control tabledit-input form-control-sm" hidden />
                                                    <input class="itemId form-control tabledit-input form-control-sm" hidden />

                                                </td>
                                                <td class="tabledit-edit-mode">
                                                    <input class="quantity form-control tabledit-input form-control-sm" type="number" step="any" @Html.Raw(Model != null ? "" : "required ") />

                                                </td>
                                                <td class="tabledit-edit-mode UnitClass" style="display:none;"><select class="item-unit form-control tabledit-input form-control-sm" @Html.Raw(Model != null ? "" : "required ") disabled></select></td>
                                                <td class="tabledit-edit-mode UnitEquivClass" style="display:none;"><input class="unit-equavalent form-control tabledit-input form-control-sm small-number" type="number" step="any" @Html.Raw(Model != null ? "" : "required ") /></td>
                                                <td class="tabledit-edit-mode"><input type="text" class="money price form-control tabledit-input form-control-sm" @Html.Raw(Model != null ? "" : "required ") /></td>
                                                <td class="tabledit-edit-mode">
                                                    <input class="total money form-control tabledit-input form-control-sm" type="text" readonly />
                                                    <input type="text" class="money cost form-control tabledit-input form-control-sm" disabled="disabled" hidden />
                                                </td>


                                                <td class="tabledit-edit-mode"> <button class="btn btn-info" data-toggle="modal" data-target="#itemDetails" onclick="showItemDetials(this)">@MyERP.Properties.Resources.Details</button></td>
                                                <td>
                                                    <a href="javascript:void(0);" onclick="deleteElement(this)">
                                                        <i class="fas fa-trash-alt"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                @Html.Partial("_LinkWithDocModal")


                                <!-- Patch Modal-->
                                <div id="patchModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="false" style="background-color: rgba(0, 0, 0, 0.5);">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            </div>
                                            <div class="modal-body">

                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <table class="table table-condensed">
                                                            <thead>
                                                                <tr>
                                                                    <th>@MyERP.Properties.Resources.PatchCode</th>
                                                                    <th>@MyERP.Properties.Resources.ExpiryDate</th>
                                                                    <th>@MyERP.Properties.Resources.Qty</th>
                                                                    <th>@MyERP.Properties.Resources.Add</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="item-patches"></tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" onclick=" $('.bs-example-modal-lg').modal('hide');" data-dismiss="modal">@MyERP.Properties.Resources.Close</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <hr />
                                <div class="form-group row">

                                    <label for="Total" class="control-label col-sm-2"> @MyERP.Properties.Resources.Total:</label>
                                    <div class="col-sm-2">
                                        @Html.EditorFor(model => model.Total, new { htmlAttributes = new { @class = "form-control money", type = "text", id = "Total", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.Total, "", new { @class = "text-danger" })
                                    </div>
                                    <label for="VoucherDiscountValue" class="control-label col-sm-1">@MyERP.Properties.Resources.DiscountValue: </label>
                                    <div class="col-sm-2">
                                        @Html.EditorFor(model => model.VoucherDiscountValue, new { htmlAttributes = new { @class = "form-control money", id = "DiscountValue", type = "text", value = "0" } })
                                        @Html.ValidationMessageFor(model => model.VoucherDiscountValue, "", new { @class = "text-danger" })
                                    </div>
                                    <label for="VoucherDiscountPercentage" class="control-label col-sm-1">@MyERP.Properties.Resources.DiscountPercentage: </label>
                                    <div class="col-sm-1">
                                        @Html.EditorFor(model => model.VoucherDiscountPercentage, new { htmlAttributes = new { @class = "form-control", value = "0" } })
                                        @Html.ValidationMessageFor(model => model.VoucherDiscountPercentage, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group row">

                                    <label for="NetTotal" class="control-label col-sm-2">@MyERP.Properties.Resources.TotalAfterDiscount:</label>
                                    <div class="col-sm-2">
                                        @Html.EditorFor(model => model.NetTotal, new { htmlAttributes = new { @class = "form-control money", type = "text", @readonly = "readonly", id = "NetTotal", value = "0" } })
                                        @Html.ValidationMessageFor(model => model.NetTotal, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-sm-4">
                                        <input type="checkbox" id="hasTaxes" @Html.Raw(Model != null && Model.SalesTaxes > 0 ? "checked" : "") />
                                        @MyERP.Properties.Resources.ApplySalesTaxesValue
                                    </div>
                                </div>

                                <div class="form-group row">

                                    <label for="SalesTaxes" class="control-label  col-sm-2  taxes" style="display:none">
                                        @MyERP.Properties.Resources.SalesTaxesValue
                                    </label>
                                    <div class="col-sm-2 taxes" style="display:none">
                                        @Html.EditorFor(model => model.SalesTaxes, new { htmlAttributes = new { @class = "form-control money taxes", id = "SalesTaxes", type = "text", value = "0" } })
                                        @Html.ValidationMessageFor(model => model.SalesTaxes, "", new { @class = "text-danger" })
                                    </div>
                                    <label for="Paid" class="control-label col-sm-2 taxes" style="display:none">
                                        @MyERP.Properties.Resources.TotalAfterTaxes
                                    </label>
                                    <div class="col-sm-2 taxes" style="display:none">
                                        @Html.EditorFor(model => model.TotalAfterTaxes, new { htmlAttributes = new { @class = "form-control taxes money ", type = "text", id = "TotalAfterTaxes", @readonly = "readonly ", value = "0" } })
                                        @Html.ValidationMessageFor(model => model.TotalAfterTaxes, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="header-title"> @MyERP.Properties.Resources.PaymentMethods </h5>
                            <div class="form-horizontal needs-validation" role="form">
                                <div class="table-responsive">
                                    <table class="table table-centered mb-0">
                                        <thead>
                                            <tr>
                                                <th>@MyERP.Properties.Resources.PaymentMethod</th>
                                                <th>@MyERP.Properties.Resources.Amount</th>
                                                <th>@MyERP.Properties.Resources.CashBox</th>
                                                @*<th>الحساب البنكى</th>*@
                                            </tr>
                                        </thead>
                                        <tbody id="PurchaseReturnPaymentMethods">
                                            @if (Model != null && Model.Id > 0)
                                            {
                                                foreach (var method in Model.PurchaseReturnPaymentMethods)
                                                {
                                                    <tr>
                                                        <td class="tabledit-edit-mode">
                                                            <input value="@method.PaymentMethod.Id" class="PaymentMethodId" type="hidden" />
                                                            <label>@method.PaymentMethod.ArName</label>
                                                        </td>
                                                        @if (method.PaymentMethod.Id == 1)
                                                        {
                                                            <td class="tabledit-edit-mode"><input class="money PaymentAmount form-control tabledit-input form-control-sm" type="text" value="@method.Amount" id="CashAmount" /></td>
                                                            <td class="tabledit-edit-mode">
                                                                @Html.DropDownList("CashBoxId", null, @MyERP.Properties.Resources.Select, htmlAttributes: new { @class = "CashBoxId form-control tabledit-input form-control-sm" })
                                                            </td>
                                                            <td></td>
                                                        }
                                                        else /*if (method.PaymentMethod.Id == 2)*/
                                                        {
                                                            <td class="tabledit-edit-mode"><input class="money PaymentAmount form-control tabledit-input form-control-sm" type="text" value="@method.Amount" /></td>
                                                            <td></td>
                                                            <td></td>
                                                        }
                                                    </tr>
                                                }
                                            }
                                            else
                                            {

                                                foreach (var method in (List<MyERP.Models.PaymentMethod>)ViewBag.PaymentMethods)
                                                {
                                                    <tr>
                                                        <td class="tabledit-edit-mode">
                                                            <input value="@method.Id" class="PaymentMethodId" type="hidden" />
                                                            <label>@method.ArName</label>
                                                        </td>
                                                        @if (method.Id == 1)
                                                        {
                                                            <td class="tabledit-edit-mode"><input class="money PaymentAmount form-control tabledit-input form-control-sm" type="text" id="CashAmount" /></td>
                                                            <td class="tabledit-edit-mode">
                                                                @Html.DropDownList("CashBoxId", null, null, htmlAttributes: new { @class = "CashBoxId form-control tabledit-input form-control-sm" })
                                                            </td>
                                                            <td></td>
                                                        }
                                                        else /*if (method.PaymentMethod.Id == 2)*/
                                                        {
                                                            <td class="tabledit-edit-mode"><input class="money PaymentAmount form-control tabledit-input form-control-sm" type="text" /></td>
                                                            <td></td>
                                                            <td></td>
                                                        }

                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-offset-2">
                    @if (Model == null)
                    {
                    <button type="submit" id="newbtn" onclick="addEdit('new')" class="btn btn-success">
                        @MyERP.Properties.Resources.SaveAndNew
                    </button>
                    <button id="save" class="btn btn-success" onclick="addEdit()">
                        @MyERP.Properties.Resources.Save
                    </button>
                    <a class="btn btn-danger" href="@Url.Action("Index")" role="button">@MyERP.Properties.Resources.Back</a>
                    }
                    else
                    {
                        if (Model.IsDeleted == false)
                        {
                <button id="save" class="btn btn-success" onclick="addEdit()">
                    @MyERP.Properties.Resources.Save
                </button>
                <a class="btn btn-danger" href="@Url.Action("Index")" role="button">@MyERP.Properties.Resources.Back</a>
                <button class="btn btn-danger" onclick="Delete(@Model.Id)">
                    @MyERP.Properties.Resources.Delete
                </button>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@if (Model != null && Model.Id > 0 && ViewBag.Journal != null)
{
    <div class="card">
        <div class="card-body">
            <h5 class="header-title">@MyERP.Properties.Resources.JournalEntrie</h5>
            <div class="form-group row">
                <label for="JournalDocNo" class="col-sm-1 control-label">@MyERP.Properties.Resources.JournalEntrieNo</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="JournalDocNo" value="@ViewBag.Journal.DocumentNumber" id="JournalDocNo" placeholder="@MyERP.Properties.Resources.JournalEntrieNo" readonly>

                </div>
                <label for="JournalDate" class="col-sm-1 control-label"> @MyERP.Properties.Resources.Date </label>
                <div class="col-sm-5">
                    <input type="datetime-local" class="form-control" name="JournalDate" value="@ViewBag.VoucherDate" id="JournalDate" placeholder="@MyERP.Properties.Resources.Date" readonly>

                </div>
            </div>
            <div class="form-group row">
                <label for="JournalNotes" class="col-sm-1 control-label">@MyERP.Properties.Resources.Notes</label>
                <div class="col-sm-5">
                    <textarea class="form-control" id="JournalNotes" value="@ViewBag.Journal.Notes" readonly name="JournalNotes" placeholder="@MyERP.Properties.Resources.Notes"></textarea>
                </div>

                <label for="JournalIsPosted" class="col-sm-1 control-label">@MyERP.Properties.Resources.Posted</label>
                <div class="col-sm-5">
                    <input type="checkbox" id="JournalIsPosted" name="JournalIsPosted" disabled @Html.Raw(Model.IsPosted == true ? "checked" : null)>

                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="header-title"> @MyERP.Properties.Resources.JournalEntryDetails </h5>
                    <div class="table-responsive">
                        <table class="table table-centered mb-0">
                            <thead>
                                <tr>
                                    <th>@MyERP.Properties.Resources.Debit</th>
                                    <th>@MyERP.Properties.Resources.Credit</th>
                                    <th>@MyERP.Properties.Resources.Accept</th>
                                    <th>@MyERP.Properties.Resources.Explanation</th>
                                    <th>@MyERP.Properties.Resources.CostCenter</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.Journal.JournalEntryDetails)
                                {
                                    if (item.Debit > 0 || item.Credit > 0)
                                    {
                                <tr>
                                    <td>@item.Debit</td>
                                    <td>@item.Credit</td>
                                    <td>
                                        @Html.Raw(item.ChartOfAccount != null ? item.ChartOfAccount.ArName : null)
                                        <input type="hidden" class="JournalAccountId" value="@item.AccountId" />
                                    </td>
                                    <td>@item.Notes</td>
                                    <td>
                                        @Html.Raw(item.CostCenter != null ? item.CostCenter.ArName : null)
                                    </td>
                                </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div id="itemDetails" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">@MyERP.Properties.Resources.ItemDetails</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body" id="itemDetailsBody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light waves-effect" data-dismiss="modal">@MyERP.Properties.Resources.Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<script>
    var PayViaCheque = '@Html.Raw(ViewBag.PayViaCheque)';
    var PayViaCarryOver = '@Html.Raw(ViewBag.PayViaCarryOver)';
    var PayViaCash = '@Html.Raw(ViewBag.PayViaCash)';
    var PayViaVisa = '@Html.Raw(ViewBag.PayViaVisa)';
    var CanChangeItemPrice = 'True'; @*'@Html.Raw( ViewBag.CanChangeItemPrice)';*@
    var taxPercentage = 0.15;
    CanChangeItemPrice != 'True' ? $('.price').attr('readonly', 'readonly') : null;

     let warehouseOptions = '';
    let items = [];
    let custIems = [];
    let itemsOptionString = '';
    let UseExpiryDateForItems = '@ViewBag.UseExpiryDateForItems';
    var selectedItemRowToEdit;
    var isBarcodeScanned = false; // For barcode scanner
    var barcodeScannerCode = ""; // For barcode scanner

    $(document).ready(function () {
        $('#VoucherDiscountPercentage').inputmask({
            alias: 'numeric', groupSeparator: ',', autoGroup: true, digits: 5, digitsOptional: false, 'allowMinus': false, 'placeholder': '0'
        });
        $.get('/Helper/GetOpenPeriodBeginningEnding').done(function (r) {
            $("input[type|='datetime-local']").prop('min', r.PeriodStart).prop('max', r.PeriodEnd);
        });
       // getItems();
        if ($('#Id').val()) {

            var code = $('#DocumentNumber').val();
            $('#DocumentNumbers').val(code.replaceAll("-", ""))
            $("#DepartmentId").prop('disabled', true);
            $("#VoucherDate").prop('disabled', true);

            $('.price').each(function () {
                $(this).closest('tr').find('.total').val($(this).inputmask('unmaskedvalue') * $(this).closest('tr').find('.quantity').val());
                $(this).closest('tr').find('.cost').val($(this).inputmask('unmaskedvalue') * $(this).closest('tr').find('.quantity').val() * $(this).closest('tr').find('.unit-equavalent').val());
            });

            if ($('#hasTaxes').prop('checked')) {
                $('.taxes').show();
            }
            if ($('#SalesTaxes').val() * 1>0)
            taxPercentage = $('#SalesTaxes').val() * 1 / ( $('#TotalAfterTaxes').val() * 1 - $('#SalesTaxes').val() * 1);
        } else {
            setDocNum();
            //GetCurrentTaxPercentage();
            if ($('#DepartmentId').val()) {
                $('#DepartmentId').trigger('change');
            }
        }
        GetCurrentTaxPercentage();

        PayViaCarryOver == 'False' ? $('#InstallmentAmount').closest('tr').remove() : null;
        PayViaCheque == 'False' ? $('#ChequeAmount').closest('tr').remove() : null;
        PayViaVisa == 'False' ? $('#VisaAmount').closest('tr').remove() : null;
        PayViaCash == 'False' ? $('#CashAmount').closest('tr').remove() : null;
        if (window.sessionStorage.getItem("UseItemUnit") == 'true') {
            $('.UnitClass').show();
            $('.UnitEquivClass').show();

            // show item unit ArName
            $('#PurchaseReturnsDetails tr').each(function () {
                var tr = $(this);

                var itemUnitArName = tr.find('.itemUnitArName');

                var itemDisplayName = tr.find('.name').text();
                if (itemDisplayName != "") {
                    if (itemDisplayName.split('-')[1] !== " ")
                        itemDisplayName += "- " + itemUnitArName.val();
                    else
                        itemDisplayName += itemUnitArName.val();

                    tr.find('.name').text(itemDisplayName);

                }
            });
        }
        getItems();

        // Expire date
        if (UseExpiryDateForItems == 'True') {
            $('.expiry').show();
        }
    });

    function setWarehouseValues() {
        warehouseOptions = '';
        return requestData('/Helper/WarehousesByDepartmentId?id=' + $('#DepartmentId').val())
            .done(function (r) {
               // warehouseOptions = '<option value>إختر المخزن</option>';
                for (var i = 0; i < r.length; i++) {
                    warehouseOptions += '<option value="' + r[i].Id + '">' + r[i].ArName + '</option>';
                }
            });
    }

    function getItems() {
        return requestData('/Helper/ItemsByDepId?departmentId='+ $('#DepartmentId').val()).done(function (r) {
            items = r;
        });
    }

    function cashBoxByDepartment() {
        $.get('/Helper/CashBoxByDepartment/' + $('#DepartmentId').val()).done(function (r) {
            $('.CashBoxId').empty();
           // $('.CashBoxId').append('<option value>اختر الصندوق</option>');
            for (var i = 0; i < r.length; i++) {
                $('.CashBoxId').append($('<option>', {
                    value: r[i].Id,
                    text: r[i].ArName
                }));
            }
        });
    }

    $(document).on('change', '#DepartmentId', function () {
        setWarehouseValues().then(function () {
            $("#WarehouseId").empty().append(warehouseOptions);
        });
        setDocNum();
        getItems();

        if ($('#PurchaseReturnsDetails tr').length > 1) {
            //alert("تم إزالة جميع البيانات الخاصة بالفرع السابق !");
            Swal.fire({
                title: '@MyERP.Properties.Resources.AllDataOfPreviousDepartmentCleared',
                text: " ",
                icon: 'info',
                showCancelButton: false,
                confirmButtonText: '@MyERP.Properties.Resources.Ok',
                confirmButtonColor: '#3085d6'
            });
        }
        $('#PurchaseReturnsDetails tr').not(':last').remove();
        cashBoxByDepartment();
        $('#PurchaseReturnsDetails').find('.item, .item-name, .item-unit, .quantity, .unit-equavalent, .price').prop('required', 'required');
        CalculateTotals();
    });

     $('#WarehouseId').on('change', function () {
            $('.item').each(function () {
                $(this).val() > 0 ? $(this).trigger('change') : null;
            });
        });

    $(document).on('change', '.price', function () {
        $(this).closest('tr').find('.total').val($(this).inputmask('unmaskedvalue') * $(this).closest('tr').find('.quantity').val());
        CalculateTotals();
        addToPurchaseReturnsDetails();
    });

    $(document).on('change', '.quantity', function () {
            $(this).closest('tr').find('.price').trigger('change');
    });

     $(document).on('keyup', '.item-name', function () {
        let itemNameInput = $(this);
        if (!custIems.length)
            custIems = $.map(items, function (n) {
                return { label: n.ArName, value: n.ItemPriceId };
            });
        $(this).autocomplete({
            source: custIems,
            select: function (event, ui) {
                event.preventDefault();
                $(itemNameInput).val(ui.item.label);
                $(itemNameInput).closest('td').find('.item').val(ui.item.value).trigger('change');
            },
            minLength: 0,
            focus: function (event, ui) {
                event.preventDefault();
            }
        })
     });

    $(document).on('change', '.item-name', function () {
        let itemName = $(this).val();
        if (!items.filter(function (i) { return i.ArName == itemName; }).length) {
            $(this).closest('tr').find('.item-name').val('');
            $(this).closest('tr').find('.item').val('').trigger('change');
            $(this).closest('tr').find('.item-unit').empty();
        }
    });

    $(document).on('change', '.item', function () {
        let itemPrice = $(this);
        let tr = itemPrice.closest('tr');

        if (itemPrice.closest('tr').find('.Add-Button').prop('hidden') == false) {
            itemPrice.closest('tr').find('.Add-Button').prop('hidden', true);
        }
        if (itemPrice.val() && items.length) {
            let item = items.filter(function (i) { return i.ItemPriceId == itemPrice.val(); })[0];
            itemPrice.closest('tr').find('.barcode').val(item.Barcode);
            itemPrice.closest('tr').find('.price').val(item.Price);
            $.get('/Helper/GetItemAvgPrice?itemId=' + item.Id + '&departmentId=' + $('#DepartmentId').val()).done(function (r) {
                if (r) {
                    $(itemPrice).closest('tr').find('.cost').val(r);
                }
                else {
                    $(itemPrice).closest('tr').find('.cost').val('');
                }
                $('#preloader, #status').fadeOut();
            }).fail(function () {
                $(itemPrice).closest('tr').find('.cost').val('');
                $('#preloader, #status').fadeOut();
            });

            itemPrice.closest('tr').find('.item-unit').empty().append('<option value="' + item.ItemUnitId + '">' + item.ItemUnitArName + '</option>');
            itemPrice.closest('tr').find('.unit-equavalent').val(item.Equivalent);
            itemPrice.closest('tr').find(".itemId").val(item.Id);

            // Barcode scanner
            if (isBarcodeScanned) {
                getDataFromBarcode(barcodeScannerCode, tr, false);
            }
            else {
                showPatchModal(item.Id, true,false);
            }

        } else {
            itemPrice.closest('tr').find('input[type="text"]').val('');
            itemPrice.closest('tr').find('select').empty();
        }
        $(this).closest('tr').find('.price').trigger('change');
        addToPurchaseReturnsDetails();
    });

    $(document).on('keydown', '.barcode', function (e) {
        if (e.which == 13 || e.keyCode == 13) {
            let elem = $(this);
            var barcode = elem.val().includes("-*-") ? elem.val().split("-*-")[1] : elem.val(); //For barcode scanner

            if (items.length) {
                //let itemPrice = items.filter(function (i) { return i.Barcode === $(elem).val(); })[0];
                //if (itemPrice) {
                //    $(elem).closest('tr').find('.item-name').val(itemPrice.ArName);
                //    $(elem).closest('tr').find('.item').val(itemPrice.ItemPriceId).trigger('change');
                //} else {
                //    $(elem).closest('tr').find('.item-name').val('');
                //    $(elem).closest('tr').find('.item').val('').trigger('change');
                //}

                let itemPrice = items.filter(function (i) { return i.Barcode === barcode; })[0];
                if (itemPrice) {

                    let itmId = itemPrice.Id;

                    // Item Has Expire Date
                    let ItemHasExpiry = isItemHasExpireDate(itmId);

                    // Barcode scanner
                    if (elem.val().includes("-*-")) {
                        if (ItemHasExpiry && UseExpiryDateForItems) {
                            isBarcodeScanned = true;
                            barcodeScannerCode = elem.val();
                        }
                        else if (!UseExpiryDateForItems || UseExpiryDateForItems === null || UseExpiryDateForItems === undefined) {
                           // alert("استخدام تاريخ الصلاحية للاصناف غير مفعل");
                            Swal.fire({
                                title: '@MyERP.Properties.Resources.ExpirationDateForItemsIsDisabled',
                                text: " ",
                                icon: 'info',
                                showCancelButton: false,
                                confirmButtonText: '@MyERP.Properties.Resources.Ok',
                                confirmButtonColor: '#3085d6'
                            });
                        }
                    }
                    else {
                        isBarcodeScanned = false;
                        barcodeScannerCode = "";

                        $(elem).closest('tr').find('.ExpiryDate').val(''); //
                    }

                    $(elem).closest('tr').find('.itemId').val(itmId);

                    $(elem).closest('tr').find('.item-name').val(itemPrice.ArName);
                    $(elem).closest('tr').find('.name').text(itemPrice.ArName);
                    $(elem).closest('tr').find('.item').val(itemPrice.ItemPriceId).trigger('change');
                } else {

                    $(elem).closest('tr').find('.itemId').val(''); //
                    $(elem).closest('tr').find('.ExpiryDate').val(''); //

                    $(elem).closest('tr').find('.item-name').val('');
                    $(elem).closest('tr').find('.name').text('');
                    $(elem).closest('tr').find('.item').val('').trigger('change');
                }
            } else {
                $(elem).closest('tr').find('.item-name').val('');
                $(elem).closest('tr').find('.item').val('').trigger('change');
            }
        }
    });

     $(document).on('change', '.barcode', function () {
        let itemPrice = $(this).closest('tr').find('.item').val();
        if (items.length && itemPrice) {
            let itemPrice = $(this).closest('tr').find('.item').val();
            let barcode = items.filter(function (i) { return i.ItemPriceId == itemPrice; })[0];
            $(this).val(barcode ? barcode.Barcode:'');
        } else
            $(this).val('');
     });
     $('#VoucherDate').on('change', function () {
         GetCurrentTaxPercentage();
         setDocNum();
     });
    function setDocNum() {
        if ($('#DepartmentId').val())
            $.get('/PurchaseReturn/SetDocNum?id=' + $('#DepartmentId').val() + '&VoucherDate=' + $('#VoucherDate').val()).done(function (r) {
                $('#DocumentNumber').val(r);
                $('#DocumentNumbers').val(r.replaceAll("-", ""));
            });
    }
    function GetCurrentTaxPercentage() {
        $.get('/TaxesPercentages/GetCurrentTaxPercentage?date=' + $('#VoucherDate').val()).done(function (r) {
            taxPercentage = r / 100;
            CalculateTotals();
        });

    }
    function addToPurchaseReturnsDetails() {
         if ($('.item-name').last().val())
            $('#PurchaseReturnsDetails').find('.item, .item-name, .item-unit, .quantity, .unit-equavalent, .price').prop('required', 'required');

        if ($('#PurchaseReturnsDetails .form-control:invalid').length > 0) {
            $('#PurchaseReturnsDetails').closest('.form-horizontal').addClass('was-validated');
            $('html, body').animate({
                scrollTop: $("#PurchaseReturnsDetails").find(".form-control:invalid").eq(0).offset().top - 80
            }, 500);
        } else if ($('#PurchaseReturnsDetails .quantity:last').val() && $('#PurchaseReturnsDetails .item-name:last').val()) {
            var tr = '<tr><td class="tabledit-edit-mode"><input class="barcode form-control tabledit-input form-control-sm" /></td><td onclick="showSearchModal()" class="tabledit-edit-mode popupCell"><input type="hidden" class="item form-control tabledit-input form-control-sm"  /><input type="text" class="item-name form-control tabledit-input form-control-sm" hidden /><span  class="Add-Button" style="font-size: 25px; color: limegreen;margin-right:50%;" data-toggle="modal" data-target=".bs-example-modal-lg"><i class="fas fa-plus"></i></span><label style="width:200px" class="name control-label tabledit-input"></label></td><td class="tabledit-edit-mode expiry" style="display:none;"><input readonly class="ExpiryDate form-control tabledit-input form-control-sm" /><input class="PatchId form-control tabledit-input form-control-sm" hidden/> <input class="itemId form-control tabledit-input form-control-sm" hidden/></td><td class="tabledit-edit-mode"><input class="quantity form-control tabledit-input form-control-sm" type="number" step="any" /></td><td class="tabledit-edit-mode UnitClass" style="display:none;"><select class="item-unit form-control tabledit-input form-control-sm" disabled></select></td><td class="tabledit-edit-mode UnitEquivClass" style="display:none;"><input class="unit-equavalent small-number form-control tabledit-input form-control-sm" type="number" step="any"  /></td><td class="tabledit-edit-mode"><input type="text" class="money price form-control tabledit-input form-control-sm"' + (CanChangeItemPrice != 'True' ? 'readonly' : '') + ' /></td><td class="tabledit-edit-mode"><input class="total money form-control tabledit-input form-control-sm" type="text" readonly value="0" /><input type="text" class="money cost form-control tabledit-input form-control-sm" disabled="disabled" hidden /></td><td class="tabledit-edit-mode"> <button class="btn btn-info" data-toggle="modal" data-target="#itemDetails" onclick="showItemDetials(this)">@MyERP.Properties.Resources.Details</button></td><td><a href="javascript:void(0);" onclick="deleteElement(this)"><i class="fas fa-trash-alt"></i></a></td></tr>';

            $('#PurchaseReturnsDetails').append(tr);

            // Expire date
            if (UseExpiryDateForItems == 'True') {
                $('.expiry').show();
            }

            if (window.sessionStorage.getItem("UseItemUnit") == 'true') {
                $('.UnitClass').show();
                $('.UnitEquivClass').show();
            }

            $('#PurchaseReturnsDetails .money').inputmask({
                alias: 'numeric', groupSeparator: ',', autoGroup: true, digits: 2, digitsOptional: false, 'allowMinus': false, 'placeholder': '0'
            });
             $('#PurchaseReturnsDetails input[type=number]').removeProp('oninput').prop('type', 'text').inputmask({
                alias: 'numeric', autoGroup: true, digits: 2, digitsOptional: false, 'allowMinus': false, 'placeholder': '0'
             });
            $('#PurchaseReturnsDetails input.small-number').removeProp('oninput').prop('type', 'text').inputmask({
                alias: 'numeric', autoGroup: true, digits: 4, digitsOptional: false, 'allowMinus': false, 'placeholder': '0'
            });
            $('#PurchaseReturnsDetails tr:last select').select2({
                matcher: matchCustom
            });
        }
    }

    // check if item has expire date
    function isItemHasExpireDate(itemId) {
        let ItemHasExpiry = items.filter(function (i) { return i.Id == itemId; })[0].ItemHasExpiry;
        return ItemHasExpiry;
    }

    // Patch modal
    function showPatchModal(itemId, isNewItem, getZeroQunatity) {

        let ItemHasExpiry = items.filter(function (i) { return i.Id == itemId; })[0].ItemHasExpiry;
        if (UseExpiryDateForItems && ItemHasExpiry == true) {
            $('#patchModal').modal('show');
            let itemPatches = [];
            //let itemId = $(item).closest('tr').find('.item-id').val();

            $.get('/Helper/PatchesByItemId?itemId=' + itemId + '&getZeroQunatity=' + getZeroQunatity).done(function (r) {
                itemPatches = r;
                let tr = '';

                // Add
                if (isNewItem) {
                    for (var i = 0; i < itemPatches.length; i++) {
                        tr += ('<tr><td>' + (itemPatches[i].PatchCode ? itemPatches[i].PatchCode : '') + '</td><td><input hidden class="itemId" value="' + itemId + '" /><input hidden class="itemPatchId" value="' + itemPatches[i].PatchId + '" /><label class="itemPatchExpireDate">' + (itemPatches[i].ExpiryDate != null ? convertToJavaScriptDate(itemPatches[i].ExpiryDate) : '') + '</label></td ><td>' + itemPatches[i].Qty + '</td><td><button class="btn btn-info js-choose-patch-item">اضف</button></td></tr > ');
                    }
                }
                else {
                    for (var i = 0; i < itemPatches.length; i++) {
                        tr += ('<tr><td>' + (itemPatches[i].PatchCode ? itemPatches[i].PatchCode : '') + '</td><td><input hidden class="itemId" value="' + itemId + '" /><input hidden class="itemPatchId" value="' + itemPatches[i].PatchId + '" /><label class="itemPatchExpireDate">' + (itemPatches[i].ExpiryDate != null ? convertToJavaScriptDate(itemPatches[i].ExpiryDate) : '') + '</label></td ><td>' + itemPatches[i].Qty + '</td><td><button class="btn btn-info js-edit-patch-item">اضف</button></td></tr > ');
                    }
                }

                $('#item-patches').empty().append(tr);
                $('#pleasewait').fadeOut();
            });
        }

    }

    //------------------- ConvertDate-------------
    function convertToJavaScriptDate(value) {

        if (value === null)
            return null;
        var pattern = /Date\(([^)]+)\)/;
        var results = pattern.exec(value);
        var dt = new Date(parseFloat(results[1]));
        return ((dt.getMonth() + 1 + "/" + dt.getDate() + "/" + dt.getFullYear()));
        // return (dt)
    }

    // Choose patch item to add
    $("#patchModal").on('click', '.js-choose-patch-item', function () {
        var tr = $(this).closest("tr");
        var patchId = tr.find(".itemPatchId").val();
        var expireDate = tr.find(".itemPatchExpireDate").text();
        $("#patchModal").modal('hide');
        $('#PurchaseReturnsDetails tr:last').find('.PatchId').val(patchId);
        $('#PurchaseReturnsDetails tr:last').find('.ExpiryDate').val(expireDate);
    });

    // Double click on expire date
    $(document).on('dblclick', ".ExpiryDate", function () {
        var expireDateInput = $(this);
        selectedItemRowToEdit = expireDateInput.closest("tr");
        var itemId = selectedItemRowToEdit.find('.itemId').val();
        if (itemId) {
            showPatchModal(itemId, false,false);
        }
    });

    // Choose patch item to edit
    $("#patchModal").on('click', '.js-edit-patch-item', function () {
        var button = $(this);
        var tr = button.closest("tr");
        var patchId = tr.find(".itemPatchId").val();
        var expireDate = tr.find(".itemPatchExpireDate").text();
        $("#patchModal").modal('hide');
        var itemRowToEdit = selectedItemRowToEdit;
        $(itemRowToEdit).find('.ExpiryDate').val(expireDate);
        $(itemRowToEdit).find('.PatchId').val(patchId);
    });

    $(document).on('change', '#DiscountValue', function () {
        var total = 0;
        $('.total').each(function () {
            total += $(this).inputmask('unmaskedvalue') * 1;
        });
        if (($(this).inputmask('unmaskedvalue') / total) >= 1) {
            $(this).val(0);
        }
        $('#VoucherDiscountPercentage').val(($(this).inputmask('unmaskedvalue') * 100 / total));
        CalculateTotals();
    });

    $(document).on('change', '#VoucherDiscountPercentage', function () {
        CalculateTotals();
    });

    $(document).on('change', '#SalesTaxes', function () {
        CalculateTotals();
    });

    $('#hasTaxes').on('click', function () {
        if ($('#hasTaxes').prop('checked')) {
            var total = 0;
            $('.total').each(function () {
                total += $(this).inputmask('unmaskedvalue') * 1;
            });
            total -= $('#DiscountValue').inputmask('unmaskedvalue');
            $('#SalesTaxes').val(total * taxPercentage);
            $('#TotalAfterTaxes').val(total + total * taxPercentage);
            $('.taxes').show();
        }
        else {
            $('.taxes').hide();
            $('#SalesTaxes').val(0);
            $('#TotalAfterTaxes').val(0);
        }
        CalculateTotals();
    });

    function CalculateTotals() {
        var total = 0;
        $('.total').each(function () {
            total += $(this).inputmask('unmaskedvalue') * 1;
        });
        $('#Total').val(total);
        if ($('#VoucherDiscountPercentage').inputmask('unmaskedvalue') < 100) {
            $('#DiscountValue').val(($('#VoucherDiscountPercentage').inputmask('unmaskedvalue') / 100) * total);
        } else {
            $('#VoucherDiscountPercentage').val(0);
            $('#DiscountValue').val(0);
        }
        if ($('#DiscountValue').val()) {
            total -= $('#DiscountValue').inputmask('unmaskedvalue');
        }
        $('#NetTotal').val(total);

        if ($('#hasTaxes').prop('checked')) {
            $('#SalesTaxes').val(total * taxPercentage);
            total += $('#SalesTaxes').inputmask('unmaskedvalue')*1;
        }
        $('#TotalAfterTaxes').val(total);
        $('#CashAmount').val(total);
        $('#InstallmentAmount').val(0);
        $('#VisaAmount').val(0);
        $('#ChequeAmount').val(0);
    }

    //$(document).on('change', '#CashAmount', function () {
    //    var total=0;

    //    total = $('#TotalAfterTaxes').inputmask('unmaskedvalue');

    //    var CashAmount = $('#CashAmount').inputmask('unmaskedvalue') * 1;
    //    var InstallmentAmount = $('#InstallmentAmount').inputmask('unmaskedvalue') * 1;
    //    var VisaAmount = $('#VisaAmount').inputmask('unmaskedvalue') * 1;
    //    var ChequeAmount = $('#ChequeAmount').inputmask('unmaskedvalue') * 1;
    //    var diff = total - (CashAmount + InstallmentAmount + VisaAmount + ChequeAmount);
    //    if (diff > 0) {
    //        $('#InstallmentAmount').val(diff);
    //    }
    //    else {
    //        $('#CashAmount').val(total);
    //        $('#InstallmentAmount').val(0);
    //        $('#VisaAmount').val(0);
    //        $('#ChequeAmount').val(0);
    //    }
    //});

    //$(document).on('change', '#InstallmentAmount', function () {
    //    var total = 0;

    //    total = $('#TotalAfterTaxes').inputmask('unmaskedvalue');
    //    var CashAmount = $('#CashAmount').inputmask('unmaskedvalue') * 1;
    //    var InstallmentAmount = $('#InstallmentAmount').inputmask('unmaskedvalue') * 1;
    //    var VisaAmount = $('#VisaAmount').inputmask('unmaskedvalue') * 1;
    //    var ChequeAmount = $('#ChequeAmount').inputmask('unmaskedvalue') * 1;
    //    var diff = total - (CashAmount + InstallmentAmount + VisaAmount + ChequeAmount);
    //    if (diff > 0) {
    //        $('#VisaAmount').val(diff);
    //    }
    //    else {
    //        $('#InstallmentAmount').val(total - CashAmount);
    //        $('#VisaAmount').val(0);
    //        $('#ChequeAmount').val(0);
    //    }
    //});

    //$(document).on('change', '#VisaAmount', function () {
    //    var total = 0;

    //    total = $('#TotalAfterTaxes').inputmask('unmaskedvalue');
    //    var CashAmount = $('#CashAmount').inputmask('unmaskedvalue') * 1;
    //    var InstallmentAmount = $('#InstallmentAmount').inputmask('unmaskedvalue') * 1;
    //    var VisaAmount = $('#VisaAmount').inputmask('unmaskedvalue') * 1;
    //    var ChequeAmount = $('#ChequeAmount').inputmask('unmaskedvalue') * 1;
    //    var diff = total - (CashAmount + InstallmentAmount + VisaAmount + ChequeAmount);
    //    if (diff > 0) {
    //        $('#ChequeAmount').val(diff);
    //    }
    //    else {
    //        $('#VisaAmount').val(total - (CashAmount + InstallmentAmount));
    //        $('#ChequeAmount').val(0);
    //    }
    //});

    //$(document).on('change', '#ChequeAmount', function () {
    //    var total = 0;

    //    total = $('#TotalAfterTaxes').inputmask('unmaskedvalue');
    //    var CashAmount = $('#CashAmount').inputmask('unmaskedvalue') * 1;
    //    var InstallmentAmount = $('#InstallmentAmount').inputmask('unmaskedvalue') * 1;
    //    var VisaAmount = $('#VisaAmount').inputmask('unmaskedvalue') * 1;
    //    var ChequeAmount = $('#ChequeAmount').inputmask('unmaskedvalue') * 1;
    //    var diff = total - (CashAmount + InstallmentAmount + VisaAmount + ChequeAmount);
    //    if (diff > 0) {

    //        diff = total - (CashAmount + InstallmentAmount + VisaAmount + ChequeAmount);
    //        $('#CashAmount').val(diff);
    //    }
    //    else {

    //        $('#ChequeAmount').val(total - (CashAmount + InstallmentAmount + VisaAmount));
    //    }
    //});

    // $(document).on('change', '#BankIdForVisa, #BankIdForCheque', function () {
    //    var bankAccount = $(this).closest('tr').find('.BankAccountId');
    //    setBankAccounts(bankAccount);
    //});

    //function setBankAccounts(bankAccount, id) {
    //    $(bankAccount).empty();
    //    return requestData('/SalesInvoice/SetBankAccounts?bankId=' + $(bankAccount).closest('tr').find('.BankId').val())
    //         .done(function (r) {
    //             let BankAccounts = r;
    //            $(bankAccount).append('<option value>إختر الحساب البنكى</option>');
    //            for (var i = 0; i < BankAccounts.length; i++) {
    //                $(bankAccount).append($('<option>', {
    //                    value: BankAccounts[i].Id,
    //                    text: BankAccounts[i].AccountNumber
    //                }));
    //            }
    //            id ? $(bankAccount).val(id).trigger('change') : null;
    //        });
    //}


    function chooseItem(item) {
        let itemId = $(item).closest('tr').find('.items-prices-quantities-id').val();
        $('#PurchaseReturnsDetails .item:last').val(itemId);
        $('#PurchaseReturnsDetails .item-name:last').val($(item).closest('tr').find('.nameOfItem').text());
        $('#PurchaseReturnsDetails .name:last').text($(item).closest('tr').find('.nameOfItem').text());
        $('#PurchaseReturnsDetails .item:last').trigger('change');
        $('.bs-example-modal-lg').modal('hide');
    }


    function deleteElement(e) {
        let tr = $(e).closest('tr');
        if ($(tr).index() == 0 && $(tr).closest('tbody').children('tr').length == 1) {
            $(tr).find("input").val('');
            $(tr).find('.Add-Button').prop('hidden', false);
            $(tr).find('.popupCell').attr('onclick', 'showSearchModal()');
        }
        else if ($(tr).index() < $(tr).closest('tbody').children('tr').length - 1)
            e.parentNode.parentNode.parentNode.removeChild(e.parentNode.parentNode);
        else if ($(tr).index() == $(tr).closest('tbody').children('tr').length - 1) {
            $(tr).find("input").val('');
            $(tr).find('input, select').removeAttr('required');
            $(tr).find('select').empty();
            $(tr).find('.Add-Button').prop('hidden', false);
            $(tr).find('.popupCell').attr('onclick', 'showSearchModal()');
        }
        CalculateTotals();
    }

    function addEdit(n) {
        var valid = true;
        if ($(".form-control:invalid").length > 0) {
            $('.form-horizontal').addClass('was-validated');
            $('html, body').animate({
                scrollTop: $(".form-control:invalid").eq(0).offset().top - 80
            }, 500);
            console.log($(".form-control:invalid"));
            valid = false;
        }
        if (valid && $('#CashAmount').inputmask('unmaskedvalue')*1 > 0) {
            if (!$('#CashBoxId').val()) {
                //alert("لابد من اختيار الصندوق الذى تم دفع المبلغ النقدى له ")
                Swal.fire({
                title: '@MyERP.Properties.Resources.YouMustChooseCashBoxToWhichTheCashAmountWasPaid',
                text: " ",
                icon: 'info',
                showCancelButton: false,
                confirmButtonText: '@MyERP.Properties.Resources.Ok',
                confirmButtonColor: '#3085d6'
            });
                valid = false;
            }
        }
        if (valid && $('#ChequeAmount').inputmask('unmaskedvalue')*1 > 0) {
            if (!$('#BankIdForCheque').val()) {
                //alert("لابد من اختيار البنك الذى يتم صرف الشيك منه ")
                Swal.fire({
                title: '@MyERP.Properties.Resources.YouMustChooseTheBankFromWhichTheChequeIsCashed',
                text: " ",
                icon: 'info',
                showCancelButton: false,
                confirmButtonText: '@MyERP.Properties.Resources.Ok',
                confirmButtonColor: '#3085d6'
            });
                valid = false;
            } else if (!$('#BankAccountIdForCheque').val()) {
                //alert("لابد من اختيار الحساب البنكى لصرف هذا الشيك  ")
                Swal.fire({
                title: '@MyERP.Properties.Resources.YouMustChooseABankAccountToCashThisCheque',
                text: " ",
                icon: 'info',
                showCancelButton: false,
                confirmButtonText: '@MyERP.Properties.Resources.Ok',
                confirmButtonColor: '#3085d6'
            });
                valid = false;
            }
        }
        if (valid && $('#VisaAmount').inputmask('unmaskedvalue')*1 > 0) {
            if (!$('#BankIdForVisa').val()) {
                //alert("لابد من اختيار البنك التابعة له هذه الفيزا ")
                Swal.fire({
                title: '@MyERP.Properties.Resources.YouMustChooseTheBankToWhichThisVisaIsAffiliated',
                text: " ",
                icon: 'info',
                showCancelButton: false,
                confirmButtonText: '@MyERP.Properties.Resources.Ok',
                confirmButtonColor: '#3085d6'
            });
                valid = false;
            } else if (!$('#BankAccountIdForVisa').val()) {
                //alert("لابد من اختيار الحساب البنكى لهذه الفيزا  ")
                Swal.fire({
                title: '@MyERP.Properties.Resources.YouMustChooseTheBankAccountForThisVisa',
                text: " ",
                icon: 'info',
                showCancelButton: false,
                confirmButtonText: '@MyERP.Properties.Resources.Ok',
                confirmButtonColor: '#3085d6'
            });
                valid = false;
            }
        }
        if (valid) {
            if ($('#hasTaxes').prop('checked') == false) {
                $('#TotalAfterTaxes').val($('#NetTotal').inputmask('unmaskedvalue'));
            }
        }
        if (valid) {
            var PurchaseReturnsDetails = [];
            $('#PurchaseReturnsDetails tr').each(function () {
                var td = $(this);
                if (td.find('.quantity').val() * 1 != 0 && td.find('.item').val() > 0) {
                    let itemId = items.filter(function (i) { return i.ItemPriceId == td.find('.item').val(); })[0].Id;
                    var purchaseReturnsDetail = {
                        ItemId: itemId,
                        ItemPriceId: td.find('.item').val(),
                        ItemUnitId: td.find('.item-unit').val(),
                        UnitEquivalent: td.find('.unit-equavalent').val(),
                        Price: td.find('.price').inputmask('unmaskedvalue'),
                        Qty: td.find('.quantity').val(),
                        IsActive: true,
                        IsDeleted: false,
                        Notes: td.find('.Notes').val(),
                        ExpireDate: td.find('.ExpiryDate').val(),
                        PatchId: td.find('.PatchId').val(),
                        CostPrice: td.find('.cost').inputmask('unmaskedvalue'),
                    };

                    PurchaseReturnsDetails.push(purchaseReturnsDetail);
                }
            });
            valid = PurchaseReturnsDetails.length > 0 ? true : false;
            !valid ?
                Swal.fire({
                title: '@MyERP.Properties.Resources.AllDetailsRequired',
                text: " ",
                icon: 'info',
                showCancelButton: false,
                confirmButtonText: '@MyERP.Properties.Resources.Ok',
                confirmButtonColor: '#3085d6'
            }): null;
        }
        if (valid) {
            var paymentMethods = [];
            var totalPaied = 0;
            $('#PurchaseReturnPaymentMethods tr').each(function () {
                var td = $(this);
                totalPaied += td.find('.PaymentAmount').inputmask('unmaskedvalue')*1;
                var paymentMethod = {
                    PurchaseReturnId: $('#Id').val(),
                    PaymentMethodId: td.find('.PaymentMethodId').val(),
                    CashBoxId: td.find('.CashBoxId').val(),
                    Amount: td.find('.PaymentAmount').inputmask('unmaskedvalue'),
                    BankId: td.find('.PaymentAmount').inputmask('unmaskedvalue') && td.find('.BankId').val() > 0 ? td.find('.BankId').val() : null,
                    BankAccountId: td.find('.PaymentAmount').inputmask('unmaskedvalue') && td.find('.BankAccountId').val() > 0 ? td.find('.BankAccountId').val() : null
                };
                paymentMethods.push(paymentMethod);
            });

            if ($('#TotalAfterTaxes').inputmask('unmaskedvalue') != totalPaied) {
               // alert("قيمة الإجمالى  لا تساوى قيمة مجموع المدفوع");
                Swal.fire({
                title: '@MyERP.Properties.Resources.TheTotalValueIsNotEqualToTotalAmountPaid',
                text: " ",
                icon: 'info',
                showCancelButton: false,
                confirmButtonText: '@MyERP.Properties.Resources.Ok',
                confirmButtonColor: '#3085d6'
            });
                valid = false;
            }
        }
        if (valid) {
            Swal.fire({
                title: '@MyERP.Properties.Resources.AreYouSureYouWantToSave',
                text: " ",
                icon: 'info',
                showCancelButton: true,
                confirmButtonText: '@MyERP.Properties.Resources.Ok',
                cancelButtonText: '@MyERP.Properties.Resources.Cancel',
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    $('#preloader, #status').fadeIn();
                    $('#newbtn').prop('disabled', true);
                    $('#save').prop('disabled', true);
                    $.ajax({
                        type: "POST", contentType: "application/json",
                        url: "/PurchaseReturn/AddEdit",
                        data:
                            JSON.stringify({
                                Id: $('#Id').val(),
                                DocumentNumber: $('#DocumentNumber').val(),
                                BranchId: $('#BranchId').val(),
                                WarehouseId: $('#WarehouseId').val(),
                                VoucherDate: $('#VoucherDate').val(),
                                VendorOrCustomerId: $('#VendorOrCustomerId').val(),
                                CurrencyId: $('#CurrencyId').val(),
                                CurrencyEquivalent: $('#CurrencyEquivalent').val(),
                                Total: $('#Total').inputmask('unmaskedvalue'),
                                SalesTaxes: $('#SalesTaxes').inputmask('unmaskedvalue'),
                                TotalAfterTaxes: $('#TotalAfterTaxes').inputmask('unmaskedvalue'),
                                VoucherDiscountValue: $('#DiscountValue').inputmask('unmaskedvalue'),
                                VoucherDiscountPercentage: $('#VoucherDiscountPercentage').val(),
                                NetTotal: $('#NetTotal').inputmask('unmaskedvalue'),
                                SystemPageId: $('#SystemPageId').val(),
                                DepartmentId: $('#DepartmentId').val(),
                                PurchaseReturnsDetails: PurchaseReturnsDetails,
                                IsActive: $('#IsActive').val(),
                                IsDeleted: $('#IsDeleted').val(),
                                Notes: $('#Notes').val(),
                                PurchaseReturnPaymentMethods: paymentMethods,
                                CostCenterId: $('#CostCenterId').val()
                            }),
                        success: function (r) {
                            if (r == "true") {
                                // alert("تم الحفظ");
                                Swal.fire({
                                    title: '@MyERP.Properties.Resources.Saved',
                                    text: " ",
                                    icon: 'success',
                                    showCancelButton: false,
                                    confirmButtonText: '@MyERP.Properties.Resources.Ok',
                                    confirmButtonColor: '#3085d6'
                                });
                                var itemIds = [];
                                $('#PurchaseReturnsDetails tr').each(function () {
                                    var td = $(this);
                                    if (td.find('.item').val() > 0)
                                        itemIds.push({
                                            ItemId: td.find('.item').val(),
                                        });
                                });
                                $.ajax({
                                    type: "POST", contentType: "application/json",
                                    url: "/Helper/UpdateItemQuantities",
                                    data:
                                        JSON.stringify({
                                            itemIds: itemIds,
                                            date: new Date()
                                        }),
                                    success: function (r) { }
                                });
                                $('#preloader, #status').fadeOut();
                                if (n == "new") {
                                    window.location.replace("/PurchaseReturn/AddEdit");
                                } else {
                                    window.location.replace("/PurchaseReturn");
                                }
                            }
                             else if (r == "Cannot Be Edited")
                    {
                        $('#preloader, #status').fadeOut();
                        Swal.fire({
                            title: '@MyERP.Properties.Resources.TheInvoiceHasBeenGeneratedAndCannotBeEdited',
                            text: " ",
                            icon: 'error',
                            showCancelButton: false,
                            confirmButtonText: '@MyERP.Properties.Resources.Ok',
                            confirmButtonColor: '#3085d6'
                        });

                    }
                    else {
                        $('#preloader, #status').fadeOut();
                        $('#newbtn').prop('disabled', false);
                        $('#save').prop('disabled', false);
                        //alert("@MyERP.Properties.Resources.NotSaved");
                        Swal.fire({
                            title: '@MyERP.Properties.Resources.NotSaved',
                            text: " ",
                            icon: 'error',
                            showCancelButton: false,
                            confirmButtonText: '@MyERP.Properties.Resources.Ok',
                            confirmButtonColor: '#3085d6'
                        });
                    }
                        },
                        error: function (r) {
                            $('#preloader, #status').fadeOut();
                            $('#newbtn').prop('disabled', false);
                            $('#save').prop('disabled', false);
                            console.log(r.response)
                            //alert("لم يتم الحفظ!");
                            Swal.fire({
                                title: '@MyERP.Properties.Resources.NotSaved',
                                text: " ",
                                icon: 'error',
                                showCancelButton: false,
                                confirmButtonText: '@MyERP.Properties.Resources.Ok',
                                confirmButtonColor: '#3085d6'
                            });
                        }
                    });
                }
                else { result.dismiss; }
            });
        }
        @*if (valid && confirm('@MyERP.Properties.Resources.AreYouSureYouWantToSave')) {
            $('#preloader, #status').fadeIn();
            $('#newbtn').prop('disabled', true);
            $('#save').prop('disabled', true);
            $.ajax({
                type: "POST", contentType: "application/json",
                url: "/PurchaseReturn/AddEdit",
                data:
                JSON.stringify({
                    Id: $('#Id').val(),
                    DocumentNumber: $('#DocumentNumber').val(),
                    BranchId: $('#BranchId').val(),
                    WarehouseId: $('#WarehouseId').val(),
                    VoucherDate: $('#VoucherDate').val(),
                    VendorOrCustomerId: $('#VendorOrCustomerId').val(),
                    CurrencyId: $('#CurrencyId').val(),
                    CurrencyEquivalent: $('#CurrencyEquivalent').val(),
                    Total: $('#Total').inputmask('unmaskedvalue'),
                    SalesTaxes: $('#SalesTaxes').inputmask('unmaskedvalue'),
                    TotalAfterTaxes: $('#TotalAfterTaxes').inputmask('unmaskedvalue'),
                    VoucherDiscountValue: $('#DiscountValue').inputmask('unmaskedvalue'),
                    VoucherDiscountPercentage: $('#VoucherDiscountPercentage').val(),
                    NetTotal: $('#NetTotal').inputmask('unmaskedvalue'),
                    SystemPageId: $('#SystemPageId').val(),
                    DepartmentId: $('#DepartmentId').val(),
                    PurchaseReturnsDetails: PurchaseReturnsDetails,
                    IsActive: $('#IsActive').val(),
                    IsDeleted: $('#IsDeleted').val(),
                    Notes: $('#Notes').val(),
                    PurchaseReturnPaymentMethods: paymentMethods,
                        CostCenterId: $('#CostCenterId').val()
                }),
                success: function (r) {
                    if (r == "true") {
                       // alert("تم الحفظ");
                        Swal.fire({
                            title: '@MyERP.Properties.Resources.Saved',
                            text: " ",
                            icon: 'success',
                            showCancelButton: false,
                            confirmButtonText: '@MyERP.Properties.Resources.Ok',
                            confirmButtonColor: '#3085d6'
                        });
                        var itemIds = [];
                        $('#PurchaseReturnsDetails tr').each(function () {
                            var td = $(this);
                            if (td.find('.item').val() > 0)
                                itemIds.push({
                                    ItemId: td.find('.item').val(),
                                });
                        });
                        $.ajax({
                            type: "POST", contentType: "application/json",
                            url: "/Helper/UpdateItemQuantities",
                            data:
                            JSON.stringify({
                                itemIds: itemIds,
                                date: new Date()
                            }),
                            success: function (r) { }
                        });
                        $('#preloader, #status').fadeOut();
                        if (n == "new") {
                            window.location.replace("/PurchaseReturn/AddEdit");
                        } else {
                            window.location.replace("/PurchaseReturn");
                        }
                    }
                },
                error: function (r) {
                    $('#preloader, #status').fadeOut();
                    $('#newbtn').prop('disabled', false);
                    $('#save').prop('disabled', false);
                    console.log(r.response)
                    //alert("لم يتم الحفظ!");
                    Swal.fire({
        title: '@MyERP.Properties.Resources.NotSaved',
        text: " ",
        icon: 'error',
        showCancelButton: false,
        confirmButtonText: '@MyERP.Properties.Resources.Ok',
        confirmButtonColor: '#3085d6'
    });
                }
            });
        }*@
    }

    function showItemDetials(e) {
        let itemPrice = $(e).closest('tr').find('.item');
       let item = items.filter(function (i) { return i.ItemPriceId == itemPrice.val(); })[0];
       $('#itemDetailsBody').empty();
        if (item) {
             $('#itemDetailsBody').append('<div class="d-flex align-items-center"><div class="spinner-border ml-auto" role="status" aria-hidden="true"></div></div>');
            $.get('/Item/GetItemQuantityInEachWarehouse?itemId=' + item.Id + '&depId=' + $('#DepartmentId').val()).done(function (r) {
                $('#itemDetailsBody').empty().append(r);
            });
        }
    }

    function Delete(id) {
        Swal.fire({
    title: '@MyERP.Properties.Resources.AreYouSureYouWantToDelete',
    text: " ",
    icon: 'warning',
    showCancelButton: true,
    confirmButtonText: '@MyERP.Properties.Resources.Ok',
    cancelButtonText: '@MyERP.Properties.Resources.Cancel',
    confirmButtonColor: '#3085d6',
    cancelButtonColor: '#d33',
    reverseButtons: true
}).then((result) => {
    if (result.isConfirmed) {
        $('#preloader, #status').fadeIn();
        $.ajax(
            {
                url: '/PurchaseReturn/Delete',
                type: 'POST',
                data: {
                    "Id": id,
                },
                error: function (e) {
                    $('#preloader, #status').fadeOut();
                    //alert("لم يتم الحذف!");
                    Swal.fire({
                        title: '@MyERP.Properties.Resources.DeleteDoesNotSucceeded',
                        text: " ",
                        icon: 'error',
                        showCancelButton: false,
                        confirmButtonText: '@MyERP.Properties.Resources.Ok',
                        confirmButtonColor: '#3085d6'
                    });
                },
                success: function (r) {
                    if (r == 'true') {
                        window.location.replace('/PurchaseReturn');
                    }
                     else if (r == 'Cannot Be Deleted') {
                                $('#preloader, #status').fadeOut();
                                Swal.fire({
                                    title: '@MyERP.Properties.Resources.TheInvoiceHasBeenGeneratedAndCannotBeDeleted',
                                    text: " ",
                                    icon: 'error',
                                    showCancelButton: false,
                                    confirmButtonText: '@MyERP.Properties.Resources.Ok',
                                    confirmButtonColor: '#3085d6'
                                });
                            }
                    else
                        //alert("لم يتم الحذف");
                        Swal.fire({
                            title: '@MyERP.Properties.Resources.DeleteDoesNotSucceeded',
                            text: " ",
                            icon: 'error',
                            showCancelButton: false,
                            confirmButtonText: '@MyERP.Properties.Resources.Ok',
                            confirmButtonColor: '#3085d6'
                        });
                    $('#preloader, #status').fadeOut();
                }
            });
    }
    else { result.dismiss;}
});
        @*if (confirm('@MyERP.Properties.Resources.AreYouSureYouWantToDelete')) {
            $('#preloader, #status').fadeIn();
            $.ajax(
                {
                    url: '/PurchaseReturn/Delete',
                    type: 'POST',
                    data: {
                        "Id": id,
                    },
                    error: function (e) {
                        $('#preloader, #status').fadeOut();
                        //alert("لم يتم الحذف!");
                        Swal.fire({
                            title: '@MyERP.Properties.Resources.DeleteDoesNotSucceeded',
                            text: " ",
                            icon: 'error',
                            showCancelButton: false,
                            confirmButtonText: '@MyERP.Properties.Resources.Ok',
                            confirmButtonColor: '#3085d6'
                        });
                    },
                    success: function (r) {
                        if (r == 'true') {
                            window.location.replace('/PurchaseReturn');
                        } else
                            //alert("لم يتم الحذف");
                            Swal.fire({
                                title: '@MyERP.Properties.Resources.DeleteDoesNotSucceeded',
                                text: " ",
                                icon: 'error',
                                showCancelButton: false,
                                confirmButtonText: '@MyERP.Properties.Resources.Ok',
                                confirmButtonColor: '#3085d6'
                            });
                        $('#preloader, #status').fadeOut();
                    }
                });
        }*@
    }
</script>
