@model MyERP.Models.PropertyOwner
<script src="~/Scripts/SaveAndNew.js"></script>
<script src="~/js/DeleteFunctionForAddEditView.js"></script>

@{

    UICulture = Session["lang"] != null ? Session["lang"].ToString() : "ar";
    ViewBag.title = MyERP.Properties.Resources.Owners;
}



@Html.AntiForgeryToken()

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                @if (Model != null)
                {
                    if (Model.IsDeleted == false)
                    {
                        if (ViewBag.Previous > 0)
                        {
                            <a href="@Url.Action("AddEdit", new { id = ViewBag.First })" class="btn btn-info">@MyERP.Properties.Resources.First</a>
                            <a href="@Url.Action("AddEdit", new { id = ViewBag.Previous })" class=" btn btn-info">&#8250;</a>
                        }
                        if (ViewBag.Next > 0)
                        {
                            <a href="@Url.Action("AddEdit", new { id = ViewBag.Next })" class="btn btn-info">&#8249;</a>
                            <a href="@Url.Action("AddEdit", new { id = ViewBag.Last })" class="btn btn-info">@MyERP.Properties.Resources.Last</a>
                        }
                        <a class="btn btn-info" href="@Url.Action("Index")" role="button">@MyERP.Properties.Resources.Back</a>
                    }
                }
                else
                {<a class="btn btn-info" href="@Url.Action("Index")" role="button">@MyERP.Properties.Resources.Back</a>}
            </div>
            <h4 class="page-title">@MyERP.Properties.Resources.Owners</h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card-box">
            <form action="/PropertyOwner/AddEdit" class="form-horizontal needs-validation" novalidate method="post" enctype="multipart/form-data" id="FormId">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-group row">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    @Html.AntiForgeryToken()
                                    @if (Model != null)
                                    {

                                        @Html.HiddenFor(model => model.Id)
                                        @Html.HiddenFor(model => model.IsActive)
                                        @Html.HiddenFor(model => model.UserId)
                                        @Html.HiddenFor(model => model.Image)
                                        @Html.HiddenFor(model => model.IsDeleted)
                                    }

                                    <label for="Code" class="col-sm-2 control-label">@MyERP.Properties.Resources.Code</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", placeholder = @MyERP.Properties.Resources.Code, @readonly = "readonly", required = "required" } })
                                        <div class="invalid-feedback">
                                            @MyERP.Properties.Resources.Required
                                        </div>
                                    </div>
                                    <label for="DepartmentId" class="col-sm-2 control-label"> @MyERP.Properties.Resources.Department </label>
                                    <div class="col-sm-4">
                                        @Html.DropDownList("DepartmentId", null, null, htmlAttributes: new { @class = "form-control", @required = "required" })
                                        <div class="invalid-feedback">
                                            @MyERP.Properties.Resources.Required
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="ArName" class="col-sm-2 control-label">@MyERP.Properties.Resources.ArName</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(model => model.ArName, new { htmlAttributes = new { @class = "form-control", placeholder = @MyERP.Properties.Resources.ArName, required = "required" } })
                                        <div class="invalid-feedback">
                                            @MyERP.Properties.Resources.Required
                                        </div>
                                    </div>
                                    <label for="EnName" class="col-sm-2 control-label">@MyERP.Properties.Resources.EnName</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(model => model.EnName, new { htmlAttributes = new { @class = "form-control", placeholder = @MyERP.Properties.Resources.EnName } })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="AccountId" class="col-sm-2 control-label"> @MyERP.Properties.Resources.Account </label>
                                    <div class="col-sm-4">
                                        @Html.DropDownList("AccountId", null, null, htmlAttributes: new
                                        {
                                            @class = "form-control"@*, @required = "required"*@})
                                        <div class="invalid-feedback">
                                            @MyERP.Properties.Resources.Required
                                        </div>
                                    </div>
                                    <label for="EnName" class="col-sm-2 control-label">@MyERP.Properties.Resources.VATRegisterationNo</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(model => model.VATNo, new { htmlAttributes = new { @class = "form-control", placeholder = @MyERP.Properties.Resources.VATRegisterationNo } })
                                    </div>
                                </div>

                                <div class="form-group row">

                                    <label for="EnName" class="col-sm-2 control-label">@MyERP.Properties.Resources.ContactPersonName</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(model => model.ContactPerson, new { htmlAttributes = new { @class = "form-control", placeholder = @MyERP.Properties.Resources.ContactPersonName } })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="EnName" class="col-sm-2 control-label">@MyERP.Properties.Resources.Mobile</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control", placeholder = @MyERP.Properties.Resources.Mobile } })
                                    </div>
                                    <label for="EnName" class="col-sm-2 control-label">@MyERP.Properties.Resources.Tel</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", placeholder = @MyERP.Properties.Resources.Tel } })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="EnName" class="col-sm-2 control-label">@MyERP.Properties.Resources.Email</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = @MyERP.Properties.Resources.Email } })
                                    </div>
                                    <label for="EnName" class="col-sm-2 control-label">@MyERP.Properties.Resources.Fax</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(model => model.Fax, new { htmlAttributes = new { @class = "form-control", placeholder = @MyERP.Properties.Resources.Fax } })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="EnName" class="col-sm-2 control-label">@MyERP.Properties.Resources.Agent</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(model => model.Agent, new { htmlAttributes = new { @class = "form-control", placeholder = @MyERP.Properties.Resources.Agent } })
                                    </div>
                                    <label for="EnName" class="col-sm-2 control-label">@MyERP.Properties.Resources.AgencyNo</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(model => model.AgencyNo, new { htmlAttributes = new { @class = "form-control", placeholder = @MyERP.Properties.Resources.AgencyNo } })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-sm-2" for="Notes">@MyERP.Properties.Resources.Address</label>
                                    <div class="col-sm-4">
                                        <textarea id="Address" name="Address" class="form-control" rows="5" cols="5">@if (Model != null) { @Model.Address; }</textarea>
                                    </div>
                                    <label class="control-label col-sm-2" for="Notes">@MyERP.Properties.Resources.Notes</label>
                                    <div class="col-sm-4">
                                        <textarea id="Notes" name="Notes" class="form-control" rows="5" cols="5">@if (Model != null) { @Model.Notes; }</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="float:left;">
                        <input id="new" name="newBtn" hidden />
                        <div>
                            @if (Model == null)
                            {
                                <input id="new" name="newBtn" hidden />
                                <button type="submit" id="newbtn" class="btn btn-success">
                                    @MyERP.Properties.Resources.SaveAndNew
                                </button>
                                <button type="submit" class="btn btn-success">
                                    @MyERP.Properties.Resources.Save
                                </button>
                                <a class="btn btn-danger" href="@Url.Action("Index")" role="button">@MyERP.Properties.Resources.Back</a>
                            }
                            else
                            {
                                if (Model.IsDeleted == false)
                                {
                                    <button type="submit" class="btn btn-success">
                                        @MyERP.Properties.Resources.Save
                                    </button>
                                    <a class="btn btn-danger" href="@Url.Action("Index")" role="button">@MyERP.Properties.Resources.Back</a>
                                    <a href="javascript:void(0);" class="btn btn-danger" onclick="Delete(@Model.Id)" role="button">@MyERP.Properties.Resources.Delete</a>
                                }
                            }
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        if (!$('#Id').val()) {
            setCodeNum();
        }
        else {

        }
    });

    function setCodeNum() {
        var doc = $.get('/PropertyOwner/SetCodeNum?id='+$('#DepartmentId').val()).done(function (r) {
            $('#Code').val(r);
        });

    }

    $(document).on('change', '#DepartmentId', function () {
        setCodeNum();
    });


    function Delete(id) {

        Swal.fire({
            title: '@MyERP.Properties.Resources.AreYouSureYouWantToDelete',
            text: " ",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: '@MyERP.Properties.Resources.Ok',
            cancelButtonText: '@MyERP.Properties.Resources.Cancel',
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                $('#preloader, #status').fadeIn();
                $.ajax(
                    {
                        url: '/PropertyOwner/Delete',
                        type: 'POST',
                        data: {
                            "Id": id,
                        },
                        error: function (e) {
                            $('#preloader, #status').fadeOut();
                            Swal.fire({
                                title: '@MyERP.Properties.Resources.DeleteDoesNotSucceeded',
                                text: " ",
                                icon: 'error',
                                showCancelButton: false,
                                confirmButtonText: '@MyERP.Properties.Resources.Ok',
                                confirmButtonColor: '#3085d6'
                            });
                        },
                        success: function (r) {
                            if (r == 'true') {
                                window.location.replace('/PropertyOwner');
                            } else
                                Swal.fire({
                                    title: '@MyERP.Properties.Resources.DeleteDoesNotSucceeded',
                                    text: " ",
                                    icon: 'error',
                                    showCancelButton: false,
                                    confirmButtonText: '@MyERP.Properties.Resources.Ok',
                                    confirmButtonColor: '#3085d6'
                                });
                        }
                    });
            }
            else { result.dismiss; }
        });
    }
</script>