@model MyERP.Models.ExpenseProof
@{
    UICulture = Session["lang"] != null ? Session["lang"].ToString() : "ar";
    ViewBag.Title = @MyERP.Properties.Resources.ExpenseProof;
}


@Html.AntiForgeryToken()
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <a class="btn btn-info" href="@Url.Action("Index")" role="button" style="float:left;">@MyERP.Properties.Resources.Back</a>
            </div>
            <div class="hed page-title">@MyERP.Properties.Resources.ExpenseProof :</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card-box">
            <div class="row">
                <div class="col-12">
                    <div class="form-horizontal needs-validation" role="form">
                        <div class="card">
                            <div class="card-body">
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @if (Model != null)
                                {
                                    @Html.HiddenFor(model => model.Id)
                                    @Html.HiddenFor(model => model.UserId)
                                    @Html.HiddenFor(model => model.IsDeleted)
                                    @Html.HiddenFor(model => model.Image)
                                }
                                @*<h5 class="header-title">
                                        @MyERP.Properties.Resources.MainData
                                    </h5>*@

                                @* Panel 1 *@
                                <div class="card">
                                    <div class="card-body">
                                        <div id="accordion">
                                            <h5 class=" pb-3 header-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                                    @MyERP.Properties.Resources.MainData
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapse1">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="form-group row">
                                                        <label class=" col-sm-2 control-label" for="Id">@MyERP.Properties.Resources.TransactionNo</label>
                                                        <div class="col-sm-4">
                                                            @Html.EditorFor(model => model.DocumentNumber, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", placeholder = @MyERP.Properties.Resources.TransactionNo, required = "required" } })
                                                            <div class="invalid-feedback">
                                                                @MyERP.Properties.Resources.Required
                                                            </div>
                                                        </div>
                                                        <label class="control-label col-sm-2">@MyERP.Properties.Resources._TransactionDate</label>
                                                        <div class="col-sm-4">
                                                            @Html.EditorFor(model => model.VoucherDate, new { htmlAttributes = new { @class = "form-control Gregorian", @type = "datetime-local", @required = "required" } })
                                                            <div class="invalid-feedback">
                                                                @MyERP.Properties.Resources.Required
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="DepartmentId" class="control-label col-sm-2">@MyERP.Properties.Resources.Department</label>
                                                        <div class="col-sm-4">
                                                            @Html.DropDownList("DepartmentId", null, MyERP.Properties.Resources.Select, htmlAttributes: new { @class = "form-control" })
                                                            <div class="invalid-feedback">
                                                                @MyERP.Properties.Resources.Required
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-1">
                                                            <input type="checkbox" id="IsAllDepartmentsSelected" @(Model != null && Model.IsAllDepartmentsSelected == true ? "checked" : Model == null ? "checked" : "") />
                                                        </div>
                                                        <label for="IsAllDepartmentsSelected" class="control-label col-sm-2">@MyERP.Properties.Resources.AllDepartments</label>
                                                    </div>

                                                    <div class="form-group row">
                                                        <label class="control-label col-sm-2" for="Notes">@MyERP.Properties.Resources.Notes</label>
                                                        <div class="col-sm-4">
                                                            <textarea id="Notes" name="Notes" class="form-control" rows="3" cols="3">@if (Model != null) { @Model.Notes; }</textarea>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <button type="button" class="btn btn-success" onclick="GetUnSelectedExpenseProof()">
                                                                @MyERP.Properties.Resources.Search
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>



                                            <!-------------- PrepaidExpenseDetails Table ---------------->
                                            <div class="table-responsive">
                                                <table class="table table-centered mb-0">
                                                    <thead>
                                                        <tr>
                                                            <td>
                                                                @MyERP.Properties.Resources.Choose
                                                            </td>
                                                            <td>
                                                                @MyERP.Properties.Resources.Name
                                                            </td>
                                                            <td>
                                                                @MyERP.Properties.Resources.Department
                                                            </td>
                                                            <td>
                                                                @MyERP.Properties.Resources.ExpenseType
                                                            </td>
                                                            <td>
                                                                @MyERP.Properties.Resources.Employee
                                                            </td>
                                                            <td>
                                                                @MyERP.Properties.Resources.ExpensesAccount
                                                            </td>
                                                            <td>
                                                                @MyERP.Properties.Resources.PrePaymentAccount
                                                            </td>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="PrepaidExpenseDetails">
                                                        @if (Model != null)
                                                        {
                                                            foreach (var item in Model.PrepaidExpenseDetails)
                                                            {
                                                        <tr>
                                                            <td class="tabledit-edit-mode" hidden>
                                                                <input type="text" class="Id form-control tabledit-input form-control-sm" value="@item.Id" hidden />
                                                                <input type="text" class="MainDocId form-control tabledit-input form-control-sm" value="@item.MainDocId" hidden />
                                                                <input type="text" class="ExpenseAmortizationId form-control tabledit-input form-control-sm" value="@item.ExpenseAmortizationId" hidden />
                                                                <input type="text" class="ExpenseProofId form-control tabledit-input form-control-sm" value="@item.ExpenseProofId" hidden />
                                                                <input type="checkbox" class="IsSelectedAmortization" @Html.Raw(item.IsSelectedAmortization == true ? "checked" : "") hidden />
                                                            </td>
                                                            <td class="tabledit-edit-mode">
                                                                <input type="checkbox" class="IsSelectedProof" @Html.Raw(item.IsSelectedProof == true ? "checked" : "") />
                                                            </td>
                                                            <td class="tabledit-edit-mode">
                                                                <label class="ArName control-label control-label">
                                                                    @item.ArName
                                                                </label>
                                                            </td>
                                                            <td class="tabledit-edit-mode">
                                                                <input type="text" class="DepartmentId form-control tabledit-input form-control-sm" value="@item.DepartmentId" hidden />
                                                                <label class="DepartmentName control-label control-label">
                                                                    @item.Department.ArName
                                                                </label>
                                                            </td>
                                                            <td class="tabledit-edit-mode">
                                                                <input type="text" class="ExpenseTypeId form-control tabledit-input form-control-sm" value="@item.ExpenseTypeId" hidden />
                                                                <label class="ExpenseTypeName control-label control-label">
                                                                    @(item.ExpenseTypeId==1? "موظف" : "حساب")
                                                                </label>
                                                            </td>
                                                            <td class="tabledit-edit-mode">
                                                                <input type="text" class="EmployeeId form-control tabledit-input form-control-sm" value="@item.EmployeeId" hidden />
                                                                <label class="EmployeeName control-label control-label">
                                                                    @item.Employee.ArName
                                                                </label>
                                                            </td>
                                                            <td class="tabledit-edit-mode">
                                                                <input type="text" class="ExpenseAccountId form-control tabledit-input form-control-sm" value="@item.ExpenseAccountId" hidden />
                                                                <label class="ExpenseAccountName control-label control-label">
                                                                    @item.ChartOfAccount.ArName
                                                                </label>
                                                            </td>
                                                            <td class="tabledit-edit-mode">
                                                                <input type="text" class="PrePaymentAccountId form-control tabledit-input form-control-sm" value="@item.PrePaymentAccountId" hidden />
                                                                <label class="PrePaymentAccountName control-label control-label">
                                                                    @item.ChartOfAccount1.ArName
                                                                </label>
                                                            </td>
                                                        </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!------------------------------------------------------------------------------------>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!---------------------------------------------- Saves Buttons ----------------------------------------------------------->
            <div class="row">
                <div class="col-sm-offset-2">
                    @if (Model == null)
                    {
                        <button onclick="addEdit('new');" class="btn btn-success" id="newbtn">
                            @MyERP.Properties.Resources.SaveAndNew
                        </button>
                        <button onclick="addEdit();" class="btn btn-success" id="save">
                            @MyERP.Properties.Resources.Save
                        </button>
                        <a class="btn btn-danger" href="@Url.Action("Index")" role="button">@MyERP.Properties.Resources.Back</a>
                    }
                    else if (Model.IsDeleted == false)
                    {
                        <button onclick="addEdit();" class="btn btn-success" id="save">
                            @MyERP.Properties.Resources.Save
                        </button>
                        <a class="btn btn-danger" href="@Url.Action("Index")" role="button">@MyERP.Properties.Resources.Back</a>
                        <a href="javascript:void(0);" class="btn btn-danger" onclick="Delete(@Model.Id)" role="button">@MyERP.Properties.Resources.Delete</a>
                    }
                </div>
            </div>
            <!----------------------------------------------------------------------------------------------------------------------------------------->
        </div>
    </div>
</div>

<script>
//--------------- Variables Declarations -------------------//

//*********************************************************//
//--------------- Ready Function -------------------//
    $(document).ready(function () {
        $('#VoucherDate').val('@ViewBag.VoucherDate');

        if ($('#IsAllDepartmentsSelected').prop('checked') == true) {
            $('#DepartmentId').prop('selectedIndex', 0).select2();
            $('#DepartmentId').prop('disabled', true);
        }
        else {
            $('#DepartmentId').prop('disabled', false);
        }

        $.get('/Helper/GetOpenPeriodBeginningEnding').done(function (r) {
            $("input[type|='datetime-local']").not('#FromDate,#ToDate').prop('min', r.PeriodStart).prop('max', r.PeriodEnd);
        });
        if ($('#Id').val() > 0) {
            var code = $('#DocumentNumber').val();
            $('#DocumentNumbers').val(code.replaceAll("-", ""))
        }
        else {
            setDocNum();
        }
    });
//*********************************************************//

    //--------------- Event Functions -------------------//
    $(document).on('change', '#IsAllDepartmentsSelected', function () {
        if ($('#IsAllDepartmentsSelected').prop('checked') == true) {
            $('#DepartmentId').prop('selectedIndex', 0).select2();
            $('#DepartmentId').prop('disabled', true);
        }
        else {
            $('#DepartmentId').prop('disabled', false);
        }
    });
    //*********************************************************//
     //--------------- Other Functions -------------------//
    function setDocNum() {
        $.get('/ExpenseProof/SetDocNum').done(function (r) {
            $('#DocumentNumber').val(r);
        });
    }
    function deleteElement(e) {
        let tr = $(e).closest('tr');
        e.parentNode.parentNode.parentNode.removeChild(e.parentNode.parentNode);
        //if ($(tr).index() == 0 && $(tr).closest('tbody').children('tr').length == 1) {
        //    $(tr).find("input").val('');
        //    $(tr).find("label").text('');
        //    $(tr).find('input, select').removeAttr('required');
        //    $(tr).find('select').empty();
        //    $(tr).find('.Add-Button').prop('hidden', false);
        //    $(tr).find('.popupCell').attr('onclick', 'showSearchModal()');
        //}
        //else if ($(tr).index() < $(tr).closest('tbody').children('tr').length - 1)
        //    e.parentNode.parentNode.parentNode.removeChild(e.parentNode.parentNode);
        //else if ($(tr).index() == $(tr).closest('tbody').children('tr').length - 1) {
        //    $(tr).find("input").val('');
        //    $(tr).find('input, select').removeAttr('required');
        //    $(tr).find('select').empty();
        //    $(tr).find("label").text('');
        //    $(tr).find('.Add-Button').prop('hidden', false);
        //    $(tr).find('.popupCell').attr('onclick', 'showSearchModal()');
        //}
    }
    function convertToJavaScriptDate(value) {
        if (value === null)
            return null;
        var pattern = /Date\(([^)]+)\)/;
        var results = pattern.exec(value);
        var dt = new Date(parseFloat(results[1]));
        var month = (dt.getMonth() + 1) < 10 ? '0' + (dt.getMonth() + 1) : (dt.getMonth() + 1);
        var day = dt.getDate() < 10 ? '0' + dt.getDate() : dt.getDate();
        var hours = dt.getHours();
        var minutes = dt.getMinutes();
        var seconds = dt.getSeconds();
        var ampm = hours >= 12 ? 'PM' : 'AM';
        hours = hours % 12;
        hours = hours ? hours : 12; // the hour '0' should be '12'
        hours = hours < 10 ? '0' + hours : hours;
        minutes = minutes < 10 ? '0' + minutes : minutes;
        seconds = seconds < 10 ? '0' + seconds : seconds;
        var strTime = hours + ':' + minutes /*+ ":" + seconds + ' ' + ampm*/;
        return ((dt.getFullYear() + "-" + month + "-" + day) /*+ "T" + strTime*/);
            }
    function zeroPadded(val) {
                if (val >= 10)
                    return val;
                else
                    return '0' + val;
    }
    function GetUnSelectedExpenseProof() {
        $('#PrepaidExpenseDetails').empty();
        $.get('/ExpenseProof/GetUnSelectedExpenseProof?DepartmentId=' + $('#DepartmentId').val()).done(function (r) {
            if (r.length) {
                for (var i = 0; i < r.length; i++) {
                    r[i].IsSelectedAmortization = r[i].IsSelectedAmortization == true ? "checked" : "";
                    r[i].IsSelectedProof = r[i].IsSelectedProof == true ? "checked" : "";
                    let tr = '<tr><td class="tabledit-edit-mode" hidden><input type="text" class="Id form-control tabledit-input form-control-sm" value="' +
                        r[i].Id + '" hidden /><input type="text" class="MainDocId form-control tabledit-input form-control-sm" value="' +
                        r[i].MainDocId + '" hidden /><input type="text" class="ExpenseAmortizationId form-control tabledit-input form-control-sm" value="' +
                        r[i].ExpenseAmortizationId + '" hidden /><input type="text" class="ExpenseProofId form-control tabledit-input form-control-sm" value="' +
                        r[i].ExpenseProofId + '" hidden /><input type="checkbox" class="IsSelectedAmortization" ' +
                        r[i].IsSelectedAmortization + ' hidden /></td><td class="tabledit-edit-mode"><input type="checkbox" class="IsSelectedProof"' +
                        r[i].IsSelectedProof + '/></td><td class="tabledit-edit-mode"><label class="ArName control-label control-label">' +
                        r[i].ArName + '</label></td><td class="tabledit-edit-mode"><input type="text" class="DepartmentId form-control tabledit-input form-control-sm" value="' +
                        r[i].DepartmentId + '" hidden /><label class="DepartmentName control-label control-label">' +
                        r[i].Department + '</label></td><td class="tabledit-edit-mode"><input type="text" class="ExpenseTypeId form-control tabledit-input form-control-sm" value="' +
                        r[i].ExpenseTypeId + '" hidden /><label class="ExpenseTypeName control-label control-label">' +
                        r[i].ExpenseType + '</label></td><td class="tabledit-edit-mode"><input type="text" class="EmployeeId form-control tabledit-input form-control-sm" value="' +
                        r[i].EmployeeId + '" hidden /><label class="EmployeeName control-label control-label">' +
                        r[i].Employee + '</label></td><td class="tabledit-edit-mode"><input type="text" class="ExpenseAccountId form-control tabledit-input form-control-sm" value="' +
                        r[i].ExpenseAccountId + '" hidden /><label class="ExpenseAccountName control-label control-label">' +
                        r[i].ExpenseAccount + '</label></td><td class="tabledit-edit-mode"><input type="text" class="PrePaymentAccountId form-control tabledit-input form-control-sm" value="' +
                        r[i].PrePaymentAccountId + '" hidden /><label class="PrePaymentAccountName control-label control-label">' +
                        r[i].PrePaymentAccount + '</label></td></tr>';
                    $('#PrepaidExpenseDetails').append(tr);
                }
            }
        });
    }
    //*********************************************************//
    function addEdit(n) {
        let valid = true;
        if ($('.form-horizontal').first().find('.form-control:invalid').length > 0) {
            $('.form-horizontal').first().addClass('was-validated');
            $('html, body').animate({
                scrollTop: $('.form-horizontal').first().find(".form-control:invalid").eq(0).offset().top - 100
            }, 500);
            valid = false;
            console.log($(".form-control:invalid"));
        }
        if ($('#PrepaidExpenseDetails tr').length == 0)
        {
            valid = false;
            Swal.fire({
                title: '@MyERP.Properties.Resources.AllDetailsRequired',
                text: " ",
                icon: 'success',
                showCancelButton: false,
                confirmButtonText: '@MyERP.Properties.Resources.Ok',
                confirmButtonColor: '#3085d6'
            });
        }
        var PrepaidExpenseDetails = [];
        if (valid) {
            $('#PrepaidExpenseDetails tr').each(function () {
                var td = $(this);
                var PrepaidExpenseDetail = {
                    ExpenseProofId: $('#Id').val(),
                    ArName: td.find('.ArName').text(),
                    EnName: td.find('.EnName').text(),
                    DepartmentId: td.find('.DepartmentId').val(),
                    Id: td.find('.Id').val(),
                    MainDocId: td.find('.MainDocId').val(),
                    EmployeeId: td.find('.EmployeeId').val(),
                    ExpenseTypeId: td.find('.ExpenseTypeId').val(),
                    PrePaymentAccountId: td.find('.PrePaymentAccountId').val(),
                    ExpenseAccountId: td.find('.ExpenseAccountId').val(),
                    IsDeleted: false,
                    IsActive: true,
                    UserId: $('#UserId').val(),
                    Notes: td.find('.Notes').val(),
                    ExpenseAmortizationId: td.find('.ExpenseAmortizationId').val() > 0 ? td.find('.ExpenseAmortizationId').val():null,
                    IsSelectedProof: td.find('.IsSelectedProof').prop('checked'),
                    IsSelectedAmortization: td.find('.IsSelectedAmortization').prop('checked'),
                };
                if (td.find('.IsSelectedProof').prop('checked') == true) {
                    PrepaidExpenseDetails.push(PrepaidExpenseDetail);
                }
            });

        }

        var ExpenseProof = {
            Id: $('#Id').val(),
            DocumentNumber: $('#DocumentNumber').val(),
            VoucherDate: $('#VoucherDate').val(),
            DepartmentId: $('#DepartmentId').val(),
            IsAllDepartmentsSelected: $('#IsAllDepartmentsSelected').prop('checked'),
            IsDeleted: false,
            IsActive: true,
            UserId: $('#UserId').val(),
            Notes: $('#Notes').val(),
            Image: $('#Image').val(),
            PrepaidExpenseDetails: PrepaidExpenseDetails,
        }
        if (valid) {
            Swal.fire({
                title: '@MyERP.Properties.Resources.AreYouSureYouWantToSave',
                text: " ",
                icon: 'info',
                showCancelButton: true,
                confirmButtonText: '@MyERP.Properties.Resources.Ok',
                cancelButtonText: '@MyERP.Properties.Resources.Cancel',
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    $('#preloader, #status').fadeIn();
                    $('#newbtn').prop('disabled', true);
                    $('#save').prop('disabled', true);
                    $.ajax({
                        type: "POST", contentType: "application/json",
                        url: "/ExpenseProof/AddEdit",
                        data: JSON.stringify(ExpenseProof),
                        success: function (r) {
                            if (r.success == true) {
                                Swal.fire({
                                    title: '@MyERP.Properties.Resources.Saved',
                                    text: " ",
                                    icon: 'success',
                                    showCancelButton: false,
                                    confirmButtonText: '@MyERP.Properties.Resources.Ok',
                                    confirmButtonColor: '#3085d6'
                                });
                                if (n == "new") {
                                    window.location.replace("/ExpenseProof/AddEdit");
                                } else {
                                    window.location.replace("/ExpenseProof");
                                }
                            }
                            else {
                                Swal.fire({
                                    title: '@MyERP.Properties.Resources.NotSaved !',
                                    text: " ",
                                    icon: 'error',
                                    showCancelButton: false,
                                    confirmButtonText: '@MyERP.Properties.Resources.Ok',
                                    confirmButtonColor: '#3085d6'
                                });
                            }
                            $('#preloader, #status').fadeOut();
                            $('#newbtn').prop('disabled', false);
                            $('#save').prop('disabled', false);
                        },
                        error: function (r) {
                            Swal.fire({
                                title: '@MyERP.Properties.Resources.NotSaved !',
                                text: " ",
                                icon: 'error',
                                showCancelButton: false,
                                confirmButtonText: '@MyERP.Properties.Resources.Ok',
                                confirmButtonColor: '#3085d6'
                            });
                            $('#preloader, #status').fadeOut();
                            $('#newbtn').prop('disabled', false);
                            $('#save').prop('disabled', false);
                        }
                    });
                }
                else { result.dismiss; }
            });
        }
    }
    function Delete(id) {
        if (confirm('@MyERP.Properties.Resources.AreYouSureYouWantToDelete')) {
            $('#preloader, #status').fadeIn();
            $.ajax(
                {
                    url: '/ExpenseProof/Delete',
                    type: 'POST',
                    data: {
                        "Id": id,
                    },
                    error: function (e) {
                        $('#preloader, #status').fadeOut();
                    },
                    success: function (r) {
                        if (r == 'true') {
                            window.location.replace('/ExpenseProof');
                        }
                    }
                });
        }
    }

</script>
