
@{
    if (ViewBag.ShowReport == true)
    {
        Layout = null;
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    UICulture = Session["lang"] != null ? Session["lang"].ToString() : "ar";
    ViewBag.Title = MyERP.Properties.Resources.ItemsQuantities;
}


<meta name="viewport" content="width=device-width" />
<title> @MyERP.Properties.Resources.ItemsQuantities </title>
@if (ViewBag.ShowReport == true)
{
    @Html.DevExpress().GetStyleSheets(
            new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
            new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
            new StyleSheet { ExtensionSuite = ExtensionSuite.Report }
        )
    @Html.DevExpress().GetScripts(
            new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
            new Script { ExtensionSuite = ExtensionSuite.Editors },
            new Script { ExtensionSuite = ExtensionSuite.Report }
        )

    <div>
        @Html.DevExpress().WebDocumentViewer(settings =>
   {
       settings.Name = "WebDocumentViewer";
   }).Bind(new DevExpress.XtraReports.Web.CachedReportSourceWeb(new ItemQuantities_Report2(ViewBag.DepartmentId, ViewBag.WarehouseId, ViewBag.GroupId, ViewBag.CategoryId, ViewBag.CustomerGroupId, ViewBag.ActivityId, ViewBag.CompanyId))).GetHtml()
    </div>
}
else
{
    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <div class="row">
                    <div class="col-12">
                        <div class="form-horizontal needs-validation" role="form">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="header-title">
                                        @MyERP.Properties.Resources.ItemsQuantities
                                    </h5>
                                    <div class="form-group row">
                                        <label class=" col-sm-1 control-label" for="Code">@MyERP.Properties.Resources.Department</label>
                                        <div class="col-sm-5">
                                            @Html.DropDownList("DepartmentId", null, @MyERP.Properties.Resources.Select, htmlAttributes: new
                                            {
                                                @class = "form-control",
                                                required = "required"
                                            })
                                        </div>
                                        <label class=" col-sm-1 control-label" for="Code">@MyERP.Properties.Resources.WareHouse</label>
                                        <div class="col-sm-5">
                                            @Html.DropDownList("WareHouseId", null, @MyERP.Properties.Resources.Select, htmlAttributes: new
                                            {
                                                @class = "form-control",
                                                required = "required"
                                            })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class=" col-sm-1 control-label" for="Code">@MyERP.Properties.Resources.Group</label>
                                        <div class="col-sm-5">
                                            @Html.DropDownList("GroupId", null, @MyERP.Properties.Resources.Select, htmlAttributes: new
                                            {
                                                @class = "form-control",
                                                required = "required"
                                            })
                                        </div>
                                        <label class=" col-sm-1 control-label" for="Code">@MyERP.Properties.Resources.Category</label>
                                        <div class="col-sm-5">
                                            @Html.DropDownList("CategoryId", null, @MyERP.Properties.Resources.Select, htmlAttributes: new
                                            {
                                                @class = "form-control",
                                                required = "required"
                                            })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class=" col-sm-1 control-label" for="Code">@MyERP.Properties.Resources.CustomersGroups</label>
                                        <div class="col-sm-5">
                                            @Html.DropDownList("CustomerGroupId", null, @MyERP.Properties.Resources.Select, htmlAttributes: new
                                            {
                                                @class = "form-control",
                                                required = "required"
                                            })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class=" col-sm-1 control-label">@MyERP.Properties.Resources.Activity</label>
                                        <div class="col-sm-5">
                                            @Html.DropDownList("ActivityId", null, @MyERP.Properties.Resources.Select, htmlAttributes: new
                                       {
                                           @class = "form-control"
                                       })
                                        </div>
                                        <label class=" col-sm-1 control-label">@MyERP.Properties.Resources.Company</label>
                                        <div class="col-sm-5">
                                            @Html.DropDownList("CompanyId", null, @MyERP.Properties.Resources.Select, htmlAttributes: new
                                       {
                                           @class = "form-control"
                                       })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-offset-2">
                        <div class="col-sm-offset-2">
                            <button class="btn btn-success" onclick="DownloadReport()">
                                @MyERP.Properties.Resources.ShowReport
                            </button>
                            <button class="btn btn-success" onclick="ShowData()">
                                @MyERP.Properties.Resources.ShowData
                            </button>
                            <button class="btn btn-success" onclick="ShowReport()">
                                @MyERP.Properties.Resources.ShowDesign
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!--------------------------------ShowData Table --------------------------------------->
    <div class="row" id="AllTable" style="display:none">
        <div class="col-12">
            <div class="card-box">
                <div class="row">
                    <div class="col-12">
                        <div class="form-horizontal needs-validation" role="form">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="header-title">
                                        @MyERP.Properties.Resources.ReportData
                                    </h5>

                                    <div class="table-responsive">
                                        <table class="table table-striped table-centered mb-0">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        @MyERP.Properties.Resources.Code
                                                    </th>
                                                    <th>
                                                        @MyERP.Properties.Resources.ItemName
                                                    </th>
                                                    <th>
                                                        @MyERP.Properties.Resources.Qty
                                                    </th>
                                                    <th>
                                                        @MyERP.Properties.Resources.Unit
                                                    </th>
                                                    <th>
                                                        @MyERP.Properties.Resources.Price
                                                    </th>

                                                </tr>
                                            </thead>
                                            <tbody id="ShowDataTable">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--***********************************************************************************************-->
}
<script>
    function ShowReport() {
        window.open('/Report/ItemQuantities?DepartmentId=' + $('#DepartmentId').val() + '&WarehouseId=' + $('#WarehouseId').val() + '&GroupId=' + $('#GroupId').val() + '&CategoryId=' + $('#CategoryId').val() + '&CustomerGroupId=' + $('#CustomerGroupId').val()+ '&ActivityId=' + $('#ActivityId').val() + '&CompanyId=' + $('#CompanyId').val() + '&showReport=' + true+ '&print=' + false ,"blank");
    }
    function DownloadReport() {
        window.open('/Report/ItemQuantities?DepartmentId=' + $('#DepartmentId').val() + '&WarehouseId=' + $('#WarehouseId').val() + '&GroupId=' + $('#GroupId').val() + '&CategoryId=' + $('#CategoryId').val() + '&CustomerGroupId=' + $('#CustomerGroupId').val()+ '&ActivityId=' + $('#ActivityId').val() + '&CompanyId=' + $('#CompanyId').val() + '&showReport=' + false + '&print=' + true, "blank");
    }

    function ShowData() {
        $('#ShowDataTable').empty();
        $('#preloader, #status').fadeIn();

        $.get('/Helper/GetItemQuantities?DepartmentId=' + $('#DepartmentId').val() + '&WarehouseId=' + $('#WarehouseId').val() + '&GroupId=' + $('#GroupId').val() + '&CategoryId=' + $('#CategoryId').val() + '&CustomerGroupId=' + $('#CustomerGroupId').val()+ '&ActivityId=' + $('#ActivityId').val() + '&CompanyId=' + $('#CompanyId').val()).done(function (r) {
            $('#AllTable').show();
            for (var i = 0; i < r.length; i++) {

                r[i].ItemCode = r[i].ItemCode == null ? "" : r[i].ItemCode;
                r[i].ItemName = r[i].ItemName == null ? "" : r[i].ItemName;
                r[i].Quantity = r[i].Quantity == null ? "" : r[i].Quantity;
                r[i].UnitName = r[i].UnitName == null ? "" : r[i].UnitName;
                r[i].Price = r[i].Price == null ? 0 : r[i].Price;

                let tr = '<tr><td><label class="control-label Debit">' +
                    r[i].ItemCode + '</label></td><td><label class="control-label ArName">' +
                    r[i].ItemName + '</label></td><td><label class="control-label Credit">' +
                    r[i].Quantity + '</label></td><td><label class="control-label DebitBalance">' +
                    r[i].UnitName + '</label></td><td><label class="control-label CreditBalance">' +
                    r[i].Price + '</label></td></tr>';

                $('#ShowDataTable').append(tr);
            }
            $('#preloader, #status').fadeOut();
        });

    }

</script>