@model StockIssueVoucher_Report
@{
    if (ViewBag.ShowReport == true)
    {
        Layout = null;
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    UICulture = Session["lang"] != null ? Session["lang"].ToString() : "ar";
    ViewBag.Title = MyERP.Properties.Resources.StockIssueVouchers;
}


<meta name="viewport" content="width=device-width" />
<title>@MyERP.Properties.Resources.StockIssueVouchers</title>
@if (ViewBag.ShowReport == true)
{
    @Html.DevExpress().GetStyleSheets(
            new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
            new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
            new StyleSheet { ExtensionSuite = ExtensionSuite.Report }
        )
    @Html.DevExpress().GetScripts(
            new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
            new Script { ExtensionSuite = ExtensionSuite.Editors },
            new Script { ExtensionSuite = ExtensionSuite.Report }
        )

<div>
    @*@Html.DevExpress().WebDocumentViewer(settings =>
        {
            settings.Name = "WebDocumentViewer";
        }).Bind(new DevExpress.XtraReports.Web.CachedReportSourceWeb(Model)).GetHtml()*@
    @Html.DevExpress().WebDocumentViewer(settings =>
{
    settings.Name = "WebDocumentViewer";
}).Bind(new DevExpress.XtraReports.Web.CachedReportSourceWeb(new StockIssueVoucher_Report(ViewBag.id, ViewBag.deptId, ViewBag.docNo, ViewBag.From, ViewBag.To, ViewBag.ActivityId, ViewBag.CompanyId))).GetHtml()

</div>
}
else
{

    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <div class="row">
                    <div class="col-12">
                        <div class="form-horizontal needs-validation" role="form">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="header-title">
                                        @MyERP.Properties.Resources.StockIssueVouchers
                                    </h5>
                                    <div class="form-group row">
                                        <label class=" col-sm-1 control-label" for="ArName">@MyERP.Properties.Resources.Department</label>
                                        <div class="col-sm-5">
                                            @Html.DropDownList("DepartmentId", null, @MyERP.Properties.Resources.Select, htmlAttributes: new
                                            {
                                                @class = "form-control"@*, required = "required"*@})
                                        </div>
                                        <label for="DocNo" class="control-label col-sm-1">@MyERP.Properties.Resources.DocNo</label>
                                        <div class="col-sm-5">
                                            <input id="DocNo" name="DocNo" class="form-control" type="text" required />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="DateFrom" class="control-label col-sm-1">@MyERP.Properties.Resources.FromDate</label>
                                        <div class="col-sm-5">
                                            <input id="DateFrom" name="DateFrom" class="form-control" type="datetime-local" required />
                                        </div>
                                        <label for="DateTo" class="control-label col-sm-1">@MyERP.Properties.Resources.ToDate</label>
                                        <div class="col-sm-5">
                                            <input id="DateTo" name="DateTo" class="form-control" type="datetime-local" required />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class=" col-sm-1 control-label">@MyERP.Properties.Resources.Activity</label>
                                        <div class="col-sm-5">
                                            @Html.DropDownList("ActivityId", null, @MyERP.Properties.Resources.Select, htmlAttributes: new
                                       {
                                           @class = "form-control"
                                       })
                                        </div>
                                        <label class=" col-sm-1 control-label">@MyERP.Properties.Resources.Company</label>
                                        <div class="col-sm-5">
                                            @Html.DropDownList("CompanyId", null, @MyERP.Properties.Resources.Select, htmlAttributes: new
                                       {
                                           @class = "form-control"
                                       })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-offset-2">
                        <button class="btn btn-success" onclick="DownloadReport()">
                            @MyERP.Properties.Resources.ShowReport
                        </button>
                        <button class="btn btn-success" onclick="ShowData()">
                            @MyERP.Properties.Resources.ShowData
                        </button>
                        <button class="btn btn-success" onclick="ShowReport()">
                            @MyERP.Properties.Resources.ShowDesign
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!--------------------------------ShowData Table --------------------------------------->
    <div class="row" id="AllTable" style="display:none">
        <div class="col-12">
            <div class="card-box">
                <div class="row">
                    <div class="col-12">
                        <div class="form-horizontal needs-validation" role="form">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="header-title">
                                        @MyERP.Properties.Resources.ReportData
                                    </h5>

                                    <div class="table-responsive">
                                        <table class="table table-striped table-centered mb-0">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        @MyERP.Properties.Resources.Department
                                                    </th>
                                                    <th>
                                                        @MyERP.Properties.Resources.WareHouse
                                                    </th>
                                                    <th>
                                                        @MyERP.Properties.Resources.DocNo
                                                    </th>
                                                    <th>
                                                        @MyERP.Properties.Resources.Date
                                                    </th>
                                                    <th>
                                                        @MyERP.Properties.Resources.Item
                                                    </th>
                                                    <th>
                                                        @MyERP.Properties.Resources.Code
                                                    </th>
                                                    <th>
                                                        @MyERP.Properties.Resources.Price
                                                    </th>
                                                    <th>
                                                        @MyERP.Properties.Resources.Cost
                                                    </th>
                                                    <th>
                                                        @MyERP.Properties.Resources.Qty
                                                    </th>
                                                    <th>
                                                        @MyERP.Properties.Resources.Unit
                                                    </th>
                                                    <th>
                                                        @MyERP.Properties.Resources.Value
                                                    </th>

                                                </tr>
                                            </thead>
                                            <tbody id="ShowDataTable">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="form-group row">
                            <label for="Total" class="control-label col-sm-1">@MyERP.Properties.Resources.Total</label>
                            <div class="col-sm-5">
                                <input id="Total" name="Total" class="form-control" disabled />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--***********************************************************************************************-->
}

<script>
    //$(document).ready(function () {
    //    $.get('/Helper/GetOpenPeriodBeginningEnding').done(function (r) {
    //        $("input[type|='datetime-local']").prop('min', r.PeriodStart).prop('max', r.PeriodEnd);
    //    });
    //});

    function JsDate(val) {
        var date = new Date(val);
        var dd = date.getDate();
        var mm = date.getMonth() + 1; //January is 0!
        var yyyy = date.getFullYear();
        if (dd < 10) {
            dd = '0' + dd;
        }
        if (mm < 10) {
            mm = '0' + mm;
        }
        return date = yyyy + '-' + mm + '-' + dd;
    }
    $(document).ready(function () {
        $.get('/Helper/GetOpenPeriodBeginningEnding').done(function (r) {
            var from = JsDate(r.PeriodStart);
            var to = JsDate(r.PeriodEnd);
            $('#DateFrom').prop('min', from);
            $('#DateFrom').prop('max', to);
            $('#DateFrom').val(from);
            $('#DateTo').prop('min', from);
            $('#DateTo').prop('max', to);
            $('#DateTo').val(to);
        });
    });

    function ShowReport() {
        if (!$('#DepartmentId').val())
            Swal.fire({
                title: '@MyERP.Properties.Resources.Department' + ' ' + '@MyERP.Properties.Resources.Required',
                text: " ",
                icon: 'info',
                showCancelButton: false,
                confirmButtonText: '@MyERP.Properties.Resources.Ok',
                confirmButtonColor: '#3085d6'
            });
        else {
            window.open('/Report/StockIssueVoucher?id=' + $('#Id').val() + '&deptId=' + $('#DepartmentId').val() + '&From=' + $('#DateFrom').val() + '&To=' + $('#DateTo').val()+ '&ActivityId=' + $('#ActivityId').val() + '&CompanyId=' + $('#CompanyId').val() + '&docNo=' + $('#DocNo').val() + '&showReport=' + true+'&print='+false, "blank");
        }
    }
    function DownloadReport() {
        if (!$('#DepartmentId').val())
            Swal.fire({
                title: '@MyERP.Properties.Resources.Department' + ' ' + '@MyERP.Properties.Resources.Required',
                text: " ",
                icon: 'info',
                showCancelButton: false,
                confirmButtonText: '@MyERP.Properties.Resources.Ok',
                confirmButtonColor: '#3085d6'
            });
        else {
            window.open('/Report/StockIssueVoucher?id=' + $('#Id').val() + '&deptId=' + $('#DepartmentId').val() + '&From=' + $('#DateFrom').val() + '&To=' + $('#DateTo').val()+ '&ActivityId=' + $('#ActivityId').val() + '&CompanyId=' + $('#CompanyId').val() + '&docNo=' + $('#DocNo').val() + '&showReport=' + false+'&print='+true, "blank");
        }
    }

    function ShowData() {
        if (!$('#DepartmentId').val())
            Swal.fire({
                title: '@MyERP.Properties.Resources.Department' + ' ' + '@MyERP.Properties.Resources.Required',
                text: " ",
                icon: 'info',
                showCancelButton: false,
                confirmButtonText: '@MyERP.Properties.Resources.Ok',
                confirmButtonColor: '#3085d6'
            });
        else {
            var total = 0;
            $('#ShowDataTable').empty();
            $('#preloader, #status').fadeIn();

            $.get('/Helper/GetStockIssueVoucher?id=' + $('#Id').val() + '&deptId=' + $('#DepartmentId').val() + '&From=' + $('#DateFrom').val() + '&To=' + $('#DateTo').val()+ '&ActivityId=' + $('#ActivityId').val() + '&CompanyId=' + $('#CompanyId').val() + '&docNo=' + $('#DocNo').val()).done(function (r) {
                $('#AllTable').show();
                for (var i = 0; i < r.length; i++) {
                    r[i].Item = r[i].Item == null ? "" : r[i].Item;
                    r[i].ItemCode = r[i].ItemCode == null ? "" : r[i].ItemCode;
                    r[i].ItemPrice = r[i].ItemPrice == null ? 0 : parseFloat(r[i].ItemPrice).toFixed(2);
                    r[i].CostPrice = r[i].CostPrice == null ? 0 : parseFloat(r[i].CostPrice).toFixed(2);
                    r[i].Qty = r[i].Qty == null ? 0 : r[i].Qty;
                    r[i].UnitName = r[i].UnitName == null ? "" : r[i].UnitName;
                    r[i].Price = r[i].Price == null ? "" : r[i].Price;
                    r[i].UnitName = r[i].UnitName == null ? "" : r[i].UnitName;
                    r[i].ExtendedTotal = parseFloat(r[i].CostPrice * r[i].Qty).toFixed(2);
                    r[i].DepartmentName = r[i].DepartmentName == null ? "" : r[i].DepartmentName;
                    r[i].WarehouseName = r[i].WarehouseName == null ? "" : r[i].WarehouseName;
                    r[i].DocNo = r[i].DocNo == null ? "" : r[i].DocNo;
                    r[i].VoucherDate = r[i].VoucherDate == null ? "" : convertToJavaScriptDate(r[i].VoucherDate);
                    let tr = '<tr><td><label class="control-label">' +
                        r[i].DepartmentName + '</label></td><td><label class="control-label">' +
                        r[i].WarehouseName + '</label></td><td><label class="control-label">' +
                        r[i].DocNo + '</label></td><td><label class="control-label">' +
                        r[i].VoucherDate + '</label></td><td><label class="control-label">' +
                        r[i].Item + '</label></td><td><label class="control-label">' +
                        r[i].ItemCode + '</label></td><td><label class="control-label ">' +
                        r[i].ItemPrice + '</label></td><td><label class="control-label ">' +
                        r[i].CostPrice + '</label></td><td><label class="control-label ">' +
                        r[i].Qty + '</label></td><td><label class="control-label ">' +
                        r[i].UnitName + '</label></td><td><label class="control-label ">' +
                        r[i].ExtendedTotal + '</label></td></tr>';
                    $('#ShowDataTable').append(tr);
                    total += parseFloat(r[i].ExtendedTotal);
                }
                $('#Total').val(total.toFixed(2));
                $('#preloader, #status').fadeOut();
            });
        }
    }




    function convertToJavaScriptDate(value) {
        if (value === null)
            return null;
        var pattern = /Date\(([^)]+)\)/;
        var results = pattern.exec(value);
        var dt = new Date(parseFloat(results[1]));
        return ((dt.getMonth() + 1 + "/" + dt.getDate() + "/" + dt.getFullYear()));
    }

</script>

