@model MyERP.Models.ExcelTemplate

@{
    UICulture = Session["lang"] != null ? Session["lang"].ToString() : "ar";
    ViewBag.Title = @MyERP.Properties.Resources.DownloadExcelTemplate;
}
<script src="~/Scripts/SaveAndNew.js"></script>

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                @if (Model != null)
                {
                    if (Model.IsDeleted == false)
                    {
                        if (ViewBag.Previous > 0)
                        {
                            <a href="@Url.Action("AddEdit",new {id= ViewBag.First })" class="btn btn-info">@MyERP.Properties.Resources.First</a>
                            <a href="@Url.Action("AddEdit",new { id=ViewBag.Previous })" class=" btn btn-info">&#8250;</a>
                        }
                        if (ViewBag.Next > 0)
                        {
                            <a href="@Url.Action("AddEdit",new { id=ViewBag.Next })" class="btn btn-info">&#8249;</a>
                            <a href="@Url.Action("AddEdit",new {id=ViewBag.Last })" class="btn btn-info">@MyERP.Properties.Resources.Last</a>
                        }
                    }
                }
                <a class="btn btn-info" href="@Url.Action("Index")" role="button">@MyERP.Properties.Resources.Back</a>
            </div>
            <div class="hed page-title">@MyERP.Properties.Resources.DownloadExcelTemplate :</div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card-box">
            <form action="/ExcelTemplate/AddEdit" class="form-horizontal needs-validation" novalidate method="post" enctype="multipart/form-data" id="FormId">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-group row">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    @Html.AntiForgeryToken()
                                    @if (Model != null)
                                    {

                                        @Html.HiddenFor(model => model.Id)
                                        @Html.HiddenFor(model => model.IsActive)
                                        @Html.HiddenFor(model => model.IsDeleted)
                                    }

                                </div>
                                <div class="form-group row">
                                    <label for="inputtext3" class="col-sm-2 control-label"> @MyERP.Properties.Resources.FileName</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(model => model.FileName, new { htmlAttributes = new { @class = "form-control", placeholder = @MyERP.Properties.Resources.FileName, required = "required" } })
                                        <div class="invalid-feedback">
                                            @MyERP.Properties.Resources.Required
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputtext3" class="col-sm-2 control-label"> @MyERP.Properties.Resources.URL</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(model => model.URL, new { htmlAttributes = new { @class = "form-control", placeholder = @MyERP.Properties.Resources.URL, required = "required" } })
                                        <div class="invalid-feedback">
                                            @MyERP.Properties.Resources.Required
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                    <div class="row" style="float:left;">
                        <input id="new" name="newBtn" hidden />
                        <div>
                            @if (Model == null)
                            {
                                <input id="new" name="newBtn" hidden />
                                <button type="submit" id="newbtn" class="btn btn-success">
                                    @MyERP.Properties.Resources.SaveAndNew
                                </button>
                                <button type="submit" class="btn btn-success">
                                    @MyERP.Properties.Resources.Save
                                </button>
                                <a class="btn btn-danger" href="@Url.Action("Index")" role="button">@MyERP.Properties.Resources.Back</a>
                            }
                            else
                            {
                                if (Model.IsDeleted == false)
                                {
                                    <button type="submit" class="btn btn-success">
                                        @MyERP.Properties.Resources.Save
                                    </button>
                                    <a class="btn btn-danger" href="@Url.Action("Index")" role="button">@MyERP.Properties.Resources.Back</a>
                                    <a href="javascript:void(0);" class="btn btn-danger" onclick="Delete(@Model.Id)" role="button">@MyERP.Properties.Resources.Delete</a>
                                }
                            }
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



<script>



    function Delete(id) {
        if (confirm('@MyERP.Properties.Resources.AreYouSureYouWantToDelete')) {
            $('#preloader, #status').fadeIn();
            $.ajax(
                {
                    url: '/ExcelTemplate/Delete',
                    type: 'POST',
                    data: {
                        "Id": id,
                    },
                    error: function (e) {

                    },
                    success: function (r) {
                        if (r == 'true') {
                            window.location.replace('/ExcelTemplate');
                        } else
                        alert('@MyERP.Properties.Resources.DeleteDoesNotSucceeded');
                        $('#preloader, #status').fadeOut();
                    }
                });
        }
    }

</script>

