@model IEnumerable<MyERP.Models.Table>
@{
    UICulture = Session["lang"] != null ? Session["lang"].ToString() : "ar";
    ViewBag.Title = @MyERP.Properties.Resources.Tables;
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <a class="btn btn-info" href="@Url.Action("AddEdit")" role="button" style="float:left;">@MyERP.Properties.Resources.AddNew</a>
            </div>
            <div class="hed page-title"> @MyERP.Properties.Resources.Tables </div>
        </div>
    </div>
</div>

<div class="card-box">
    <div class="row">
        <div class="col-12">
            <div class="form-horizontal" role="form">
                <div class="form-group row">
                    <div class="col-xs-12 col-sm-6 col-lg-3">
                        <input type="text" class="form-control searchtxt" value="@Html.Raw(ViewBag.searchWord)" placeholder="@MyERP.Properties.Resources.Search">
                    </div>
                    <div class="col-xs-12 col-sm-3 col-lg-3">
                        <button type="button" class="btn btn-success btnSearch" onclick="searchWord = $('.searchtxt').val(); paging();">
                            <i class="fa fa-search"></i>
                        </button>
                        <button type="button" class="btn btn-info btnSearch" onclick="pageNo = 1; searchWord=''; paging();">
                            <i class="fe-refresh-ccw"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped table-centered mb-0">
                    <thead>
                        <tr>

                            <th>
                                @MyERP.Properties.Resources.Code
                            </th>

                            <th>
                                @MyERP.Properties.Resources.ArName
                            </th>
                            <th>
                                @MyERP.Properties.Resources.EnName
                            </th>
                            <th>
                                @MyERP.Properties.Resources.Hall
                            </th>
                            <th>
                                @MyERP.Properties.Resources.Waiter
                            </th>
                            <th>
                                @MyERP.Properties.Resources.Notes
                            </th>
                            <th>
                                @MyERP.Properties.Resources.Active
                            </th>
                            <th>
                                @MyERP.Properties.Resources.Edit
                            </th>
                            <th>
                                @MyERP.Properties.Resources.Delete
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Code)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ArName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EnName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Hall.ArName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Employee.ArName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Notes)
                            </td>
                            <td>
                                <input type="checkbox" data-plugin="switchery" data-color="#00b19d" data-secondary-color="#ED5565" data-size="small" @Html.Raw(item.IsActive == true ? "checked" : "") onchange="ActivateDeactivate(@item.Id)" />
                            </td>
                            <td>
                                <a href="@Url.Action("AddEdit", "Table", new { id = item.Id })" onclick="$('#preloader, #status').fadeIn();">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </td>
                            <td>
                                <a href="javascript:void(0);" onclick="Delete(@item.Id)">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<div style="text-align:center;margin-bottom: 50px;">

    <div class="form-group row">
        <div class="col-sm-4">
            <select id="ShowByPage" class="form-control" style="width:70px;float:left;" onchange="paging()">
                <option value="10">10</option>
                <option value="30">30</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="200">200</option>
                <option value="@ViewBag.Count">@MyERP.Properties.Resources.All</option>
            </select>
            <span style="font-size:12px;float:right;"> @MyERP.Properties.Resources.NoOfResults : <span id="RowsCount">@ViewBag.Count</span></span>
        </div>
        <div class="col-sm-2">
            <lablel class="col-sm-8"> @MyERP.Properties.Resources.PageNo : </lablel>
        </div>
        <div class="col-sm-2">
            <select id="pagination" class="pagination form-control" style="width:70px;float:left;">
            </select>
        </div>
    </div>
</div>

<script>
     var pageNo = 1;
    var searchWord = '@Html.Raw(ViewBag.searchWord)';
    $('#ShowByPage').val(@ViewBag.wantedRowsNo);
    function paging() {
        var link = '/Table/Index?' + 'pageIndex=' + pageNo + '&wantedRowsNo=' + $('#ShowByPage').val() + '&searchWord=' + searchWord;
        window.location.replace(link);
    }
    function setPages() {
        var count =@ViewBag.Count;
        for (var i = 0; i < Math.ceil(count / $('#ShowByPage').val()); i++)
   $('#pagination').append('<option onchange="pageNo=' + (i + 1) + '; paging();" id="pg' + (i + 1) + '">' + (i + 1) + '</option>');
    }
    setPages();
   $('#pg' +@ViewBag.PageIndex).attr('selected', 'selected')
    $('#pagination').on('change', function () {
        pageNo = $('#pagination').val();
         paging();
    })
    function Delete(id) {
        if (confirm('@MyERP.Properties.Resources.AreYouSureYouWantToDelete')) {
            $('#preloader, #status').fadeIn();
            $.ajax(
                {
                    url: '/Table/Delete',
                    type: 'POST',
                    data: {
                        "Id": id,
                    },
                    error: function (e) {
                    },
                    success: function (r) {
                        if (r == 'true') {
                            window.location.reload();
                        }
                    }
                });
        }
    }
    function ActivateDeactivate(id) {
        $.ajax({
            url: '/Table/ActivateDeactivate',
            type: 'POST',
            data: {
                "Id": id,
            },
            error: function (e) {
                alert('@MyERP.Properties.Resources.TheActivationStateNotChanged')
            },
            success: function (r) {
                if (r == 'true') {
                    alert('@MyERP.Properties.Resources.TheActivationStateHasChanged')
                }
            }
        });
    }

</script>