@model IEnumerable<MyERP.Models.Employee>
@{
    if (System.Web.Configuration.WebConfigurationManager.AppSettings["ECommerce"] == "true")
    {
        Layout = "~/Views/Shared/_EcommerceLayout.cshtml";
    }
    else if (System.Web.Configuration.WebConfigurationManager.AppSettings["JobApp"] == "true")
    {
        Layout = "~/Views/Shared/JobApp.cshtml";
    }
    UICulture = Session["lang"] != null?Session["lang"].ToString():"ar";
    ViewBag.Title = @MyERP.Properties.Resources.Employees;
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                @if (System.Web.Configuration.WebConfigurationManager.AppSettings["JobApp"] == "true")
                {
                    <a class="btn btn-info" href="@Url.Action("AddEdit2")" role="button" style="float:left;">@MyERP.Properties.Resources.AddNew </a>
                }
                else
                {
                    <a class="btn btn-info" href="@Url.Action("AddEdit")" role="button" style="float:left;">@MyERP.Properties.Resources.AddNew </a>
                }
                <a class="btn btn-primary" style="margin-left: 0.5rem;" href="@Url.Action("ImportExcelFile")" role="button">@MyERP.Properties.Resources.ImportExcelSheet </a>
            </div>
            <div class="hed page-title"> @MyERP.Properties.Resources.Employees</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card-box">
            <div class="row">
                <div class="col-12">
                    <div class="form-horizontal" role="form">
                        <div class="form-group row">
                            <div class="col-xs-12 col-sm-6 col-lg-3">
                                <input type="text" class="form-control searchtxt" value="@Html.Raw(ViewBag.searchWord)" placeholder=@MyERP.Properties.Resources.Search>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-lg-3">
                                @Html.DropDownList("DepartmentId", null, @MyERP.Properties.Resources.Department, htmlAttributes: new { @class = "form-control searchtxt" })
                            </div>
                            <div class="col-xs-12 col-sm-3 col-lg-3">
                                <button type="button" class="btn btn-success btnSearch" onclick="searchWord = $('.searchtxt').val(); paging();">
                                    <i class="fa fa-search"></i>
                                </button>
                                <button type="button" class="btn btn-info btnSearch" onclick="pageNo = 1; searchWord=''; paging();">
                                    <i class="fe-refresh-ccw"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @if (System.Web.Configuration.WebConfigurationManager.AppSettings["JobApp"] == "true")
            {
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-striped table-centered mb-0">
                                <thead>
                                    <tr>
                                        <th>
                                            @MyERP.Properties.Resources.Code
                                        </th>
                                        <th>
                                            @MyERP.Properties.Resources.ArName
                                        </th>
                                        <th>
                                            @MyERP.Properties.Resources.Qualification
                                        </th>
                                        <th>
                                            @MyERP.Properties.Resources.GraduationYear
                                        </th>
                                        <th>
                                            @MyERP.Properties.Resources.RequestStatus
                                        </th>
                                        <th>
                                            @MyERP.Properties.Resources.Active
                                        </th>
                                        <th>
                                            @MyERP.Properties.Resources.Edit
                                        </th>
                                        <th>
                                            @MyERP.Properties.Resources.Delete
                                        </th>
                                       
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Code)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ArName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Qualification)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.GraduationYear)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ApplicantWorkStatu.ArName)
                                        </td>
                                        <td>
                                            <input type="checkbox" data-plugin="switchery" data-color="#00b19d" data-secondary-color="#ED5565" data-size="small" @Html.Raw(item.IsActive == true ? "checked" : "") onchange="ActivateDeactivate(@item.Id)" />

                                        </td>
                                        <td>
                                            <a href="@Url.Action("AddEdit2","Employee",new { id=item.Id })" onclick="$('#preloader, #status').fadeIn();">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="javascript:void(0);" onclick="DeleteFunc(@item.Id)">
                                                <i class="fas fa-trash-alt"></i>
                                            </a>
                                        </td>
                                       
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            }
            else
            {
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-striped table-centered mb-0">
                                <thead>
                                    <tr>
                                        <th>
                                            @MyERP.Properties.Resources.Code
                                        </th>
                                        <th>
                                            @MyERP.Properties.Resources.ArName
                                        </th>
                                        <th>
                                            @MyERP.Properties.Resources.Department
                                        </th>
                                        <th>
                                            @MyERP.Properties.Resources.HireDate
                                        </th>
                                        <th>
                                            @MyERP.Properties.Resources.Active
                                        </th>
                                        <th>
                                            @MyERP.Properties.Resources.Edit
                                        </th>
                                        <th>
                                            @MyERP.Properties.Resources.Delete
                                        </th>
                                        <th>
                                            @MyERP.Properties.Resources.PrintContract
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Code)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ArName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Department.ArName)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.HireDate)
                                        </td>



                                        <td>
                                            @*<label class="switch">
                @if (item.IsActive == true)
                {
                    <input class="switch-input" type="checkbox" checked="checked" onclick="ActivateDeactivate(@item.Id)" />
                }
                else
                {
                    <input class="switch-input" type="checkbox" onclick="ActivateDeactivate(@item.Id)" />
                }

                <span class="switch-label" data-on="نشط" data-off="غير نشط"></span>
                <span class="switch-handle"></span>
            </label>*@
                                            <input type="checkbox" data-plugin="switchery" data-color="#00b19d" data-secondary-color="#ED5565" data-size="small" @Html.Raw(item.IsActive == true ? "checked" : "") onchange="ActivateDeactivate(@item.Id)" />

                                        </td>
                                        <td>
                                            <a href="@Url.Action("AddEdit","Employee",new { id=item.Id })" onclick="$('#preloader, #status').fadeIn();">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="javascript:void(0);" onclick="DeleteFunc(@item.Id)">
                                                <i class="fas fa-trash-alt"></i>
                                            </a>

                                        </td>
                                        <td>
                                            @if(item.EmployeeContracts.Where(a => a.EmployeeId == item.Id).FirstOrDefault()!=null)
                                            { 
                                            <a href="@Url.Action("EmployeesContract","Report",new { id=item.EmployeeContracts.Where(a=>a.EmployeeId==item.Id).FirstOrDefault().Id})" target="_blank">
                                                <i class="remixicon-printer-fill"></i>
                                            </a>
                                            }
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@*<div style="text-align:center;margin-bottom: 50px;">

        <select id="ShowByPage" class="form-control" style="width:70px;float:left;" onchange="paging()">
            <option value="10">10</option>
            <option value="30">30</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="200">200</option>
            <option value="@ViewBag.Count">الكل</option>
        </select>

        <ul class="pagination pagination-rounded justify-content-center" ></ul>

        <span style="font-size:12px;float:right;"> عدد النتائج : <span id="RowsCount">@ViewBag.Count</span></span>
    </div>*@
<div style="text-align:center;margin-bottom: 50px;">

    <div class="form-group row">
        <div class="col-sm-4">
            <select id="ShowByPage" class="form-control" style="width:70px;float:left;" onchange="paging()">
                <option value="10">10</option>
                <option value="30">30</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="200">200</option>
                <option value="@ViewBag.Count">@MyERP.Properties.Resources.All</option>
            </select>
            <span style="font-size:12px;float:right;"> @MyERP.Properties.Resources.NoOfResults : <span id="RowsCount">@ViewBag.Count</span></span>
        </div>
        <div class="col-sm-2">
            <lablel class="col-sm-8"> @MyERP.Properties.Resources.PageNo: </lablel>
        </div>
        <div class="col-sm-2">
            <select id="pagination" class="pagination form-control" style="width:70px;float:left;">
            </select>
        </div>
    </div>
</div>


<script>
    var pageNo = 1;
    var searchWord = '@Html.Raw(ViewBag.searchWord)';
    $('#ShowByPage').val(@ViewBag.wantedRowsNo);

    function paging() {

        var link = '/Employee/Index?' + 'pageIndex=' + pageNo + '&wantedRowsNo=' + $('#ShowByPage').val() + '&searchWord=' + searchWord + '&departmentId=' + $('#DepartmentId').val();
        window.location.replace(link);
    }

    function setPages() {
        var count =@ViewBag.Count;
        for (var i = 0; i < Math.ceil(count / $('#ShowByPage').val()); i++)
           // $('.pagination').append('<li class="pageNo page-item" id="pg' + (i + 1) + '"><a class="page-link" href="javascript:void(0);" onclick="pageNo=' + (i + 1) + '; paging();">' + (i + 1) + '</a></li>');
     $('#pagination').append('<option onchange="pageNo=' + (i + 1) + '; paging();" id="pg' + (i + 1) + '">' + (i + 1) + '</option>');
    }

    setPages();
   $('#pg' +@ViewBag.PageIndex).attr('selected', 'selected')

    $('#pagination').on('change', function () {
        pageNo = $('#pagination').val();
         paging();

    })

  //  $('#pg' +ViewBag.PageIndex).addClass('disabled');

    function DeleteFunc(id) {
        if (confirm('@MyERP.Properties.Resources.AreYouSureYouWantToDelete')) {
            $('#preloader, #status').fadeIn();
            $.ajax(
                {
                    url: '/Employee/Delete',
                    type: 'POST',
                    data: {
                        "Id": id,
                    },
                    error: function (e) {
                        $('#preloader, #status').fadeOut();

                    },
                    success: function (r) {
                        if (r == 'true') {
                            window.location.reload();
                        }
                    }
                });
        }
    }

    function ActivateDeactivate(id) {
        $('#preloader, #status').fadeIn();
        $.ajax({
            url: '/Employee/ActivateDeactivate',
            type: 'POST',
            data: {
                "Id": id,
            },
            error: function (e) {
                $('#preloader, #status').fadeOut();

            },
            success: function (r) {
                if (r == 'true') {
                    $('#preloader, #status').fadeOut();
                    alert(' @MyERP.Properties.Resources.TheActivationStateHasChanged')
                }
            }
        });
    }
</script>