@model IEnumerable<MyERP.Models.OrderStatu>
@{
    if (System.Web.Configuration.WebConfigurationManager.AppSettings["ECommerce"] == "true")
    {
        Layout = "~/Views/Shared/_EcommerceLayout.cshtml";
    }
    else if (System.Web.Configuration.WebConfigurationManager.AppSettings["JobApp"] == "true")
    {
        Layout = "~/Views/Shared/JobApp.cshtml";
    }
    UICulture = Session["lang"] != null?Session["lang"].ToString():"ar";
    ViewBag.Title = @MyERP.Properties.Resources.ChangePassWord;
}


<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
@*<!DOCTYPE HTML>
    <html lang="en">
    <head>
        <title>تغيير كلمة المرور</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="assets/images/favicon.ico">

        <!-- App css -->
        <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/app.min.css" rel="stylesheet" type="text/css" />


        <meta name="keywords" content="Baxster Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
    SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <!-- Bootstrap Core CSS -->
        <link href="/css/bootstrap.css" rel='stylesheet' type='text/css' />
        <!-- Custom CSS -->
        <link href="/css/style.css" rel='stylesheet' type='text/css' />
        <!-- font CSS -->
        <link rel="icon" href="favicon.ico" type="image/x-icon">
        <!-- font-awesome icons -->
        <link href="/css/font-awesome.css" rel="stylesheet">
        <!-- //font-awesome icons -->
        <!--webfonts-->
        <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
        <!--//webfonts-->
        <!-- js -->
        <script src="/js/jquery-1.11.1.min.js"></script>
        <!-- //js -->
    </head>
    <body>

      <div class="login-heading" style="text-align: center;">
                <img src="/images/toplogo.png" style="width: 100%;max-width: 310px;" />
            </div>*@
@*<div class="account-pages mt-5 mb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="card">
                    <div class="card-body p-4">*@


<div class="card-box">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


        <div class="row">
            <div class="card" style="margin: auto;">
                <div class="card-body">
                    <div class="form-group row">
                        <label class=" col-sm-12 control-label" for="Code">
                            @MyERP.Properties.Resources.ReEnterPassWord :
                        </label>
                    </div>


                    <div class="form-group row">
                        <div class="col-sm-12">
                            <input class="form-control text-box single-line" type="password" id="currpassword" name="currentPassword" placeholder="@MyERP.Properties.Resources.CurrentPassWord" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-6">
                            <input class="form-control text-box single-line" type="password" id="newPassword" name="newPassword" onchange="check();" placeholder="@MyERP.Properties.Resources.NewPassWord" required>
                        </div>
                        <div class="col-sm-6">
                            <input class="form-control text-box single-line" type="password" id="confirmPassword" name="confirmPassword" onkeyup="check();" placeholder=" @MyERP.Properties.Resources.ConfirmPassword" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-12" style="text-align:center;">
                            <input class="btn btn-success" type="submit" id="save" name="Sign In" value="@MyERP.Properties.Resources.Save" disabled>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-12" style="text-align:center;">

                            <span id='message'></span>
                            @if (ViewBag.error != null)
                            {
                                <span style="color:red">@ViewBag.error</span>
                            }

                        </div>
                    </div>

                </div>
            </div>
        </div>

    }
</div>

@*</div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
@*<div class="copyright login-copyright">
        <p>© 2019 MySoft . All Rights Reserved . Design by <a href="http://mysoft-eg.com/">MySoft</a></p>
    </div>
    </body>
    </html>*@


<script>
    var check = function () {
        if (document.getElementById('newPassword').value ==
            document.getElementById('confirmPassword').value) {
            document.getElementById('message').innerHTML = '';
            document.getElementById('save').removeAttribute("disabled");
        } else {
            document.getElementById('save').setAttribute("disabled", "disabled");
            document.getElementById('message').style.color = 'red';
            document.getElementById('message').innerHTML = '@MyERP.Properties.Resources.PassWordNotMatched';
        }
    }
</script>