@model MyERP.Models.SalesRepresentativesGroup

@{
    UICulture = Session["lang"] != null ? Session["lang"].ToString() : "ar";
    ViewBag.Title = @MyERP.Properties.Resources.SalesRepresentativesGroup;
}
<script src="~/Scripts/SaveAndNew.js"></script>
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                @if (Model != null)
                {
                    if (Model.IsDeleted == false)
                    {
                        if (ViewBag.Previous > 0)
                        {
                            <a href="@Url.Action("AddEdit", new { id = ViewBag.First })" class="btn btn-info">@MyERP.Properties.Resources.First</a>
                            <a href="@Url.Action("AddEdit", new { id = ViewBag.Previous })" class=" btn btn-info">&#8250;</a>
                        }
                        if (ViewBag.Next > 0)
                        {
                            <a href="@Url.Action("AddEdit", new { id = ViewBag.Next })" class="btn btn-info">&#8249;</a>
                            <a href="@Url.Action("AddEdit", new { id = ViewBag.Last })" class="btn btn-info">@MyERP.Properties.Resources.Last</a>
                        }
                        <a class="btn btn-info" href="@Url.Action("Index")" role="button">@MyERP.Properties.Resources.Back</a>
                    }
                }
                else
                {<a class="btn btn-info" href="@Url.Action("Index")" role="button">@MyERP.Properties.Resources.Back</a>}
            </div>
            <h4 class="page-title"> @MyERP.Properties.Resources.SalesRepresentativesGroup </h4>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <div class="card-box">
            <form action="/SalesRepresentativesGroup/AddEdit" class="form-horizontal needs-validation" novalidate method="post" enctype="multipart/form-data">
                <div class="row">
                    @Html.AntiForgeryToken()
                    @if (Model != null)
                    {
                        @Html.HiddenFor(model => model.Id)
                        @Html.HiddenFor(model => model.IsActive)
                        @Html.HiddenFor(model => model.IsDeleted)
                        @Html.HiddenFor(model => model.UserId)
                        @Html.HiddenFor(model => model.Image)
                    }
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="header-title">
                                    @MyERP.Properties.Resources.MainData
                                </h5>
                                <br />
                                <div class="form-group row">
                                    <label class=" col-sm-2 control-label" for="Code">@MyERP.Properties.Resources.Code</label>
                                    <div class="col-sm-2">
                                        @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", placeholder = @MyERP.Properties.Resources.Code, @readonly = "readonly", required = "required" } })
                                        <div class="invalid-feedback">
                                            @MyERP.Properties.Resources.Code @MyERP.Properties.Resources.Required
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        @Html.DropDownListFor(model => model.FieldsCodingId, null, null, htmlAttributes: new { @class = "form-control" })
                                        <div class="invalid-feedback">
                                            @MyERP.Properties.Resources.Required
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class=" col-sm-2 control-label" for="ArName">@MyERP.Properties.Resources.ArName</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(model => model.ArName, new { htmlAttributes = new { @class = "form-control", placeholder = @MyERP.Properties.Resources.ArName, required = "required" } })
                                        <div class="invalid-feedback">
                                            @MyERP.Properties.Resources.ArName @MyERP.Properties.Resources.Required
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 control-label" for="EnName">@MyERP.Properties.Resources.EnName</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(model => model.EnName, new { htmlAttributes = new { @class = "form-control", placeholder = @MyERP.Properties.Resources.EnName } })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class=" col-sm-2 control-label" for="CommissionPerc">@MyERP.Properties.Resources.CommissionPerc</label>
                                    <div class="col-sm-3">
                                        @Html.EditorFor(model => model.CommissionPerc, new { htmlAttributes = new { @class = "form-control", placeholder = @MyERP.Properties.Resources.CommissionPerc, required = "required" } })
                                        <div class="invalid-feedback">
                                            @MyERP.Properties.Resources.CommissionPerc @MyERP.Properties.Resources.Required
                                        </div>
                                    </div>
                                    <span class="col-sm-1"> % </span>
                                </div>

                                <div class="form-group row">
                                    <label class="control-label col-sm-2" for="Notes">@MyERP.Properties.Resources.Notes</label>
                                    <div class="col-sm-4">
                                        <textarea id="Notes" name="Notes" class="form-control" rows="5" cols="5">@if (Model != null) { @Model.Notes; }</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <input id="new" name="newBtn" hidden />
                                <div style="float:left;">
                                    @if (Model == null)
                                    {
                                        <button type="submit" id="newbtn" class="btn btn-success">
                                            @MyERP.Properties.Resources.SaveAndNew
                                        </button>
                                        <button type="submit" class="btn btn-success">
                                            @MyERP.Properties.Resources.Save
                                        </button>
                                        <a class="btn btn-danger" href="@Url.Action("Index")" role="button">@MyERP.Properties.Resources.Back</a>
                                    }
                                    else
                                    {
                                        if (Model.IsDeleted == false)
                                        {
                                            <button type="submit" class="btn btn-success">
                                                @MyERP.Properties.Resources.Save
                                            </button>
                                            <a class="btn btn-danger" href="@Url.Action("Index")" role="button">@MyERP.Properties.Resources.Back</a>
                                            <a href="javascript:void(0);" class="btn btn-danger" onclick="DeleteFunc(@Model.Id)" role="button">@MyERP.Properties.Resources.Delete</a>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        if (!$('#Id').val()) {
            setCodeNum();
        }
        else {
            $('#FieldsCodingId').prop('disabled', true);
        }
    });

    function setCodeNum() {
        var doc = $.get('/SalesRepresentativesGroup/SetCodeNum?FieldsCodingId=' + $('#FieldsCodingId').val()).done(function (r) {
            $('#Code').val(r);
        });
    }
    $('#FieldsCodingId').on('change', function () {
        if (!$('#Id').val()) {
            setCodeNum();
        }
    });

    // disable gives Null with form Submit so we have to reverse it in submin
    $("form").submit(function () {
        $("#FieldsCodingId").prop('disabled', false);
    });

    function DeleteFunc(id) {
        Swal.fire({
            title: '@MyERP.Properties.Resources.AreYouSureYouWantToDelete',
            text: " ",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: '@MyERP.Properties.Resources.Ok',
            cancelButtonText: '@MyERP.Properties.Resources.Cancel',
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                $('#preloader, #status').fadeIn();
                $.ajax(
                    {
                        url: '/SalesRepresentativesGroup/Delete',
                        type: 'POST',
                        data: {
                            "Id": id,
                        },
                        error: function (e) {
                            $('#preloader, #status').fadeOut();
                            Swal.fire({
                                title: '@MyERP.Properties.Resources.DeleteDoesNotSucceeded',
                                text: " ",
                                icon: 'error',
                                showCancelButton: false,
                                confirmButtonText: '@MyERP.Properties.Resources.Ok',
                                confirmButtonColor: '#3085d6'
                            });
                        },
                        success: function (r) {
                            if (r == 'true') {
                                window.location.replace('/SalesRepresentativesGroup');
                            } else
                                Swal.fire({
                                    title: '@MyERP.Properties.Resources.DeleteDoesNotSucceeded',
                                    text: " ",
                                    icon: 'error',
                                    showCancelButton: false,
                                    confirmButtonText: '@MyERP.Properties.Resources.Ok',
                                    confirmButtonColor: '#3085d6'
                                });
                        }
                    });
            }
            else { result.dismiss; }
        });

        @*if (confirm('@MyERP.Properties.Resources.AreYouSureYouWantToDelete')) {
            $('#preloader, #status').fadeIn();
            $.ajax(
                {
                    url: '/SalesRepresentativesGroup/Delete',
                    type: 'POST',
                    data: {
                        "Id": id,
                    },
                    error: function (e) {
                        $('#preloader, #status').fadeOut();
                        Swal.fire({
                            title: '@MyERP.Properties.Resources.DeleteDoesNotSucceeded',
                            text: " ",
                            icon: 'error',
                            showCancelButton: false,
                            confirmButtonText: '@MyERP.Properties.Resources.Ok',
                            confirmButtonColor: '#3085d6'
                        });                    },
                    success: function (r) {
                        if (r == 'true') {
                            window.location.replace('/SalesRepresentativesGroup');
                        } else
                            Swal.fire({
                                title: '@MyERP.Properties.Resources.DeleteDoesNotSucceeded',
                                text: " ",
                                icon: 'error',
                                showCancelButton: false,
                                confirmButtonText: '@MyERP.Properties.Resources.Ok',
                                confirmButtonColor: '#3085d6'
                            });
                    }
                });
        }*@
    }
</script>


